[2021-09-22 07:29] saadpasta commented on #415
Go for it

On Wed, Sep 22, 2021 at 11:27 AM Priyansh Khandelwal <
***@***.***> wrote:

--
Peace ✌️

[2021-09-24 06:53] MrAsimZahid commented on #414
@tabassum2507 @nayabatir1
Pull requests are welcome.

Please review this issue to understand replicate here.
https://github.com/saadpasta/developerFolio/issues/405
Thanks.

[2021-09-28 05:15] kartikcho commented on #414
Font awesome doesn't support leetcode icon and we shouldn't add extra icons for stuff it doesn't support (if we start going down this road, there won't be an end to the amount of social profile icons we could add). We should leave that option to customize for the end user.

[2021-09-28 05:15] #414 closed

[2021-09-28 05:23] nayabatir1 commented on #414
@kartikcho then why created an issue in first place?

[2021-09-28 05:26] kartikcho commented on #414
You can see that it wasn't one of the maintainers who created it.

[2021-10-01 06:00] varunsh17 commented on #415
Will give you pull request once I am done !

[2021-10-01 06:21] varunsh17 commented on #415
How should I add carousel ? should I place one card and then simply add carousel over the 3 cards ? and where to place the one card ?

[2021-10-01 06:25] varunsh17 commented on #415
![image](https://user-images.githubusercontent.com/81704366/135575137-629068f0-b211-4fc0-9c4e-afd0195e48c4.png)
![image](https://user-images.githubusercontent.com/81704366/135575190-7a140f06-d130-4211-826f-8fd92a5ee217.png)
Which type of carousel do you want ?

[2021-10-01 06:49] rajmunkhan commented on #415
@saadpasta I can make the sliding carousel for you, please let me do it.

[2021-10-01 08:36] priyanshk20 commented on #415
@varunsh17 @rajmunkhan This issue is already assigned to me and I have almost completed it. Please find some other issue.
Thanks.

[2021-10-01 08:48] varunsh17 commented on #415
@priyanshk20  Got it buddy thanks 😊

[2021-10-01 09:24] Rispectech commented on #212
@kartikcho  if this issue is open then I would like to take it

[2021-10-01 09:38] Rispectech commented on #213
@kartikcho  can I take this issue, please? anyone between this and  #212 works for me. i would prefer solving both of them if that's acceptable for you

[2021-10-01 09:43] kartikcho commented on #212
Sure @Rispectech! You can read the discussion above before opening a PR and ask if you have any questions.

I would suggest you to do one issue before taking more at once to keep other tasks available for other peeps too. (also easier to work this way)

[2021-10-01 09:51] #413 closed

[2021-10-01 16:20] RedHeadphone commented on #404
by docs you mean README.md right ? Can I add it ? Also it should come after https://github.com/saadpasta/developerFolio#using-emojis right?

[2021-10-01 16:34] kartikcho commented on #404
Yeah that sounds good. Link to https://lottiefiles.com/ and mention how users can find new Lotties there, how to insert your own Lottie json animation and cover a bit about the options available in the `react-lottie` library.

Assigning this to you @RedHeadphone!

[2021-10-01 17:04] Rispectech commented on #212
Thanks a lot @kartikcho . yeah u are right sorry got a bit ahead of myself

What I got from the above discussion, u need an error message on the console given the information from the external APIs is null. so sure it looks good my suggestion is we can set some default values if we don't get the information along with the error messages on the console. please tell me whether it is good enough.
als

[2021-10-01 17:35] RedHeadphone commented on #404
this will do ?

#### Customize Lottie Animations

You can choose a lottie and download it in json format from [this page](https://lottiefiles.com/). In `src/assets/lottie`, replace the lottie json file you want to alter with the same file name. If you want to change the lottie options, go to `src/components/displayLottie/DisplayLottie.js` and change the `defaultOptions` object.

[2021-10-01 18:16] kartikcho commented on #404
@RedHeadphone just open a PR, we can discuss what's good during the reviews!

[2021-10-01 18:20] kartikcho commented on #212
Yes error messages on the console would be best. Also, I think default values would defeat the purpose of adding errors since we want them to blow up in the user's face to tell them that stuff isn't working. Just make sure to throw informative errors that would help users find out what's wrong.

Also, we can keep the discussion here as a sort of documentation to refer back to or in case someone ne

[2021-10-01 19:04] Rispectech commented on #212
okay done will start working asap
and what u think about displaying the error like "this missing" on the UI along with the console message

[2021-10-02 07:40] #404 closed

[2021-10-02 14:03] Rispectech commented on #212
hey since you didn't reply today, so I complete the error message handling according to my understanding. So can I submit my PR request?

[2021-10-02 15:18] kartikcho commented on #212
Hey @Rispectech!

I think data dependent UI components (like twitter) have a fallback message so just add console messages in your PR.

We run a workflow script to fetch data every week, see `fetch.js` for the exact implementation.

Yeah sure!

[2021-10-02 16:48] Rispectech commented on #212
Submitted the PR @kartikcho #430. Please check and review whether I need to do something else
Thanks

[2021-10-02 23:57] Bivas-Biswas opened #431 "Not Mobile responsive"
Need to be mobile responsive

[2021-10-03 11:03] kartikcho commented on #431
That's not a very descriptive issue and the app has been responsive from the start.
If you could you provide more information we can reopen the issue.

[2021-10-03 11:03] #431 closed

[2021-10-04 15:51] BraydenTW opened #432 "No hidden overflow when “What I do” section animates in on mobile"
**Describe the bug**
When the “What I do” section animates in on mobile, the width of the page extends.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the homepage ON MOBILE or a SMALL SCREEN.
2. Scroll down past the hero.
3. Notice that the width of the screen expands into the overflow while the “What I do” section animates in from the right.

**Expected behavior**
The animated secti

[2021-10-04 15:51] BraydenTW commented on #432
@saadpasta I would love to tackle this.

[2021-10-12 20:47] S-codes14 commented on #415
@saadpasta I am done
![Screenshot from 2021-10-12 22-30-44](https://user-images.githubusercontent.com/81442054/137026681-4f28e3ec-2d83-49ca-95e5-ea1ca2116e6a.png)
![Screenshot from 2021-10-12 22-30-57](https://user-images.githubusercontent.com/81442054/137026691-c6982f8b-009a-4e50-8979-54de47092c95.png)
![Screenshot from 2021-10-12 22-31-06](https://user-images.githubusercontent.com/81442054/13702

[2021-10-12 20:48] S-codes14 commented on #415
sorry but you took your time i waited patiently for you to make this feature

[2021-10-21 09:21] marcpinet opened #439 "A way to add custom svg icons that aren't in Font Awesome website"
## Summary
A way to add custom svg icons (using relative path) that aren't in Font Awesome website.

### What's new?
Currently, we can't to this. We can only use fontawesome icons and they're mostly outdated or lacking.

[2021-11-05 14:44] iamvs-2002 opened #444 "Open Source tab is not shown"
**Describe the bug**
A clear and concise description of what the bug is.
Open Source tab is not shown
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Readme.md'
2. Click on 'video/gif'
3. Scroll down to 'Open Source'
4. See the error

**Expected behavior**
A clear and concise description of what you expected to happen.
It should display every tab
**Is this responsiveness Issue**
YES/NO

[2021-11-05 14:44] iamvs-2002 commented on #444
I faced this issue twice.

[2021-11-05 18:09] #444 closed

[2021-11-28 07:57] kartikcho commented on #439
Sorry for the late reply @marcpinet!
You can do it but you'd need to tweak the code manually in [`src/components/softwareSkills/SoftwareSkill.js`](https://github.com/saadpasta/developerFolio/blob/master/src/components/softwareSkills/SoftwareSkill.js) to use custom icons instead of using `portfolio.js` using the fa ones.

[2021-11-28 09:16] marcpinet commented on #439
Hello, thank you for your answer. Do you have any idea about how can I do that? I'm a newbie at JS so I don't really have any idea about how to do that.

Thank you in advance!

[2021-11-28 19:03] kartikcho commented on #439
There are multiple ways to do it like using another external icon library (different from FA) or importing your own custom SVGs (which I assume is what you're asking).

You can remove all of the part below and just use your own imported icons list directly
[code]

Since we've used create-react-app to build this app, you can import SVGs like `import icon from '../iconlocation/icon.svg`
and then use

[2021-11-28 20:01] marcpinet commented on #439
And is there a way to use FontAwesome 6 instead of the 5.15 used?

[2021-11-30 04:58] kartikcho commented on #439
You can see how to do it in detail in the [FontAwesome docs](https://fontawesome.com/v5.15/how-to-use/on-the-web/referencing-icons/basic-use) but it seems FA6 is still in beta.

[2021-12-06 05:58] wehs7661 opened #451 "Failed to compile due to a syntax error in `./src/containers/projects/Projects.js`"
**Describe the bug**
Hi,
I'm new to this template and I followed the instruction in `README` to install all packages required for the template. However, after executing `npm start`, I got the following error.

[code]
I'd edited `.env` file to update my GitHub username and token before executing the command. My versions of my `node` and `npm` are `v16.13.1` and `8.1.2`, respectively. Please let me

[2021-12-09 14:07] kartikcho commented on #451
Hey @wehs7661, sorry for the late reply!

I just pulled the latest master and was able to run it without any issues. However this could be an issue since it is obviously happening for you.

I would suggest to make a new clean clone of the template with no changes or additions like adding an environment variable (even though that shouldn't be the cause of the error).

Simply run `npm install` and t

[2021-12-10 11:24] CodeLikeAGirl29 commented on #451
No that import statement is in the wrong place! Just copy that whole line and put it with the other 'import' statements!

[2021-12-11 01:38] wehs7661 commented on #451
Making a new clean clone did work! I think I accidentally modified `package-lock.json` and `package.json`. (I don't really remember what I might have changed though.) Thanks a lot for the reply!

[2021-12-15 11:10] kartikcho commented on #451
@CodeLikeAGirl29 it isn't in the wrong place 😅 , we're using dynamic imports for the `GithubRepoCard`, you can read more about it [here](https://reactjs.org/docs/code-splitting.html#reactlazy).
No problem, glad that your issue was resolved @wehs7661!

[2021-12-15 11:10] #451 closed

[2021-12-19 07:59] mrtkp9993 commented on #381
@zainkhalid91 How did you solve this problem?

[2021-12-19 08:02] mrtkp9993 opened #453 "Cannot use CodersRank"
It says

[code]

but there is no username in that file.

[2021-12-20 04:07] zainkhalid91 commented on #381
I wasn't able to fix it so I skipped.

[2022-01-01 07:10] akshay-na commented on #357
@saadpasta  @kartikcho  Hey, sorry for tagging. Can you guys review my pull request? I tried to implement the Lottie preloader. Please let me know it requires some kind of fixes or any additions. The gifs are attached to the pull request.  Thanks

[2022-01-14 17:21] #389 closed

[2022-01-14 17:35] kartikcho opened #456 "Switch font sizes to using 'rem' units instead of pixels or 'em'"
## Summary
We should switch to using 'rem' units instead of the inconsistent pixel values for improving accessibility and following accessible web design best practices.

### What's new?
The font sizes should switch to 'rem' but the final design should remain almost completely similar to before.
For conversion reference, 16px = 1rem.

### Motivation
Improving accessibility and following accessible

[2022-01-15 06:29] SpectralGT commented on #456
Assign me this.

[2022-02-18 11:52] techiesalman commented on #439
@marcpinet you can try https://devicon.dev/

Here you will get some other icons that are not available in FontAwesome. You need to add their CDN in index.html and insert icon name same like FA and your job will be done.

[2022-02-20 04:06] marcpinet commented on #439
It worked, thanks!

[2022-02-20 04:06] #439 closed

[2022-03-01 17:06] #357 closed

[2022-03-02 17:47] #456 closed

[2022-03-03 18:45] saadpasta commented on #453
Can you please elaborate about the issue that you are facing?

[2022-03-09 10:40] adarsh-goel opened #472 "Option to switch theme"
## Summary
**First of all shout out to you and your team for such great work <3
**I would like to request you to add option to change theme like** https://github.com/ashutosh1919/masterPortfolio/blob/master/src/theme.js**
**because write now the background is plain white i would like to make it look cool like the example stated**
### What's new?
**It will make it easier to customise plus switch by

[2022-03-10 04:34] adarsh-goel commented on #472
pick it up as in, I am not familiar with js I only know python and c++ only tbh

[2022-03-11 09:42] adarsh-goel opened #473 "POOR SITE PERFORMANCE :/"
LOOK AT SITE PERFORMANCE
               ↓
https://pagespeed.web.dev/report?url=https://developerfolio.js.org/

[2022-03-11 14:35] adarsh-goel opened #474 "Twitter Tweet box Not showing"
I filled the var correctly for twitter username without @ and also set display to true even then its not showing my username is adarshgoel05

[2022-03-11 14:37] adarsh-goel commented on #474
live site --> https://itsadarsh.tech

[2022-03-13 07:54] adarsh-goel commented on #474
now fine!! dunno how come

[2022-03-13 07:54] #474 closed

[2022-03-14 10:50] adarsh-goel opened #475 "WHY ANYTHING AHEAD OF DOMAIN.COM/* IS IGNORED"
I want to access a file (pdf) for which url is domain.com/resume.pdf but i don't know code ignore it and open the website and not file this is very frustrating at it makes it impossible to store and serve files because  domain is reserved for site only! @saadpasta

[2022-03-14 10:56] MuhammadHasham23 commented on #473
Hey @adarsh-goel ! first of all thanks for pointing this out. If you see an issue, it would be really great if you could come up with a merge request that resolves that issue.

[2022-03-21 06:07] bobbyirawan09 opened #477 "Github and Medium failed to load"
**Summary**

I had a problem when using getting data from Github and Medium. Already follow the documentation, add access token for Github, use my Medium and Github username. But it still shows an error, I don't think my changes cause the bug. Can you please help check this issue? Thank you.

For the record, I usually deploy from the command line `npm run build` to deploy to production. Please ref

[2022-03-26 22:38] niharpatel1999 commented on #477
did you make changes in the .env file ?
add your github username and token in that file

run npm install
run npm start

this should clear your error.

[2022-03-31 13:46] Kremzon opened #481 "Blogs section not updating after github actions"
**Describe the bug**
Blogs section is incorrect after github actions build. It shows some default values

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Update blogs section
3. Commit changes and let github actions finish build and deploy

**Expected behavior**
Blogs section will be update to new values

**Is this responsiveness Issue**
NO

**Screenshots**
![image](https://user

[2022-03-31 13:58] Kremzon commented on #481
My bad.
Forgot to update deploy.yaml

[2022-04-03 15:34] kartikcho commented on #475
Not enough information

[2022-04-03 15:34] #475 closed

[2022-04-03 15:37] kartikcho commented on #477
Could you also confirm if you can see fetched data in local dev? If not then do as suggested above (and in the docs)

[2022-04-03 15:39] kartikcho commented on #472
We do support theming, much more extensively by using scss. Checkout the [global scss variables config file](https://github.com/saadpasta/developerFolio/blob/master/src/_globalColor.scss) to tweak things according to your usecase @adarsh-goel

[2022-04-03 15:39] #472 closed

[2022-04-04 01:14] bobbyirawan09 commented on #477
already solve the problem, here are the steps

- I clone the new project on the main repository. Try it and its works
- Copy the whole project and paste it on my own. The changes will appear. Try it and its works
- Build the production and now its working fine

Thanks for all your reply, sorry for causing the trouble

[2022-04-04 01:14] #477 closed

[2022-04-05 14:27] GiuSirianni opened #483 "greetings svg do not show"
**Describe the bug**
if setting animated=false in illustration the static svg do not appear

[2022-04-05 18:26] iPankajKumar opened #484 "Images in Dark mode look weird"
When in light mode, all the images which have dark blue shade, like the computer desk or the Dart image looks fine, but in dark mode they aren't visible as they use dark colors and don't dynamically become white or change to a light shade when the website is switched to dark mode.

[2022-04-17 01:48] Tolulope05 commented on #484
This can be solved unless you rewrite the scripts to chance images src attributes when you change mode, Which needs a lighter copy of each image so they can be toggled accordingly @iPankajKumar

[2022-04-17 06:03] iPankajKumar commented on #484
@Tolulope05 , Yeah, I hope devs have noticed it and it is under future plan has dark mode is very common to use on web and it is making all images look incomplete.

[2022-04-24 03:34] Guohao91 opened #485 "Start local dev server issue"
hi, Saad Pasta and Kartik

This is my first time to build up my personal portfolio on site, and i like your layout design like the scroll down browse way.
While I was doing this step,

**# Start a local dev server
npm start**

I get errors like the following:
![Screenshot from 2022-04-23 20-16-471231](https://user-images.githubusercontent.com/54188732/164955215-385556b4-27ff-47e2-be0f-7bd4cfb10958

[2022-04-24 05:06] arifszn commented on #299
[Blog-js](https://github.com/arifszn/blog-js) can be used.
- NPM: https://www.npmjs.com/package/@arifszn/blog-js
- Demo: https://arifszn.github.io/gitprofile

[2022-04-24 09:45] EndLess728 commented on #485
You have to put your github username and medium username in .env file, It is required to run the project .

However there is a workaround you can do for medium if you don't have medium account.

Do below change in Fetch.js file on line number 98.

Replace this code

`if (MEDIUM_USERNAME !== undefined)`

with this one
[code]

[2022-04-24 22:02] Guohao91 commented on #485
@EndLess728
Oh hi, thank you so much for your answer! I believe this would work very well later.
but now, i find actually there is an issue makes me stuck here:
![Screenshot from 2022-04-24 14-57-15](https://user-images.githubusercontent.com/54188732/164998366-458aa8cf-0520-4c05-94bf-3e59e16aa4bc.png)
so when i install dependencies by "npm install", it shows up here and i've changed the authority

[2022-04-25 00:14] EndLess728 commented on #485
Follow these steps .

https://github.com/saadpasta/developerFolio#how-to-use

The third step is important. You have to make a copy of env.example to .env and then you have to put your github token , username there

# For Linux
cp env.example .env

And instead of npm , use yarn because i also faced issues while installing packages using npm .

[2022-04-25 11:20] EndLess728 opened #486 "Big Projects section not visible"
**Describe the bug**
I added 8 Big projects to my portfolio and it was working good in desktops but when i open it in mobile it doesn't show the section there is only blank space available.

**To Reproduce**
Steps to reproduce the behavior:
1. Add more than 6 projects
2. Open in mobile and scroll to the big projects section.

**Expected behavior**
It should be visible as normal

**Is this responsi

[2022-04-26 03:09] Guohao91 commented on #485
@EndLess728
Okk, yea! I do follow the instructions but i am just new here, so let me try every step one by one.
![Screenshot from 2022-04-25 20-05-20](https://user-images.githubusercontent.com/54188732/165212117-8c1ea42f-4681-408a-a190-218b4b7af39d.png)
so, here as the recommend said, i don't select any scope but just generate a simple token, right?
![Screenshot from 2022-04-25 20-06-19](https://u

[2022-04-26 18:39] #483 closed

[2022-04-29 00:46] #485 closed

[2022-04-29 01:02] Guohao91 opened #487 "Issue from npm start"
HI, guys

I've already done the setup steps by following the instruction, however when i run npm start, I got this:
![Screenshot from 2022-04-28 17-57-25](https://user-images.githubusercontent.com/54188732/165870275-1431b671-4109-426c-94d3-8f909968a4ef.png)

And I also tried with yarn start, still:
![Screenshot from 2022-04-28 17-58-20](https://user-images.githubusercontent.com/54188732/165870324-

[2022-04-30 02:08] kartikcho commented on #487
@Guohao91 Looking at the error it looks like your GitHub username isn't set correctly (it is trying to fetch for "YOUR GITHUB USERNAME HERE") and I assume it's the same for the token too.

Have you created a `.env` file from `env.example` and have you set it up correctly with the GitHub token and username?

[2022-04-30 05:22] Guohao91 commented on #487
@kartikcho  Thanks for your reply so much Kartikcho! So appreciate it!
So firstly I do copied the env.example file to ygh.env by operating cp env.example .env in the terminal.
the files in the root directory of the project look like this:
![Screenshot from 2022-04-29 21-49-08](https://user-images.githubusercontent.com/54188732/166091525-0ebe5da0-809c-4f8d-a86b-e62c5adc35c4.png)
so then i got into

[2022-04-30 05:25] Guohao91 commented on #487
@kartikcho
by the way, I operated "npm install --legacy-peer-deps" instead of "npm install".
Because i got so many errors by operating it.
so then i had this:
![Screenshot from 2022-04-29 22-25-12](https://user-images.githubusercontent.com/54188732/166092550-79e0596f-2093-4399-b045-5babc5cd22cf.png)

[2022-04-30 05:28] kartikcho commented on #487
@Guohao91 the npm warnings are not the issue, the problem is with the fetch request to GitHub failing because it isn't reading the env file.
The copied env file from the env.example should be named '.env' and not 'ygh.env' which I think isn't being read when the script is run.

Could you try renaming the file to .env, run `yarn start` and show me the log if it fails again?

[2022-04-30 05:35] Guohao91 commented on #487
@kartikcho
Hi,
I firstly tried with "cp env.example .env", it didn't do anything. then I tried "cp env.example env.", then env. file generated!
![Screenshot from 2022-04-29 22-32-33](https://user-images.githubusercontent.com/54188732/166092899-af85580e-ace5-41dc-9252-54fc429588bb.png)

so the command "cp env.example .env" in the instruction is a typo??

[2022-04-30 05:47] Guohao91 commented on #487
@kartikcho
wait, i think i know what the problem is. The command actually create the .env file,
and when i tried to rename my previous ygh.env file, it shows:
![Screenshot from 2022-04-29 22-45-12](https://user-images.githubusercontent.com/54188732/166093240-cfcf9d16-369e-418b-ad87-604f8120fe5e.png)
so, why doesn't the .env file show up in the directory folder??

[2022-04-30 06:01] kartikcho commented on #487
The file should have no name but only an extension, that is .env
Try opening this folder in vscode and it should show the .env file which you can edit there too. Your file system might be hiding the file in the file explorer

Also delete all the extra env files from this folder for good measure.

Sorry this is taking too long to setup for you @Guohao91 😅 looks like our docs are not good enough on

[2022-04-30 06:05] Guohao91 commented on #487
Hi, i fixed it by myself!
![Screenshot from 2022-04-29 23-01-57](https://user-images.githubusercontent.com/54188732/166093750-22ddfc82-58c6-4a13-9f48-f8c55a81fb38.png)
Lol, thank you so much @kartikcho !
Yes, the .env file is hidden by system!
your docs is detailed honestly, I am just too new to Node.js and configuration with .env file
Anyways, you help me to work out this problem!
A huge apprecia

[2022-04-30 06:17] kartikcho commented on #487
Good to see you figured it out @Guohao91!
I'll close the issue now, feel free to ask if you have any other questions related to the portfolio.
Happy to help!

[2022-04-30 06:17] #487 closed

[2022-04-30 22:43] Guohao91 opened #489 "Deploying Questions"
So now i am at this step:
![2](https://user-images.githubusercontent.com/54188732/166124810-60a62cf1-cae3-411b-a137-a86dc26c157e.png)
 what i've done are:
![3](https://user-images.githubusercontent.com/54188732/166124842-7e8d43ac-86a3-4134-8a0b-eb1c190678b3.png)
Cause I tried to add the homepage field for my project, I did with : "homepage": "https://Guohao91.github.io/developerFolio",
and "deploy

[2022-05-01 03:45] kartikcho commented on #489
This is a git error @Guohao91 and not something with the app itself.

Since you're new to this, I would recommend that you search this error and see if you can try to figure it out yourself.

To help, I'll give you a hint to get started: the script is trying to access this repository, not yours, and is throwing an error because you don't have permissions to this repo

If you still can't figure it

[2022-05-01 05:54] Guohao91 commented on #489
@kartikcho
great thanks!
Just give me a few days, i'll try my best to figure this out!

[2022-05-01 05:57] Guohao91 commented on #489
@kartikcho
But you know what, I actually understand the error it demos there. So i am now doubting if the access token i generated is not correct. I mean i didn't select any scope when i generated the key token. Could this be the reason?

[2022-05-01 06:17] kartikcho commented on #489
I don't think it's an issue with the access token scope [as the docs say](https://github.com/saadpasta/developerFolio#linking-portfolio-to-github). I think it could be because your [git remote](https://www.git-tower.com/learn/git/faq/git-add-remote/) is configured to this repo instead of your own but I'll leave some stuff for you to figure out!

[2022-05-01 06:21] kartikcho commented on #484
Good point @iPankajKumar but using two sets of images/lottie animations will probably make the page take a performance hit on first dark/light mode switch (which doesn't make for a good experience).
When I added the lottie animations and the images, the project only had light mode so the contrast for dark mode wasn't in thought then.
I think a good solution would be to update the current images/lo

[2022-05-01 06:28] kartikcho commented on #486
react-awesome-reveal is actually [larger](https://bundlephobia.com/package/react-awesome-reveal@3.8.1) than react-reveal so I don't think the switch is worth it.
I am also not able to repro it on my end

[2022-05-01 06:33] iPankajKumar commented on #484
@kartikcho
Yeah that would ve a good alternative, choosing a color which looks good both in dark and light mode.

[2022-05-05 02:25] Guohao91 commented on #489
@kartikcho
HI, I have tried with many ways, like in the following:
![1](https://user-images.githubusercontent.com/54188732/166854144-bec1de30-d6d4-4809-b497-5936b1974e41.png)
![2](https://user-images.githubusercontent.com/54188732/166854157-7cbe8c06-262a-4a8c-a52a-9966a3e2fc44.png)
And I also change the origin repository to my  built repo, it still doesn't have the access,
![4](https://user-images

[2022-05-23 16:03] saiteja13427 commented on #489
@Guohao91 Not sure why are you still getting an error.

But I can suggest a alternative if you still have this issue.

1. Run `npm build`
2. Navigate to build `cd build`
3. Initialize a git repo there.
4. Set the origin as your github repo
5. Then add, commit and push everything in the build folder.

This should take your portfolio up and running I guess.

**Note:** Downside for this approach is y

[2022-05-23 16:55] saiteja13427 opened #490 "Same Height For the OpenSource Project Cards"
**Describe the bug**
Currently the height of the opensource project cards varies depending on the project content. I think we should try making the height same.

**To Reproduce**
Its visible on the homepage

**Screenshots**
![image](https://user-images.githubusercontent.com/40917760/169863166-35382581-08ff-48f7-b0ce-dafb3d54d0d6.png)

**Note:** I would like to take this up, please assign it to me.

[2022-05-23 18:40] Guohao91 commented on #489
@saiteja13427
Hi, Thanks a lot for your suggestion.
I already found a way to fix this problem around. I am gonna close this issu.

Thanks a gain anyways!

[2022-05-25 06:01] saiteja13427 opened #491 "Addinf Preact"
## Summary
I think we can better the performance of the website by adding Preact.

### What's new?
Nothing much would change, we would just shift to preact. Everything else would remain exactly same.

### Motivation
I recently saw that preact can bring considerable improvement to react projects. So, thought to add it here as well.

### Additional context
**What is preact?**
Preact is a 3kb alterna

[2022-06-09 09:22] Aghostyy opened #494 "HELP ME!!"
im run cmd npm start but get a error = 'react-scripts' is not recognized as an internal or external command,
operable program or batch file.

[2022-06-10 09:47] Fo0xx commented on #494
Try to use the cmd 'npm install' first to install the dependencies

[2022-06-16 17:08] madisoncarsan opened #495 "Is there a way to edit after deploying?"
**Describe the bug**
Can't find a way to edit after deploying

[2022-06-20 05:58] janie-lee-developer opened #497 "Heroku Deployment H10 error"
**Describe the bug**
Heroku Deployment H10 app crash error
I am trying to deploy on Heroku. The app is successfully built. But when I try to load the page, the app crashes w/ H10 error. Pls advise what could resolve this? Thank you in advance.
<img width="1449" alt="Screen Shot 2022-06-20 at 1 58 03 AM" src="https://user-images.githubusercontent.com/58411107/174534619-7b12a9d9-934c-4a8c-ad0d-e58d8

[2022-06-24 17:03] rgoyal0001 opened #498 "unable to run"
unable to npm start

error is ----

npm start

Fetching profile data for YOUR GITHUB USERNAME HERE
Fetching Medium blogs data for YOU MEDIUM USERNAME HERE
node:_http_client:160
      throw new ERR_UNESCAPED_CHARACTERS('Request path');
      ^

TypeError [ERR_UNESCAPED_CHARACTERS]: Request path contains unescaped characters
    at new NodeError (node:internal/errors:377:5)
    at new ClientRequest

[2022-06-25 01:52] PythonOrC opened #499 "How to deploy this to github page?"
Is there a way to deploy this to GitHub pages directly?

[2022-06-25 20:36] Ishan-001 opened #500 "Documentation for showing github data"
Currently, github data for one's profile isn't fetched unless we add `USE_GITHUB_DATA = "true"` to the `.env` file. Maybe adding this line in the documentation might be helpful.

@saadpasta

[2022-07-08 23:56] shehwar-ahmad opened #503 "Error while Package Installation"
I used npm install and npm install --force to install the packages but got errors for both times.

npm version: 8.13.2
node version: 17.7.2

Errors are as follows:

![error](https://user-images.githubusercontent.com/50246426/178083083-21392261-e7a0-4445-b34a-b01200feb7ed.png)

What could be the issue? Is it the node or npm version

[2022-07-09 14:15] #503 closed

[2022-07-10 15:58] #494 closed

[2022-07-10 15:59] kartikcho commented on #495
- Make the changes in your local repository
- Push it to a branch on github
- Redeploy with whatever tools you're using

[2022-07-10 15:59] #495 closed

[2022-07-12 20:27] dev-pwa opened #504 "Welcome"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Is this responsiveness Issue**
YES/NO

**Screenshots**
If applicable, add screenshots to help explain your problem

[2022-07-19 23:47] madisoncarsan commented on #495
@kartikcho - thanks for the help

Maybe I am missing something, but every time I go through the deployment process, my branch loses most of the files that I have and ends up looking like this:
<img width="946" alt="Screen Shot 2022-07-19 at 4 46 10 PM" src="https://user-images.githubusercontent.com/69589527/179866663-8f166ce0-c8e9-4335-869c-cdfe61ace834.png">

[2022-07-23 04:18] luisgcenci commented on #498
The issue is with the "MEDIUM_USERNAME" at the .env file, just comment it out or remove if if you're not going to use it.

Example:
`// README
// This is only a .env example
// Do not change this file, adding your GITHUB TOKEN here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your GITHUB TOKEN.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoi

[2022-07-24 04:20] aludayalu opened #506 "How to remove the footer on the bottom of the site??"

[2022-07-24 05:18] #506 closed

[2022-07-25 14:25] camipozas opened #507 "GitHub 'Available for Hire' is deprecated"
Hello!

Sorry for don't use the issue template, I think this is a question than an issue. So, how can I set I'm hireable in GitHub? I was looking but the option is deprecated :( Thanks!

[2022-08-09 07:42] shoebsd31 commented on #415
Hi @S-codes14 @varunsh17  @rajmunkhan , I am really looking forward to this feature. When do you think it will be rolled out ?

[2022-08-14 22:58] reeshabhranjan opened #509 "Build failing"
**Describe the bug**
`npm install` is failing

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. `cd` into the repository
3. `cp example.env .env`
4. `npm install`

**Expected behavior**
The build should pass

**Is this responsiveness Issue**
NO

Logs:
[https://gist.github.com/reeshabhranjan/c1a0528cfb17991d42b155d16b9531b9](https://gist.github.com/reeshabhranjan/c1a0528

[2022-08-18 15:49] ParamChordiya opened #510 "Dependency tree issue"
there is some issue with dependencies when `npm install` is run

[2022-08-26 10:34] #504 closed

[2022-08-28 05:57] kartikcho commented on #500
Resolved in #501

[2022-08-28 05:57] #500 closed

[2022-08-28 05:59] kartikcho commented on #490
Sorry for the late reply, I noticed this too. Thanks for taking this up, assigning it to you @saiteja13427

[2022-08-28 06:01] saiteja13427 commented on #490
Thanks @kartikcho, Will correct it and raise a PR shortly

[2022-08-28 06:02] kartikcho commented on #491
If you can create a Preact build of the project and it has considerable improvements then we can consider it.
There's one problem to this though, a lot of folks use this repo as a learning project for React so we would lose the status of being a good beginner repo

[2022-08-28 06:04] kartikcho commented on #497
Sorry for the super late reply, is this still crashing @janie-lee-developer ?

[2022-08-28 06:04] saiteja13427 commented on #491
That makes sense. Anyways, I will try it out once and let us see the improvements.

[2022-08-28 06:05] kartikcho commented on #498
Yeah that's the problem, thanks for resolving this @luisgcenci!

[2022-08-28 06:05] #498 closed

[2022-08-28 06:08] kartikcho commented on #499
We have a doc for it @PythonOrC , here: https://github.com/saadpasta/developerFolio#deploying-to-github-pages

[2022-08-28 06:08] #499 closed

[2022-08-28 06:23] kartikcho commented on #510
Thanks for reporting, I've opened a PR for this (#513) that should fix it.
Closing the issue as it's a duplicate of #509

[2022-08-28 06:23] #510 closed

[2022-08-28 06:30] kartikcho commented on #507
Sorry for the super late reply and it's alright to not use the template for questions.
You're right, [GitHub jobs is deprecated](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/what-does-the-available-for-hire-checkbox-do) so you can't set it in GitHub.

We could make it tweakable in `portfolio.js` so we don'

[2022-08-28 06:51] ParamChordiya commented on #510
Found a round about to this problem, u can use `yarn install` instead of `npm install`  this worked for me.

[2022-08-28 06:52] ParamChordiya commented on #509
Found a roundabout to this problem, u can use `yarn install` instead of `npm install` this worked for me.

[2022-08-28 08:12] #509 closed

[2022-08-29 20:10] slyapustin commented on #486
@EndLess728 Can confirm the same issue on iOS as well.

[2022-08-30 10:54] saiteja13427 commented on #507
I would want to take this up @kartikcho

[2022-08-30 13:03] camipozas commented on #507
I'm sorry for the delay, I was in it. If it is already assigned, nothing happens. Or I can take another :) @kartikcho

[2022-08-30 13:57] kartikcho commented on #507
Oh I'm sorry. @saiteja13427 if you've not started yet we can assign it to @camipozas and you could review it.
Always great to have a new contributor!

[2022-08-30 14:24] saiteja13427 commented on #507
Sure @kartikcho, I would love to review :-)

[2022-08-30 14:41] kartikcho commented on #507
Alright @camipozas, assigning to you!

[2022-09-01 02:00] camipozas commented on #507
Hello! recently I raise the [PR](https://github.com/saadpasta/developerFolio/pull/519)

[2022-09-01 13:24] saiteja13427 commented on #507
Gave my comment on the PR!

[2022-09-04 22:47] #507 closed

[2022-09-07 16:40] saiteja13427 opened #521 "Education Logo Looks Weird If User Doesn't give the Logo in Portfolio.js"
**Describe the bug**
If the developer doesn't give the logo field in education, the education card turns out to be weird.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the logo from any one of the education objects in portfolio.js
2. And you can see something like this

![image](https://user-images.githubusercontent.com/40917760/188932952-390a3937-0312-42fc-9899-255d0500449d.png)

*

[2022-09-07 17:34] saiteja13427 commented on #521
Yeah, raised a PR #522 @kartikcho, do check and merge it.

[2022-09-12 16:27] saiteja13427 commented on #521
As the PR is merged, the issue now stands closed!

[2022-09-12 16:27] #521 closed

[2022-09-13 05:54] hilldba opened #524 "Local Host show template but internet username.GitHub.io shows read me.md"
Local Host show template after nom start but when I try to go to internet username.GitHub.io shows read me.md

What am I doing wrong

[2022-09-18 13:11] kartikcho commented on #524
Please follow the steps closely in [this section](https://github.com/saadpasta/developerFolio#configuring-github-actions-recommended). They're pretty in depth and should have most of your questions answered

[2022-09-18 13:11] #524 closed

[2022-09-18 13:11] #497 closed

[2022-09-18 13:18] kartikcho commented on #486
@saiteja13427 are you able to repro this?

[2022-09-18 13:22] kartikcho opened #525 "Add repo size conversion to github repo cards"
Cards currently only show repo sizes in kb. This looks ugly when a repo size is in mb or greater.

We should add size conversion and format the output appropriately

[2022-09-18 13:24] kartikcho commented on #212
Fixed in #430

[2022-09-18 13:24] #212 closed

[2022-09-18 14:18] saiteja13427 commented on #486
Yes @kartikcho this is reproducible on my side as well!

[2022-09-19 03:10] Vinitvh commented on #525
Hi, can I work on this?

[2022-09-19 04:45] kartikcho commented on #525
Sure!
I was keeping this for hacktoberfest so I would suggest opening the PR on October 1 if you would like to get the contribution counted.

[2022-09-19 05:29] Vinitvh commented on #525
Okay. Do you want the size in MB to be absolute value or rounded off to a certain decimal place?

[2022-09-19 06:59] kartikcho commented on #525
Single decimal point should be good enough

[2022-09-20 07:14] dev-pwa opened #526 "Построитель разметки схем, тестер и средство развертывания для Schema.org структурированных данных"
https://schema.dev/

[2022-09-27 13:29] Dun-sin opened #527 "Remove Proficiency Section"
## Summary
Remove the Proficiency section that shows how good someone is in a particular section

### Motivation
This section doesn't really help because there's no actually way to calculate that

### Additional context
Add any other context or screenshots about the feature request here.
![image](https://user-images.githubusercontent.com/78784850/192538846-10dd0b4b-18b8-4155-95b3-d5b1d4553c6f.png)

[2022-09-27 13:34] Dun-sin opened #528 "Add icon for clarity"
## Summary
Add icons to the dark mode switch tab

### What's new?
It adds an icon for light mode and dark mode to the existing component to show it present status

### Motivation
when I first got to the website, I didn't understand what the switch was for until I clicked it, not a good user experience

### Additional context
![image](https://user-images.githubusercontent.com/78784850/192540127-3d9

[2022-10-01 07:34] #526 closed

[2022-10-01 07:38] kartikcho commented on #527
I agree with you and I personally don't like skill bars for the same reason too but the decision to remove the section altogether is subjective.
Some people do prefer it and we can't remove it for everyone.

However, you can hide it on your portfolio by [turning it off in the portfolio schema](https://github.com/saadpasta/developerFolio/blob/master/src/portfolio.js#L153). Hope that helps!

[2022-10-01 07:38] #527 closed

[2022-10-01 07:41] kartikcho commented on #528
Yeah that's a great idea! We can add an icon inside the switch component (maybe ☀ and 🌙 emoji?) to make this clear.

[2022-10-01 07:42] kartikcho commented on #528
Would you like to take this up @Dun-sin ?

[2022-10-01 07:50] kartikcho commented on #453
I checked and yeah the code for this doesn't exist. Looks like [this PR](https://github.com/saadpasta/developerFolio/pull/318) didn't go through but this comment somehow made it.
We can change this issue into adding codersrank/add github contribution graph component

[2022-10-01 07:52] Dun-sin commented on #528
Yes thank you🙌🏽

[2022-10-01 14:50] Dun-sin opened #531 "Chore: add automatic release"
I noticed that the last time a release for this project was done, it was over 2 years ago.

How about create an automatic release, that happens whenever some contributes to this project, it will use the conventional commit(easy because this project already has a method for using conventional commits) approach to track and update releases.

Here's a link for reference: [Set Automatic Release(Skip C

[2022-10-01 14:54] Dun-sin opened #532 "Fix pull request template"
I noticed that the pull request template doesn't work, it's because it's in a folder, it should be in the root folder of `.github` and not the `Pull Request Template` folder that it's currently in

[2022-10-01 16:03] #525 closed

[2022-10-01 16:25] kartikcho commented on #532
Good catch. Would you like to take this up too?

[2022-10-01 16:26] Dun-sin opened #534 "[BUG] remove extra space on dark mode switch"
**Describe the bug**
There's a tiny space at the end of the header

**Is this responsiveness Issue**
No

**Screenshots**
![image](https://user-images.githubusercontent.com/48270786/193418251-9b5d5b50-044c-4c6f-b0c9-8b6573f2b793.gif)

[2022-10-01 16:26] kartikcho commented on #531
@saadpasta do you want to set this up to not worry about updating releases manually?
I can't do releases as a collaborator I think :(

[2022-10-01 16:29] Dun-sin commented on #532
Na, I don't want to be too stingy😂 give it to anyone who wants

[2022-10-01 16:31] Dun-sin commented on #531
Yes, only the owner can take this

[2022-10-01 16:31] Njong392 commented on #532
Could I tackle this? 👀

[2022-10-01 16:34] raji2004 commented on #532
i would love to be assigned this issue

[2022-10-01 16:36] Dun-sin commented on #532
@kartikcho seems like @Njong392 asked first, I can give it to them

[2022-10-01 16:39] kartikcho commented on #532
Sorry @raji2004! You can take a look at other available issues.
Assigning this to you @Njong392

[2022-10-01 18:35] Dun-sin commented on #534
@kartikcho I don't think there's an actual problem here, can you give a full screen

Because this is what i see, and it seems fine to me

![image](https://user-images.githubusercontent.com/78784850/193423416-ade240a5-9489-4b83-8c05-488e0dfda0ad.png)

[2022-10-02 06:05] IAmTamal opened #536 "Updates : Issue Templates 🛠"
## What i am suggesting to update ?

I am suggesting to update the Issue templates , currently we are using `.md` files instead of the brand new issue forms with `.yml` files.

## Why to update it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to write a test or maybe fix something in the website
 - The issue templa

[2022-10-02 10:00] kartikcho commented on #534
It's not visible on dark mode switch, check light mode switch closely to see the difference (screenshot below)

![image](https://user-images.githubusercontent.com/48270786/193448486-88255be9-f78c-4316-9ea9-0267ab361333.png)

It's a very minor detail and didn't warrant an issue tbh but lets fix it now 😅 @Dun-sin

[2022-10-02 10:26] notsosimppole commented on #415
If the issue is still open, I would like to take on this.

[2022-10-02 10:38] Dun-sin commented on #534
Wow🤣

[2022-10-02 10:39] #534 closed

[2022-10-02 12:20] S-codes14 commented on #415
I stopped working on this after not receiving replies from the maintainers, but that was a year ago, I've moved on

[2022-10-02 12:21] S-codes14 commented on #415
Sure thing but I doubt you will receive any reply from the maintainers.

[2022-10-02 16:45] kartikcho commented on #536
Oh I didn't know they added a new template schema. Assigning you!

[2022-10-03 19:11] #532 closed

[2022-10-04 08:14] kartikcho opened #540 "Upgrade Node as v12.x has been deprecated by Vercel"
Looks like vercel deprecated node 12 according to this [build log](https://vercel.com/saadpasta/developer-folio/7Smu8x9pnZKARHwAmsB1fu8cYaeT).
Should upgrade it to either the latest or nearest stable version without breaking too many things

[2022-10-04 17:09] #536 closed

[2022-10-04 21:22] Lexian-droid opened #543 "Hosting on Panel such as plesk?"
Hello, I just bought a new domain name, and I was hoping to put this as my website, I was wondering, is it possible to host this via Plesk? I tried doing so, however it gives me a lot of boxes, like "custom variables", "Application root" "document root" stuff like this, and I'm just unsure how to do it.

If anyone could lend a hand, or give me some information, if this is possible or not, it would

[2022-10-05 13:44] kartikcho commented on #543
I have zero experience with Plesk tbh but they must have some docs or a guide to help out with setup.
I dont know how it works but normally you would need to create a build of the app (using `npm run build`) and host it on the platform to deploy it.
Read through the [docs](https://github.com/saadpasta/developerFolio#table-of-contents) maybe you'll figure it out. I'll keep the issue open for a whil

[2022-10-05 14:01] kartikcho commented on #540
@saadpasta this is urgent
I can't config this. You'll have to fix this from the project settings on vercel. Until then no previews and deploys would work

[2022-10-06 07:14] rohit-raje-786 commented on #484
can I work on this issue?

[2022-10-06 10:54] vatana7 opened #545 "Better Lottie Pop up"
### Summary

I've seen that the index Lottie suddenly pop up when I first enter the site and I think that adding a little fade in effect is great for better UI.

### What's new?

- Adding Fade in effect for Lottie on first loading

### Motivation

Wanting to improve the UI of this project

### Additional context

_No response_

[2022-10-06 13:11] kartikcho commented on #484
Sure @rohit-raje-786 , do you know what to do and how to fix the issue?

[2022-10-06 15:48] rohit-raje-786 commented on #484
Will update the current images such that they would look well both in the dark as well in light mode

[2022-10-07 14:47] kartikcho commented on #484
The 'images' primarily in context here are Lotties and to update their colors, you would need a Lottie editor.

You could also improve the contrast of the static images too as long as they don't look too different from the original color scheme

[2022-10-09 08:34] #528 closed

[2022-10-09 08:36] #543 closed

[2022-10-12 18:47] SR-Sunny-Raj commented on #540
Please I request you to fix it asap as most of the dependencies are not getting downloaded and also the build is getting failed.

[2022-10-13 03:50] SR-Sunny-Raj commented on #503
Hey @shehwar-ahmad can you please explain how you fixed this problem as I'm also getting the same errors when doing npm install

[2022-10-13 07:10] sadapasta commented on #540
@kartikcho updated to 14 in vercel can you try again

[2022-10-13 21:16] shehwar-ahmad commented on #503
@SR-Sunny-Raj This was due to the Node Version. Please check the documentation for the exact Node Version.

[2022-10-14 04:48] kartikcho commented on #540
@saadpasta could you add me to the project on Vercel? I think I'll need to manually trigger redeploys

[2022-10-14 04:49] kartikcho commented on #540
or @sadapasta, whichever one you're active on now :P

[2022-10-16 07:05] #540 closed

[2022-11-29 10:46] MYousufSoomro opened #552 "Remove Hover Effect on Night Mode Switch Button"
### Describe the bug

Hi Saad 👋

Pls remove the hover effect on the Night Mode switch button or add a link to the entire button container as it is not turning on Night mode if outside the switch button but within that container.

### Steps to reproduce

1. Go to '(https://developerfolio.js.org/)'
2. Hover on Switch Night Mode button

### Expected behavior

for a better user experience, hover effec