[2019-11-05 08:45] saadpasta opened #1 "add saad as contributor"

[2019-11-05 08:46] saadpasta commented on #1
@allcontributors add @saadpasta for code doc design maintenance

[2019-11-05 08:47] #1 closed

[2019-11-05 08:50] saadpasta opened #3 "Emoji Render Issue"
Emoji do not render on every platform and browser

[2019-11-05 08:53] saadpasta opened #4 "Change UI for Achievements And Certifications Cards"
Currently, UI and design of Achievements And Certifications Cards is not very we need to change card design to something good.

[2019-11-08 09:06] 9inpachi opened #5 "Better styling for medium resolutions"
The site as it is now does not look very good at medium resolutions.
Specifically the padding and font size do not look optimal.
Tested on resolutions 1280 x 720 and 1024 x 768.
![image](https://user-images.githubusercontent.com/36920441/68463663-f9bfbe00-0230-11ea-8fd3-b0cde1efee77.png)

I will try to add a fix for this.

[2019-11-09 07:09] saadpasta commented on #5
Thank You so much @9inpachi.  Appreciate a lot. If you could help me fix this that would be wonderful. And thanks once again

[2019-11-10 12:57] 9inpachi opened #7 "Use signature like font for the site logo"
Using a handwriting signature like font makes the logo unique and attractive.
![image](https://user-images.githubusercontent.com/36920441/68544292-798d8a00-03e3-11ea-9eed-fabbac0fa235.png)

[2019-11-11 06:36] saadpasta commented on #7
Do you think it will look good with the rest of the UI

[2019-11-11 13:05] 9inpachi commented on #7
Yes. Since it makes the logo unique. The normal font looks too plain.
![image](https://user-images.githubusercontent.com/36920441/68589411-a4dcab80-04ad-11ea-91e5-d6ab03ca06fb.png)

[2019-11-12 05:20] iadeelzafar opened #8 "Better content and styling for contact page"
* Refactor `Contact Me` hyperlink text to `Contact`
* Use better taglines and content for the contact page.

[2019-11-12 05:22] iadeelzafar commented on #8
@saadpasta Good work on the repo. I thought I could put in my part too. Will make a PR soon!

[2019-11-12 06:36] saadpasta commented on #7
Great,  Thank you so much can you open a merge request for that.

[2019-11-12 06:39] saadpasta commented on #8
@iadeelzafar Thank you so much for the review hope to see your merge request soon

[2019-11-12 16:17] saadpasta commented on #7
@allcontributors add @9inpachi for ideas

[2019-11-12 16:20] #5 closed

[2019-11-17 12:25] #7 closed

[2019-11-19 06:46] saadpasta opened #13 "Move all details to one Config File"
Now everyone has to change image file and link by going to the specific file.

We have to create a File that has all the changeable details like name, summary, Github Token etc.

[2019-11-22 07:52] YUSRA100 opened #17 ""bash: syntax error near unexpected token" while inserting generated token on btoa("your git token")"

[2019-11-22 07:56] YUSRA100 commented on #17
![Capture6](https://user-images.githubusercontent.com/14943888/69407888-6e155980-0d27-11ea-9442-818d2886e85c.PNG)

[2019-11-22 09:43] saadpasta commented on #17
@YUSRA100 you have to put this Chrome Developer Console.
Open Chrome Developer Console then write

`btoa(your github token)`

you will get your converted token

[2019-11-22 10:18] YUSRA100 commented on #17
@saadpasta Great. The issue is resolved. Thankyou so much for the guidance, really appreciate.
Secondly after coping the credentials to "Projects.js" the steps are a little vague for newbies like me. Could you please elaborate on how to initiate the customization or how to visualize our own page? and the "Technologies used" part is a general information from your end or do we have to use it?
Thank

[2019-11-22 10:24] saadpasta commented on #17
@YUSRA100 I know that's why i am creating something for complete newbies that will help them just change one file to get their own customization

Will Push it by today or tomorrow and will also update Readme.md so if you are getting stuck in that you can stop and then just change one file to get you required design

[2019-11-22 10:25] YUSRA100 commented on #17
Oh that would be perfect.
Thankyou so much.

[2019-11-22 10:43] saadpasta commented on #17
@YUSRA100 I have updated the repo you can have a look at the readme.md

[2019-11-22 10:49] saadpasta commented on #13
solved in https://github.com/saadpasta/developerFolio/pulls?q=is%3Apr+is%3Aclosed

[2019-11-22 10:49] #13 closed

[2019-11-22 11:56] YUSRA100 commented on #17
@saadpasta Its very much understandable now, but i am still lacking for the part of visualization. Usually we run the index file to check the look of it. Here, it is not showing anything, or am i following the wrong track?

[2019-11-22 12:34] kartikch918 commented on #8
Hey I'm working on this issue. Will open a request soon. @saadpasta

[2019-11-24 07:24] saadpasta commented on #17
@YUSRA100 the main or root file of this project is `src/App.js`

[2019-11-25 12:51] saadpasta opened #20 "Update Font to Better Fonts"
Currently, Website uses a font that doesn't look good on windows so if we need to update our font to something better

[2019-11-26 11:03] kartikch918 commented on #17
Close the issue now as it is resolved @saadpasta.

[2019-11-27 20:33] SMAmmar commented on #20
Font as in of Navbar, or whole portfolio?

[2019-11-28 07:48] saadpasta commented on #20
Change whole portfolio font except the header

[2019-11-29 05:45] saadpasta commented on #20
solved on Pr #23 23

[2019-11-29 05:45] #20 closed

[2019-12-03 05:09] #17 closed

[2019-12-21 07:24] kartik918 opened #31 "[Design] Merge Blogs section and Talks section into one"
The current design for the above mentioned feel bland and out of place at the moment. Maybe merge them into one component or add a carousel slider to switch between the two maybe?
This could help fill Blogs section up and make it look more consistent with the design.

### Also this needs a thumbnail lol
![Screenshot (66)](https://user-images.githubusercontent.com/48270786/71304770-e2a7ea80-23f0-11

[2019-12-21 16:38] saadpasta commented on #31
@kartik918 Yes I agree with but merging them into one is not a good idea I guess we should create a new card for Talk Section what do you think

[2019-12-22 10:27] kartik918 commented on #31
Maybe use a different layout for talks, something similar to the new podcast section design.
Smaller in layout and thumbnail less if possible because talks don't really need a thumbnail unless you want to put a picture from the event. I'll see if I find some design inspiration or ideas, you can help too

[2019-12-23 03:58] saadpasta commented on #31
@kartik918 Thanks. I'll also have a look for design and upload it here so we both can see if it look good or not

[2019-12-23 17:57] kartik918 commented on #31
Okay I found one design inspo worth changing to if you want to insert pictures with

![Screenshot (74)](https://user-images.githubusercontent.com/48270786/71372869-805f0d80-25db-11ea-9b50-e6abcc3c7402.png)

Or my own design (don't judge my mad designing skills, I used paint for a quick mockup) for text only design

![Screenshot](https://user-images.githubusercontent.com/48270786/71372936-a71d4400-

[2019-12-24 06:46] saadpasta commented on #31
@kartik918 Love both designs. But where should we implement this design should we change blogs or Talk Section

[2019-12-24 07:54] #8 closed

[2019-12-24 09:53] kartik918 commented on #31
Talk section needs the rework so I guess we change talks card design.

[2019-12-24 10:00] saadpasta commented on #31
@kartik918 OK Let's change the talk section

[2019-12-24 10:22] kartik918 commented on #31
Are you designing it? Maybe put a PR and I'll give second opinion on the layout? @saadpasta

[2019-12-24 11:32] saadpasta commented on #31
@kartik918 No, I am stuck with something else I would be very thankful if you could make a PR.

[2019-12-24 12:10] kartik918 commented on #31
I'll make one if I find the time.

[2019-12-26 06:51] saadpasta commented on #31
fixed in #32

[2019-12-26 06:51] #31 closed

[2019-12-26 08:22] kartik918 opened #35 "Revise README.md contributor section"
As much as I appreciate myself being in the readme, there's two of me lol.

[2019-12-26 09:01] kartik918 commented on #35
#36 fixed it in this PR

[2019-12-26 09:01] #35 closed

[2020-01-02 19:06] kartik918 opened #39 "Add new progress bar component"
Since this repo is gaining popularity, I think we should create more opportunities to work or contribute for new people who might be interested. What do you think @saadpasta ?

[2020-01-03 05:11] saadpasta commented on #39
@kartik918 sound's great. But how can we achieve this?

[2020-01-03 06:11] kartik918 commented on #39
I was thinking something like adding more features but still keeping them optional for people who don't want them in their portfolio.

Example, that progress bar thingy for showing your proficiency in a language or technology, we could work on it as a feature. I don't like that so I wouldn't want that but for people who do, it'd make the portfolio better for them.
Also this would make the portfoli

[2020-01-03 06:47] saadpasta commented on #39
@kartik918  Sounds Great. But I guess first we have make our deployment process easy and provide complete documentation on that. How can user deploy its site on Github Pages I have received lots of comments on this part

[2020-01-03 09:12] kartik918 commented on #39
Its very easy but node package manager must be installed to deploy on Github pages.
Look it up [here](https://reactgo.com/deploy-react-app-github-pages/) and write a documentation accordingly.

[2020-01-03 11:44] saadpasta commented on #39
@kartik918 how can we achieve that optional thing do you have any idea.

[2020-01-03 11:45] saadpasta commented on #39
Ok Let's see

[2020-01-03 13:29] kartik918 commented on #39
I was thinking since all the components are individual, making them responsive and flexible enough to be able to work on their own would allow a user to make their own style of portfolio by removing the components they don't want.

i.e deleting the component files before using ``npm run deploy`` .
Open to better solutions on this.

[2020-01-06 06:33] saadpasta commented on #39
@kartik918 That's a great idea and we can keep it for the future I think first foremost important work is to add a contact form. What do you say?

[2020-01-06 08:01] kartik918 commented on #39
Contact "forms" are old and barely used, anyone who wants to contact anyone would email or use socials for quicker replies.
In my opinion we should work on a progress bar section for proficiency in skills first since that's a core of any portfolio (although I personally dislike them).

[2020-01-06 08:15] saadpasta commented on #39
@kartik918 I have asked some people and recruiters they say that if they have opened someone portfolio and want to contact them then contact forms is the best way to contact them they don't have to email them personally or call them they can avoid that hassle.

So I guess we both are correct in both way why not I start with contact Forms and you start with that progress bar (And Please make that O

[2020-01-06 14:11] kartik918 commented on #39
It's alright, just different opinions. Also I'm kinda swarmed with work these days, I'll design it if I'm free.

[2020-01-11 17:39] rajkumaar23 opened #40 "Add appropriate href in contact"
- Add `tel:` and `mailto:` hrefs for contact section.

[2020-01-11 17:41] rajkumaar23 opened #41 "Resume URL abstraction"
- Create a new _Resume_ component with iframe src as the drive link for the file, so that it looks cleaner instead of redirecting to Google Drive.

[2020-01-14 06:32] #40 closed

[2020-01-14 11:26] rajkumaar23 opened #47 "Increase margin for buttons"
Screenshots :
![FAE9D2CE-45C5-4C03-9693-83063B010A8E](https://user-images.githubusercontent.com/37476886/72340740-b67d4200-36ee-11ea-9c9b-4fdc825c68fc.png)

These two buttons need to have a little more margin.

[2020-01-14 11:28] rajkumaar23 opened #48 "Add standard issue and PR templates"
- Need to have standard Issue and PR templates for the repository, so that it’s uniform for everyone.

[2020-01-14 14:37] kartik918 commented on #47
![Screenshot (114)](https://user-images.githubusercontent.com/48270786/72353066-68c20300-3709-11ea-8a96-59147d23d5fe.png)
Looks fine on firefox, maybe a safari issue?

[2020-01-14 14:39] rajkumaar23 commented on #47
No, try the device as iPhone SE

[2020-01-14 14:43] rajkumaar23 commented on #47
![image](https://user-images.githubusercontent.com/37476886/72353603-56949480-370a-11ea-9ed1-40e16ffb380b.png)

[2020-01-14 15:53] kartik918 commented on #47
Great find! Adding ``font-size: 13px;`` at width lower than 320px should make it responsive again.
Your PR fixing this would be appreciated.

[2020-01-14 16:22] rajkumaar23 commented on #47
@kartik918 `13px` was still looking bad, so fixed it with `12px` 🤙️

[2020-01-15 14:23] rajkumaar23 commented on #48
@saadpasta What do you think about this ?

[2020-01-15 17:44] #47 closed

[2020-01-16 05:02] saadpasta commented on #48
@rajkumaar23 I guess for now we don't have that much traffic that we need a template for PR and issues but surely we can do it for the Future.
Thanks ❤️
@kartik918 what's your opinion

[2020-01-16 05:51] kartik918 commented on #48
I guess for now we don't have that much traffic that we need a template for PR and issues but surely we can do it for the Future.

I was going to say exactly the same saadpasta. We'll work on community guidelines and PR templates when the repo hits more than 10 or 15 contributors. Thanks for the idea.

[2020-01-26 07:25] kartik918 commented on #41
This idea has been dropped as of now.
Thanks for the interest !

[2020-01-26 07:25] #41 closed

[2020-01-29 01:22] goldfarbas opened #51 "Documentation?"
I forked the repo, edited src/porfolio.js, and my pages site still displays README.md. What gives?

[2020-01-31 15:28] kartik918 commented on #51
Could you better describe your issue, preferably with screenshots?
What do you mean by "site still displays README"?

[2020-02-06 11:23] kartik918 commented on #51
Due to lack of further activity , I'm closing this issue for now.

[2020-02-06 11:23] #51 closed

[2020-03-03 07:10] saadpasta opened #55 "Add Dark Mode Option 🌙"
Most applications nowadays have dark mode and it kinda looks cool so I guess we should implement Dark Model in DeveloperFolio.

[2020-03-04 04:20] naveen521kk opened #56 "Website Not Secure"
While opening the website the padlock symbol doesn't show and on clicking it says parts of website is not secure. Better to change all http to https .

[2020-03-04 14:26] kartik918 commented on #56
Thanks for pointing that out. Appreciate the help!

[2020-03-04 14:26] #56 closed

[2020-03-04 14:31] kartik918 commented on #55
Great idea but some stuff to consider,

Many graphics have white backgrounds instead of being transparent so that might be an issue to tackle while switching colors. Maybe update them by removing whites manually?

To test or get an idea how the dark mode should look, try viewing the website after turning on Dark Reader extension. Will help in testing and getting contrast ideas

[2020-03-05 16:12] pratikms commented on #55
Hey @saadpasta ,

First of all, thank you so much for this awesome awesome project. I wanted to quickly get started with a portfolio, and all other options, including purchasing a paid template as well as building one from the scratch seemed too much of a task to me.

The way you've designed the project helped me to get up and running in no time. Your project structure is quite extensible and made

[2020-03-06 05:38] saadpasta commented on #55
@pratikms Thank You very much for these kind words. Means a lot. Love the tweaks you have done with DeveloperFolio I guess it is pretty nice. I know it needs a lot of work and we can discuss it here under this issue and get started with basics.

[2020-03-08 14:45] naveen521kk opened #58 "Contents in meta tags display 404"
The contents of the property "og:image" in meta shows 404.
`<meta property="og:image" content="https://saadpasta.github.io/static/media/developerActivity.59389695.svg" />`

[2020-03-12 05:47] #58 closed

[2020-03-13 11:49] saadpasta opened #61 "Back to top button 🔝"
Back to the top button when the user is at the middle or ends it allow the user to go top the top without the hassle of scrolling included in many websites

[2020-03-13 12:32] saadpasta opened #62 "Should we add Dependabot 🤖"
As we have a lot of packages and we need to keep them updated so should we add Dependabot.

Dependabot is an automation service that will automatically create PRs to keep your project's dependencies up to date and I think it kind of good if we add this and keep our dependencies updated.

https://github.com/marketplace/dependabot-preview

@kartik918

[2020-03-13 16:03] naveen521kk commented on #62
Maybe yes.

[2020-03-13 16:05] naveen521kk opened #63 "Add Twitter Timeline"
Adding a twitter timeline would embed the latest tweets of the user. Making it optional would be better. This would make the site look more good with latest feed updated.

[2020-03-13 17:30] naveen521kk commented on #3
We can use this https://github.com/twitter/twemoji if emoji render problem occurs.

[2020-03-14 08:16] kartik918 commented on #62
Great idea but I don't think it would make a difference since the project is self contained and complete with the current versions of packages.

It would be good practice to use latest dependencies but newer package versions might cause regressions with the existing code that we may have to refactor to later.

I'm for the decision, just something to keep in mind.

[2020-03-16 05:30] saadpasta commented on #63
Yes, Good Idea 😀. Are you working on it.

[2020-03-16 12:01] naveen521kk commented on #63
I will try on it. Let it be optional and API entered by the user in src/protofolio.js

[2020-03-16 12:03] naveen521kk commented on #63
I am trying to use https://github.com/saurabhnemade/react-twitter-embed in this project. Can I.

[2020-03-16 12:06] saadpasta commented on #63
Yeah, you can. Let's see what we get but make sure to update the readme and do the changes in portfolio.js for the user.

[2020-03-16 12:11] saadpasta opened #66 "Font Customization"
It would be great if we could customize the font from portfolio.js, for now, the developer/user is stuck with one font.

[2020-03-16 12:29] naveen521kk commented on #66
You would then require to use https://github.com/nfl/react-helmet .

[2020-03-18 21:51] kartik918 commented on #61
Fixed in #64

[2020-03-18 21:51] #61 closed

[2020-03-19 09:47] naveen521kk commented on #3
The wave emoji is not showing. Check the picture attached.
https://i.ibb.co/0JcvRGP/2020-03-19-15-14-36.jpg

[2020-03-20 16:12] #63 closed

[2020-03-20 16:33] naveen521kk commented on #63
Add this to https://saadpasta.github.io

[2020-03-21 16:31] naveen521kk opened #69 "Automatically add latest blog post"
Adding automatic blog post would be better. If the user writes a new blog post it should automatically come out in this Page. Better using any Rss feed or Blogger API.

[2020-03-22 07:16] kartik918 commented on #66
I believe fonts all over the app are controlled by index.css and changing them changes the font of every element. So the user can change it there according to what they want.

[2020-03-23 12:18] kartik918 commented on #39
Feature added in #70.

[2020-03-23 12:19] #39 closed

[2020-03-23 12:20] kartik918 commented on #69
Are you working on this @naveen521kk so I can assign this to you.

[2020-03-23 13:03] naveen521kk commented on #69
Yes I am. You can assign me.

[2020-03-23 21:22] kartik918 opened #71 "Make the app interactive"
The app in it's current state is a static webpage. I believe adding simple transitions and interactivity could severely overhaul the user experience.
I would start with adding [animate.css](https://daneden.github.io/animate.css/) to make transitions for elements while scrolling down.

[2020-03-24 08:30] naveen521kk commented on #69
Working further on this requires to use[ CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS). I know that Github Pages automatically sets a CORS header and allows cross-origin requests. But while deploying it on Netlify or testing Locally I had to manually set the headers. Shall I create the configuration for Netlify?

[2020-03-24 09:39] saadpasta commented on #69
@naveen521kk which API are you requesting

[2020-03-24 09:42] naveen521kk commented on #69
I think of directly get the RSS feed and parse it. For getting the RSS feed CORS headers must be enabled. The link of RSS feed will be entered in protofolio.js.

[2020-03-24 09:47] kartik918 commented on #69
Add it but comment it out and add something like a note to un-comment it if deploying on Netlify.
Primary users generally prefer to deploy on gh pages than Netlify so this can be enabled per user.

[2020-04-01 04:56] naveen521kk commented on #69
It is out of the scope of this project and it not very efficient. So closing it.

[2020-04-01 04:58] #69 closed

[2020-04-02 16:08] kartik918 opened #72 "Switch to different license"
Recently I've seen a rise in the number of people using our portfolio (which is great news).

This also comes with people who are not using this for their personal use but instead wrapping it as their own work and getting clout for the work put by so many in this.

I strongly suggest we shift to a less flexible license than MIT (which only requires the person to credit the original work but have a

[2020-04-03 09:59] ashutosh1919 opened #77 "Adding config to override prettier (if set) in any code editor"
It is hard to keep track of the code if auto formatter changes the code in every PR. As per @kartik918's comment in [#74 (comment)](https://github.com/saadpasta/developerFolio/pull/74#issuecomment-608286780), We should add config to override prettier.

[2020-04-04 23:42] loganblackk opened #79 "Wepage not loading in browser(n00b question)"
I'm trying to run the code to display the webpage in the browser, but all I'm getting is the contents of the folder/files I'm in. How do I see the portfolio in the browser?

[2020-04-05 00:24] #79 closed

[2020-04-05 00:25] loganblackk commented on #79
Deployed it to netlify.nvm

[2020-04-08 09:15] saadpasta commented on #72
@kartik918 Yes I also think so what license do you suggest.

[2020-04-08 09:24] saadpasta opened #82 "Performance Issue"
Currently, there is a performance issue on our DeveloperFolio we want it to load instantly. Currently, we are using lots of images from unDraw.

This audit is done on saadpasta.github.io. Please try to do an audit on your portfolio.

<img width="795" alt="Screen Shot 2020-04-08 at 2 18 52 PM" src="https://user-images.githubusercontent.com/23307811/78767842-8f0fdb80-79a4-11ea-8c8e-9e280228ab60.png"

[2020-04-08 09:24] saadpasta commented on #82
@kartik918

[2020-04-08 14:28] kartik918 commented on #72
I looked up from the options we have and GNU GPLv3 seems like the best one for our case. Read more about it and other licenses [here](https://choosealicense.com/licenses/)

Let me know if you think the same and I'll update it with a PR @saadpasta

[2020-04-08 14:31] kartik918 commented on #71
Added in #76

[2020-04-08 14:31] #71 closed

[2020-04-08 14:34] kartik918 commented on #3
Where did you reproduce this bug @naveen521kk . Would appreciate more information to find a solution for this.

[2020-04-08 14:36] #66 closed

[2020-04-08 14:38] naveen521kk commented on #3
@kartik918 I found this bug in Google Chrome in my phone Samsung J7. Would appreciate if fixed.

[2020-04-08 14:41] kartik918 commented on #82
Wow, I did not expect our app to be that big. I'll look into this and provide a fix ASAP.

![audit png](https://user-images.githubusercontent.com/48270786/78797175-fb0a3800-79d4-11ea-8b45-fb4471e02c66.jpg)

[2020-04-08 14:47] kartik918 commented on #82
I can't seem to find the "other" files responsible for this. Are you sure it's because of unDraw graphics? Because they're SVGs and they are in KBs so that can't be the reason.
I see some room for optimizations to reduce 6-7 MBs but still don't know what is taking 40 MB of traffic.

[2020-04-08 14:49] kartik918 commented on #3
I'm thinking of using twitter emojis too because that will give flexibility of using other emojis to the user and not worrying about compatibility. Do you want to help out with this?

[2020-04-08 15:29] saadpasta commented on #82
@kartik918  I guess it's the images we our getting from other location that can be also an issue

[2020-04-08 15:34] saadpasta commented on #72
yeah i guess GPLv3 is fine

[2020-04-08 15:43] kartik918 commented on #82
All the images are locally served from the assets folder as far as I know.

We can remove the "portfolio.gif" from the repository and upload it to GitHub so that can save 7mb of repo space.

Still not sure about the other 33 mbs.

[2020-04-08 16:10] saadpasta commented on #82
No some images we are getting from urls

[2020-04-08 17:24] naveen521kk commented on #3
I would soon make a pull request on that.

[2020-04-08 20:43] kartik918 commented on #82
I did more investigation on this and it seems the audit probably download the whole repo or something while accounting for factors involved in the test. The detailed browser network panel says otherwise.

![{AD2D25CD-95BE-4727-9434-C203D0823CAC} png](https://user-images.githubusercontent.com/48270786/78831422-3de50380-7a07-11ea-9cf3-844c7edb9cd4.jpg)

[2020-04-10 05:21] #72 closed

[2020-04-10 20:31] #3 closed

[2020-04-13 19:59] kartik918 opened #85 "New contacts section #2"
LinkedIn offers a profile card display on a portfolio or any website. What do you think about redesigning contacts section or something like that if we want to include this in our portfolio.

[LinkedIn Cards](https://www.linkedin.com/pulse/how-create-linkedin-badge-your-website-brynne-tillman/)

[2020-04-13 20:10] saadpasta commented on #85
@kartik918 I was thinking about exactly the same but with the Github. We could add Github Badge also that would be pretty cool 😀

[2020-04-13 20:24] kartik918 commented on #85
Haha it would certainly give more life to the contacts section that how it looks right now. Does Github have a similar card like structure or do we plan to design our own?

[2020-04-15 13:47] abuyako commented on #55
Yes I am agreed with you, Dark Mode is one of the cool future and everyone knows that, even in our code editors that we using everyday we all like that future too.

[2020-04-17 08:00] saadpasta commented on #85
I don't know but we could use something like this
<img width="396" alt="Screen Shot 2020-04-17 at 12 59 51 PM" src="https://user-images.githubusercontent.com/23307811/79546162-5f9b5600-80ab-11ea-8c37-8bcc6dc33603.png">

[2020-04-17 08:06] saadpasta opened #88 "Change Talks and Blog Section Design"
I think currently our talk section is overwhelmed and we should change the design to something minimalist. We could take inspiration from this [site](https://ahmadawais.com/talks/ )

[2020-04-17 08:44] saadpasta commented on #88
Blog Section Design Inspiration
https://joshwcomeau.com/tutorials/

[2020-04-17 10:50] kartik918 commented on #85
This is a Github Badge and not exactly a card, but yeah we could think of reinventing the contacts section with a mix of all these ideas.
Could use some help from an experienced UX designer to come up with a nice layout or mock to build from.
If no one offers to contribute for designs, we can come up with one ourselves.

[2020-04-19 16:10] rakesh-kadam opened #89 "Rename of dockerFile to Dockerfile"
**I tried running the following command to:**

`docker build -t developerfolio:latest .`

**But ran into following error:**

unable to prepare context: unable to evaluate symlinks in Dockerfile path: lstat /home/rakesh/Desktop/Projects/developerfolio/Dockerfile: no such file or directory

**Issue:** Dockerfile has wrong name. It is dockerFile instead of Dockerfile. Renaming the file successfully b

[2020-04-19 17:10] saadpasta commented on #89
Thanks , Would like to make a PR for that

[2020-04-24 09:00] naveen521kk commented on #85
@kartik918 Can we add a GitHub card like .[This.](https://github.dev/)
https://github.dev/
This looks clean 👌 and perfect.

[2020-04-24 09:42] kartik918 commented on #85
Looks great, good find! We could use the design from the left portion of the screenshot. We only need details like the Name, Place and Followers of a profile since we already fetch repo information.

And because we already do have SSH keys of a profile, fetching this information would be relatively easier compared to designing the card. I might come up with a rough wireframe for direction if I get

[2020-04-24 10:45] aashutosh24 opened #95 "Achievement Card Subtitle Not Working"
Inside Portfolio>achievementSection>achivementsCards>description i wrote all the descriptions but did not appear.

Just change **description** to **subtitle** and it works.

Thanks @saadpasta for this awesome template ❤

[2020-04-24 14:52] saadpasta commented on #95
Thanks for the issue 😀This has been solved in #96

[2020-04-24 14:52] #95 closed

[2020-04-24 14:58] aashutosh24 commented on #95
Perfect 🎉

[2020-04-25 09:00] kartik918 commented on #82
I'm closing this issue for now since there are no newer reports of performance issues.
This issue was also addressed by #94.

[2020-04-25 09:00] #82 closed

[2020-04-25 09:02] kartik918 commented on #48
Since the number of contributors has significantly increased, we may need to address this issue soon. What do you think @saadpasta ?

[2020-04-25 09:09] saadpasta commented on #48
Yeah, I also think we create a template

[2020-04-25 10:33] kartik918 commented on #89
Fixed in #98

[2020-04-25 10:33] #89 closed

[2020-04-25 11:44] kartik918 opened #100 "Setup CI/CD and new deployment domain"
Our project has come far from how it used to be with a lot of changes and new components.

To show all newly added components and design changes, I think we should create it as a dummy portfolio. To make it clear, let's use all the components in the demo deploy build.

This would:
- keep the demo updated with all new features.
- since most people like to see the demo before using a project (myself

[2020-04-25 13:18] saadpasta commented on #100
@kartik918 currently I am using another repo for `saadpasta.github.io`, not developerFolio.

And I agree with you we should create a demo project so anyone who need to see demo can view all the possible components with DeveloperFolio and we should integrate CI/CD so we manually don't have to make a build and deploy it every time.
We Could use Github Pages for our Demo and `gh-pages` branch for our

[2020-04-25 15:01] kartik918 commented on #100
Sounds good to me, we could use ``master`` branch for all new commits and merge it to ``gh-pages`` when there a certain amount of new changes introduced to master. This way it won't have to update again and again for minor changes.

Setting up CI for this would be a great boost to workflow.

P.S your current build has missing components so you might want to look into that.

[2020-04-25 15:23] pearces17 opened #101 "Open Source Project did'nt show"
I already put the token and my GH username but none of my repos shown on the web app. Any idea to solve this?

[2020-04-25 16:24] naveen521kk commented on #101
@pearces17 Where has you hosted it? And did you follow the steps in Readme File exactly? And also have you converted it to base64? Please check your console for any logs and tell. Any detailed info would be appreciated 😊.

[2020-04-25 17:30] kartik918 commented on #101
If you could send a copy of your Github section of ``portfolio.js``, it'd help understand your problem better,

Just send a copy of this section from your local clone,

[code]

[2020-04-25 21:34] pearces17 commented on #101
@naveen521kk i run it on local machine, i'd exactly as Readme.md including convert my token to base64 format, here's that i found on console  :

  Line 15:6:  React Hook useEffect has a missing dependency: 'getRepoData'. Either include it or remove the dependency array  react-hooks/exhaustive-deps

@kartik918 here's the snippet ,
`const openSource = {
  githubConvertedToken: "MDI5MTZmYTgyYTE4Yzk5Z

[2020-04-25 21:50] kartik918 commented on #101
You can try ``// eslint-disable-next-line react-hooks/exhaustive-deps`` before the violating line and let me know the result here @pearces17 .

Thanks for reporting this, we'll look further into it. (could be related to #62)

[2020-04-25 22:15] pearces17 commented on #101
@kartik918 just try what you told, but nothing happen still

[2020-04-26 01:37] pearces17 commented on #101
it's done, it's only doesnt work on development view , but work perfectly after hosted on some hosting platform. Thankyou collaborators, for your resopnse

[2020-04-26 01:37] #101 closed

[2020-04-26 05:59] kartik918 commented on #101
Deleted your GH token comment for privacy.

[2020-04-26 18:25] naveen521kk commented on #85
@kartik918 I have done the API part of the Profile of Github. Help me out on the design and I planned of using ![Bootstrap Cards](https://react-bootstrap.github.io/components/cards/). Do you have any better Idea?

[2020-04-27 12:47] kartik918 commented on #85
Hey @naveen521kk , thanks for taking this up. I'm sorry I've been busy these days, I'll come up with a mock design to help you out for the card layout in a day or two. We can put your fork on hold till then.

The API integration seems to work fine but the layout could use a fresh and different face (We should make it unique I think and not a plain Bootstrap card). Also, how did you get the "Hireab

[2020-04-27 12:50] kartik918 commented on #85
And since the original codebase doesn't use Bootstrap , we shouldn't add a new dependency for a single card component. Less dependencies is always better and faster.

[2020-04-27 13:34] naveen521kk commented on #85
@kartik918 The Hireable section is available in the Github API. So it's not entered manually and done through Github.

[2020-04-28 07:43] kartik918 commented on #85
Oh yes, I forgot that GitHub asks for that information too. I'll start on the designs later today.

[2020-04-28 09:52] BharatKammakatla opened #103 "Favicon icon for all views(mobile, ipads, shortcuts)"
Since most of the traffic is on mobile sites, it would be good to add more favicon options to display even in mobile & ipad address bar, etc. It is a simple process as specifed in https://realfavicongenerator.net.

[2020-04-28 16:10] kartik918 commented on #103
Thanks for the suggestion! Would you like to take this up as your first contribution @BharatKammakatla ?

[2020-04-28 16:38] BharatKammakatla commented on #103
Sure, will work on it and send PR.

[2020-04-29 12:11] naveen521kk commented on #85
How about the design is it ready? @kartik918

[2020-04-29 13:23] kartik918 commented on #85
Here's a mock of what I have in mind.

- The current portfolio lacks an image of the person so we can take their GH avatar for it.
- We can re-use the contact strip again instead of creating new buttons for the same.
- The location and job opportunity information can again be used from the GH profile (although we should give an option to set it manually).
- Add GH bio for "introduction" to the con

[2020-04-29 13:47] naveen521kk commented on #85
And are you gonna do or should I?

[2020-04-29 14:26] saadpasta commented on #85
@kartik918 it looks great

[2020-04-29 14:34] kartik918 commented on #85
I'm really swarmed with work these days so I would appreciate if you would like to take this up @naveen521kk. We can leave it for another contributor too if you're busy.
Thanks.

[2020-04-29 16:51] naveen521kk commented on #100
@saadpasta I found that you have deployed this in https://developerfolio.js.org/ . Please check out the issue. Rebuild the site again as there was a issue with it.

[2020-04-29 17:29] saadpasta commented on #100
@naveen521kk looking into it

[2020-04-29 23:40] TejasPanambur opened #105 "Running into CORS error"
![image](https://user-images.githubusercontent.com/40962268/80657280-31295d80-8a51-11ea-94c6-57ed99fa4000.png)

[2020-04-30 07:29] naveen521kk commented on #100
Can we user [versel](https://vercel.com/docs/v2/git-integrations/vercel-for-github) CI/CD. It has great features and is free. It deploys all PR automatically and would be useful. What do you think @saadpasta and @kartik918 ?

[2020-04-30 08:04] kartik918 commented on #100
I agree, Versel is great for CD. I would suggest @saadpasta to take up this issue.

[2020-04-30 08:11] saadpasta commented on #100
@kartik918 Done.

[2020-04-30 12:13] naveen521kk commented on #105
@TejasPanambur  Your website works well for me. Please check again.

[2020-04-30 22:17] kartik918 commented on #103
Fixed in #106

[2020-04-30 22:17] #103 closed

[2020-04-30 22:17] kartik918 commented on #77
Will be fixed in #107

[2020-04-30 22:17] #77 closed

[2020-05-01 08:37] rajkumaar23 commented on #48
@saadpasta Cool then, can you please create the template and lets close this issue ?

[2020-05-02 12:03] pearces17 opened #108 "pinnedRepositories does'nt work"
4 Days ago i try this awesome template and works well, but today i found that there is an error on api call  for Github Repositories. Then i checked on graphql explorer that there are no field "pinnedRepositories". That makes the pinned repo's did'nt show up on web page. Any help?

                pinnedRepositories(last: 6) {
                  edges {
                    node {

[2020-05-02 12:04] #108 closed

[2020-05-02 15:12] naveen521kk commented on #85
So I have done some of the work and I get [this](https://mknaveen.netlify.app/). You can check whether I can make a PR.

[2020-05-02 18:34] kartik918 commented on #85
This looks great but we need to change some things like,

- Move the image to further right,
- Make the white image border to ``#6c63ff`` so it's consistent with the theme,
- Add ``transition: 0.3s all`` to shadow effects onHover,
- Reduce the font sizes so it doesn't look cluttered and make the component bigger if you have to, it's better than a small space.

Also, while you're at it, keep this c

[2020-05-03 01:19] viniciusbds opened #109 "Use socialMediaLinks.github in href of MORE PROJECTS button"
This is a suggestion.

I think the href of  [`MORE PROJECTS`](https://github.com/saadpasta/developerFolio/blob/master/src/containers/projects/Projects.js#L79) could use the [socialMediaLinks.github](https://github.com/saadpasta/developerFolio/blob/master/src/portfolio.js#L19) content

[2020-05-03 07:57] #109 closed

[2020-05-03 07:59] kartik918 commented on #109
Good catch, thanks!

[2020-05-03 08:06] kartik918 commented on #48
Only an owner can add these templates because they have settings access to the repo so I'm assigning this to you Saad.

[2020-05-04 13:01] naveen521kk commented on #85
@kartik918 I have done what you asked for. Still need any other thing to do or shall I open a PR. Check out my test [deploy.](https://mknaveen.netlify.app/)

[2020-05-04 14:51] kartik918 commented on #85
This is neat!

Still some changes left to address,

- Left align all component text
- I opened this on my phone and the image isn't responsive. Adjust image size accordingly
- Increase padding between contact links strip and the text
-  Reverse on hover shadow for the image, so the shadow goes away on hover and give a card-ish feel. Also, darker shadows (check blog card shadow css).

Also I see a

[2020-05-04 17:49] naveen521kk commented on #85
@kartik918 I think I have done with it. Further, I have changed the app theme colour ` #6c63ff` as that previously black. I am opening a PR where you can further Review. For now, the test deploy is [here](https://mknaveen.netlify.app/). I am added enlarging effect on hover for the image.

[2020-05-05 13:35] naveen521kk opened #114 "Update Portfolio.gif in Readme."
As recently there have many changes on the site I think its time for us to update Protoflio.gif in ReadMe file. This would help visitors to see the latest Version of the project.

[2020-05-05 16:11] #85 closed

[2020-05-06 06:34] kartik918 commented on #105
I see no more activity on this issue, if it still persists, feel free to reopen.

[2020-05-06 06:34] #105 closed

[2020-05-06 13:00] naveen521kk commented on #100
@saadpasta I will make a PR to gh-pages branch with Adding all the components. Let's use it as our deploy instead of [https://saadpasta.github.io](https://saadpasta.github.io). And then we can use js.org domain.

[2020-05-06 13:38] naveen521kk commented on #100
And once this PR for [js.org](https://github.com/js-org/js.org/pull/4031) goes live we would have [https://developerfolio.js.org/](https://developerfolio.js.org/). And @saadpasta what about adding a CI to this project?

[2020-05-06 14:40] naveen521kk commented on #100
And now our deployment is live at https://developerfolio.js.org/. Further @saadpasta We would need to add a CI for automatically deployment of master.👍😀

[2020-05-06 14:45] kartik918 opened #116 "Update nav to chronological order of components"
Current Nav bar has navigation links that aren't in order.

[2020-05-06 17:02] naveen521kk commented on #114
@kartik918 DO you know how to upload it to GitHub user content? It doesn't allow me to upload here even! ( Its more than 10 MB. )

[2020-05-06 18:40] kartik918 commented on #114
Downscale the quality, but don't reduce the framerate. You can use an online converter.

[2020-05-07 10:28] naveen521kk commented on #114
Here's the gif.
![optimize](https://user-images.githubusercontent.com/49693820/81284284-8aaa1180-907b-11ea-8070-dc64ae563400.gif)
I will make a PR with this.

[2020-05-07 10:44] kartik918 commented on #114
I think you recorded it with a smaller viewport, the proficiency graphic isn't displayed. Can you record it with that displayed? Will make the intro gif more interesting.

[2020-05-07 11:44] naveen521kk commented on #114
I couldn't find it even on full screen of my PC. Check out https://developerfolio.js.org/. If it is missing there we found a bug.

[2020-05-07 11:57] naveen521kk commented on #114
Have expected like the screenshot below while creating it? If yes I found a fix for it.
![skills](https://user-images.githubusercontent.com/49693820/81291735-fa25fe00-9087-11ea-98de-c3228300ceaf.PNG)

[2020-05-07 12:14] kartik918 commented on #114
Why is this not working though? Did you find the cause for it?

[2020-05-07 12:19] naveen521kk commented on #114
This is because of this line in CSS file.
[code]
Because of `display: none;` in media query.

[2020-05-07 12:52] naveen521kk commented on #114
This is the final of portfolio.gif.
![optimized-final](https://user-images.githubusercontent.com/49693820/81296489-999abf00-908f-11ea-9442-75e8f0ecf65d.gif)

[2020-05-07 16:47] naveen521kk opened #118 "Serve images in next-gen formats"
The images in the assets folder are in PNG or JPEG. Those images should be converted into next-gen formats like JPEG 2000, JPEG XR, or WebP for faster page loading time and improving the [PageSpeed score.](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdeveloperfolio.js.org%2F&tab=mobile)

[2020-05-07 16:50] #114 closed

[2020-05-09 10:38] garimasingh128 commented on #118
Hello @naveen521kk Can you elaborate about this issue? Do we only have to convert the assets to next-gen formats or any other config is required in the project?

[2020-05-09 11:37] saadpasta commented on #118
@garimasingh128 Read this article this would help https://web.dev/uses-webp-images/

[2020-05-09 11:39] saadpasta commented on #48
@kartik918 @rajkumaar23 Sorry I was sick for quite a few days. So couldn't work on this.
Adding this as soon as possible.

[2020-05-09 15:12] naveen521kk commented on #118
@garimasingh128 What I actually meant was to convert all the images from the `assets` folder to `webp`  or `JPEG 2000` or `JPEG XR` formats. These would decrease the page load time and increase the score in [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdeveloperfolio.js.org%2F&tab=mobile).

[2020-05-09 15:12] prudhvir3ddy opened #119 "Issue in github secret token"
the part of github repos fetching interested me in this project. so i had a look to implement in my portfolio

and found out you mentioned to get encrypted key using btoa() which can be easily reverted back to atob() and and can be used  by third members.

i want you to do this way, which can favour deployment also..

right now, i saw you are having two projects, this is for react-code and build c

[2020-05-09 15:33] saadpasta commented on #119
@prudhvir3ddy Thanks for taking an interest. Actually we have clearly mentioned in the docs that you should not select any scope while generating a token so a simple token can only access the public info and won't cause any damage this is done for beginner ease.

Actually saadpasta.github.io is my personal portfolio and it's just for the demo I am thinking to create a website for developerFolio wi

[2020-05-09 15:37] saadpasta commented on #100
@naveen521kk Thanks for taking care. Really appreciate it.
I'll set up the CI/CD for this whenever something is pushed to master we create a build and pushed it to our branch on gh-pages

[2020-05-09 15:45] prudhvir3ddy commented on #119
@saadpasta oh okay. cool then you can close this issue.

[2020-05-09 15:47] #119 closed

[2020-05-09 15:57] prudhvir3ddy commented on #119
@saadpasta also, i am taking some of your code and customising it to my usecase. as my design interest is little close to this site and want some changes to mine.

so i included in this way i my readme.md. should i give credits anywhere else ?

<img width="1163" alt="Screenshot 2020-05-09 at 9 25 37 PM" src="https://user-images.githubusercontent.com/20471162/81478547-de635900-923b-11ea-8d3b-e1af5f

[2020-05-09 16:34] naveen521kk commented on #119
@prudhvir3ddy Further we partly made it with https://developerfolio.js.org. We just need to set up a CI.
CC. @saadpasta

[2020-05-09 18:03] saadpasta commented on #119
That's perfectly okay. Good luck with your portfolio

[2020-05-10 07:08] naveen521kk opened #120 "Changing the header logo text with Users name"
The header has a Logo like the design of name and is as Saad Pasta. That should be changed to the user name which can be entered using `src/protofolio.js` by the user. That would make it more *customising*.

[2020-05-10 07:43] naveen521kk opened #121 "Make Social Media Links more compatible"
For now, the social media strip component which is used twice is not that *compatible*. It allows only specific links to be added and is now dynamic. If a link is empty it becomes *unclickable* even though the icon is visible. Finally, it needed to be changed to dynamic and let the user add other *socail media* links also.

[2020-05-11 07:29] naveen521kk opened #123 "Open Source Section minor UI update"
The open-source section in the portfolio has more space and alone font-size is bigger. See the screenshot below.
![openSource-section](https://user-images.githubusercontent.com/49693820/81534994-9dc42680-9386-11ea-84bb-e369258828b7.PNG)
The font size of the heading should be reduced. Further, the icon size of the repo should be increased. Using emoji function in description of the
Repo would ensur

[2020-05-11 09:07] naveen521kk commented on #100
Are we done with CI? @saadpasta  Further I think we can use Versel for Deploying our pull requests.

[2020-05-11 15:36] saadpasta commented on #100
I was thinking of Github Actions. What do you say

[2020-05-11 16:25] #120 closed

[2020-05-11 16:26] naveen521kk commented on #121
Fixed in #122

[2020-05-11 16:26] #121 closed

[2020-05-11 18:39] shubhank-saxena opened #125 "Togglable dark mode"
Every programmer's weak point! It would be good to have a togglable feature to view the entire website in light/dark mode!

[2020-05-11 18:40] shubhank-saxena commented on #125
Apologies. Saw a PR already on it!

[2020-05-11 18:40] #125 closed

[2020-05-12 02:35] aashutoshrathi commented on #118
Can I take this up?

[2020-05-12 03:48] kartik918 commented on #118
Hey @aashutoshrathi this has been fixed in #122 and should've been assigned and mentioned here, sorry. But you can look into other good first issues we have. Looking forward to seeing your contributions!

[2020-05-12 04:36] aashutoshrathi commented on #118
Sure. I'll hope to another one.
Thanks for the heads-up .

[2020-05-12 05:15] naveen521kk commented on #118
@kartik918 I had closed the issues which has been fixed by #122 . And this has not yet been fixed so reopening and assigning to @aashutoshrathi.

[2020-05-13 12:20] kartik918 commented on #48
It's alright, let's bump this up to P1 because our project is getting shared on socials and more people will be coming in to contribute @saadpasta.

Also, let me know what you think about setting up priority labels.

[2020-05-13 18:51] naveen521kk opened #126 "Remove src/assests/font-awesome folder"
The folder located at `src/assests/font-awesome` has many issues in Codacy and as well it is not *required*. I also *found* there is a link to font-awesome CSS in `index.html` and that would do. So instead of importing the whole font-awesome using a *CDN* is better.

[2020-05-13 18:51] naveen521kk commented on #126
What do you think @saadpasta and @kartik918 about this?

[2020-05-13 20:14] kartik918 commented on #126
Yeah, if we're already using CDN, we don't need fa. You might want to check if it's being used somewhere since there must be a reason for it to be locally served in the first place.

This will optimize repo size by a little bit too.

[2020-05-14 10:31] naveen521kk commented on #126
I tried *removing* it. It just showed one error. I removed the line that showed that error in `src/index.js`. After that I updated `index.html` with latest CDN link. ( There was a old version linked). After everything, I got no error and all icon rendered properly. Is there anything else that depends on it? @kartik918 @saadpasta

[2020-05-14 10:59] kartik918 commented on #126
Open a PR for it and we can check the changes @naveen521kk

[2020-05-15 08:36] #126 closed

[2020-05-15 15:34] naveen521kk commented on #100
I think @saadpasta for a full deploy with all component we would need to use an Environment variable for that. Especially for Open source section.

[2020-05-15 17:47] saadpasta commented on #48
solved #128 #129

[2020-05-15 17:47] #48 closed

[2020-05-19 10:04] HenryHengZJ opened #131 "Add Work Experience Section"
## Summary
Hi all thanks for the awesome project and the supporting community here. I was wondering can we add a section of work experience just like https://bchiang7.github.io. If yes, I would love to contribute to that.

### What's new?
Adding a new section called WorkExperience that showcase past experiences with timeline.

### Motivation
As an electronics engineer with no formal CS background,

[2020-05-19 18:01] saadpasta commented on #131
@HenryHengZJ That's really a great idea. But first, we need some sketch or design for this section.
@kartik918

[2020-05-19 18:13] saadpasta commented on #131
Or should we use https://bchiang7.github.io/ experience section design

[2020-05-19 18:39] HenryHengZJ commented on #131
I have a relatively simple design like this:
![image](https://user-images.githubusercontent.com/26460777/82365252-53871900-9a08-11ea-9492-a4b76dafa713.png)

[2020-05-19 18:44] saadpasta commented on #131
@HenryHengZJ That's a really cool design I love it.
@kartik918 @naveen521kk what do you guys say.

[2020-05-19 18:45] saadpasta commented on #131
This also matches with our theme

[2020-05-19 19:43] kartik918 commented on #131
Hey @HenryHengZJ, thanks for this idea and the mock.

I like the work horizontal card design but the overall section still could use a fresh look.
Since most of our sections follow the same pattern, let's break the norm with this one!

Unfortunately I'm pretty busy this week so I can't promise mocks "ASAP" but if you find any inspiration or come up with some different design ideas, I'd love to see

[2020-05-20 04:28] awarmfastbear opened #132 "Hosting with GitHub pages?"
**Describe the bug**
The README.md describes being able to host this with GitPages, but as I understand it that is just for static HTML pages. Is there a step missing in the ReadMe that allows you to build and minify the site into a static build folder so you don't need a NodeJS backend to run it?

I guess `npm build` should work but if I build and push those built files into a repo and put a Gith

[2020-05-20 05:48] naveen521kk commented on #132
You would need to *change* the `homepage` in `package.json` to your site path in your case it is `https://awarmfastbear.github.io/myportfolio` or simply `/mypotfolio`. On doing so the site builds your site with that path and you would not get  a *404 error*. For more information about this check out this [doc](https://create-react-app.dev/docs/deployment/#github-pages) from Create React App. By de

[2020-05-20 05:51] naveen521kk commented on #131
@HenryHengZJ, thanks for this idea and the *mock*. I think it is a *really* great addition to this project. I accept with @kartik918 on changing the theme. So lets make it as a new *component* to our site.

[2020-05-20 12:18] HenryHengZJ commented on #131
Hey guys I came up with a cardview based design:

https://codepen.io/henryhengzj/pen/vYNvjJY

![image](https://user-images.githubusercontent.com/26460777/82445214-54698a80-9a9c-11ea-9ad1-681376a00215.png)

[2020-05-20 13:28] kartik918 commented on #100
@saadpasta @naveen521kk The current deployment branch link in our repo's description has partially broken elements with Naveen's bio lol. We should look into it and revert it to Saad's or just make it neutral.

As in add "Your name, Your bio here in 2-3 lines, Your work experience" etc. What do you guys think and we should address this ASAP.

[2020-05-20 13:30] kartik918 commented on #132
We should update this information in our README so others don't get confused either.

[2020-05-20 13:39] kartik918 commented on #131
I like this design but I have a few changes in mind.

- Let's make the edges less round so it fits more with the other card components.

- Switch card background to a brand color of the place they've worked at. This would solve the problem of low res images, background noise and looks better in general.

I made the above design changes while playing with the code pen:

![image](https://user-images

[2020-05-20 13:41] naveen521kk commented on #100
I will take up this and update this with Saad'd and soon write something neural.

[2020-05-20 13:51] kartik918 commented on #100
Yep but let's wait for PRs that are being worked on to merge first so they don't have issues while getting it merged. We can update the deployed one with the neutral info though just not update master branch right now. Or keep it like before using Saad's info and then update afterwards.

[2020-05-20 14:17] HenryHengZJ commented on #131
@kartik918 Thanks for the suggestion and improvement. I am happy to take this up as my first open-source contribution 🙌 I know there is a library that extracts the prominent color of an image https://github.com/lokesh/color-thief.

[2020-05-20 14:37] kartik918 commented on #131
Alright I'm assigning this to you. If you need help or get stuck somewhere, feel free to ask so we can deliver this smoothly.

Some stuff to keep in mind while working on this component,

- keep the component independent, as in independent JS, HTML and CSS like other components you must have checked out in the repo.

- update portfolio.js with minimal user information for the component like:
``Nam

[2020-05-20 14:41] kartik918 opened #133 "Rename "assests" folder to "assets""
Currently the assets folder has a typo. We need to update the name and directory referencing throughout the codebase accordingly.

[2020-05-20 15:02] HenryHengZJ commented on #131
@kartik918  Should I install the library with npm or load it from CDN?

[2020-05-20 15:08] naveen521kk commented on #131
Installing through `npm` is better. As our codebase already has many external requests it is better to serve it locally (Also for *offline* testing). So, I recommend installing through `npm` instead of `cdn`.

[2020-05-20 15:26] kartik918 commented on #131
NPM

[2020-05-21 11:44] #132 closed

[2020-05-21 16:27] naveen521kk opened #137 "Add 404 page"
## Summary
Add a new [404 page](https://help.github.com/en/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site) to this portfolio.

### Motivation
Nearly all webpages have it.

### Additional context
https://help.github.com/en/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site
The above link explains how to add it in a Github P

[2020-05-21 16:27] naveen521kk commented on #137
What do you think about it @saadpasta and @kartik918  ?

[2020-05-21 16:35] kartik918 commented on #137
This, although being a good addition to any website, isn't related or useful to ours at all.

Since ours is a "webpage" or an SPA and not a website, we don't require a 404 throwback. It's either browser finds the URL, or it doesn't which would throw back to GH pages 404 which does the job. There's no outbound links from the app as of now

However, if we ever move away from being an SPA (which in m

[2020-05-21 16:36] #137 closed

[2020-05-23 07:18] th3c0d3br34ker opened #139 "Build failing on windows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to build
2. Click on ... just build it.
3. Scroll down to: no where to scroll
4. See error
./src/components/talkCard/TalkCard.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/components/talkCard/TalkCard.css)

[2020-05-23 19:40] saadpasta commented on #139
Is npm start working correctly

[2020-05-24 06:26] th3c0d3br34ker commented on #139
yes

[2020-05-24 06:27] th3c0d3br34ker commented on #139
No

[2020-05-24 07:17] naveen521kk commented on #139
Could you please take a screenshot of the terminal output. It would help in debugging. I use windows 10, I don't get these error. Also, make sure you check you haven't edited anything and just run. @th3c0d3br34ker

[2020-05-24 08:30] th3c0d3br34ker commented on #139
I just cloned it again and tried to run it... I noticed I had run 'npm audit fix' other than that...
No, I haven't edited anything before running it... However i have attached a screenshot
![image](https://user-images.githubusercontent.com/60807938/82749441-e76d3200-9dc6-11ea-9e90-434682e5f2d6.png)

[2020-05-24 08:33] naveen521kk commented on #139
Try out with  `npm install` again. Then, try out with `npm start`. It should work I think.

[2020-05-24 08:36] th3c0d3br34ker commented on #139
the issue still persists... in all other places forward slash has been used, for sake of uniformity too...

[2020-05-24 10:23] naveen521kk commented on #139
I don't think there is any problem with the code @th3c0d3br34ker . Try cloning it again and without _copying_ node_modules using the command **npm install**. On seeing the **screenshot**, I see that's because of node_modules and not because of code . And if the problem continues the best would be reinstalling _Node Js_. And also, what version of npm you run?

[2020-05-24 10:49] th3c0d3br34ker commented on #139
Yes there is nothing wrong with the code, this just a friendly suggestion its totally up to you to change it, it will work without `npm audit fix`, also in other .css files are referenced with forward slashes just for the sake of uniformity making this small change wont do any harm.
Also, great fan of this project and would like to thank @saadpasta all the contributors for this amazing project, an

[2020-05-24 10:49] #139 closed

[2020-05-24 17:08] naveen521kk commented on #131
Fixed in #136

[2020-05-24 17:08] #131 closed

[2020-05-24 17:15] naveen521kk commented on #100
Versel is doing its work good. But does it deploy our `master` branch to `gh-pages`? Deploying it so is much necessary. If it doesn't we should come out with a script using Github Actions to do that. Or if f wanted we can also use Travis CI. What do you think about this @saadpasta ?

[2020-05-25 12:30] naveen521kk commented on #100
@saadpasta @kartik918 Can we add https://github.com/JamesIves/github-pages-deploy-action to our this for deploying master branch? Or, can we use Travis CI to do it?

[2020-05-25 13:37] kartik918 commented on #100
It's just two CLI commands to run so we can either use our own ``action.yml`` file or get an action from the marketplace. I'm good either ways as long as it gets the job done perfectly.

[2020-05-25 13:44] naveen521kk commented on #100
Um. We have some issues in `Portfolio.js`. We want a full deploy with all the component and its nearly _impossible_ to set the Github Personal Access tokens and commit to master. Its required that it is an environmental variable. @kartik918

[2020-05-25 14:01] kartik918 commented on #100
It's not *impossible*. You can setup secrets in the settings of a repo and that access is with Saad only.

Not sure what you mean by it would be impossible to achieve.

[2020-05-25 14:06] naveen521kk commented on #100
We have to make a commit in master switching Github repo card variable to a environment variable, for the ease of deploy. If you, know how about in setting up Github Action you can set it up. @kartik918

Furher, Sorry for using _impossible_.

[2020-05-25 14:21] kartik918 commented on #100
It's alright. I know what you mean by setting up the variable but like I said before, only admin can set secrets and stuff in the repo which is @saadpasta 's domain. So nothing we can do on this.

[2020-05-25 15:12] saadpasta commented on #100
@kartik918 @naveen521kk I was busy. We have Eid Here in Pakistan. I am working on it

[2020-05-25 15:36] kartik918 commented on #100
No hurries @saadpasta , Eid Mubarak!

[2020-05-25 16:25] naveen521kk commented on #100
Eid Mubarak!!

[2020-05-25 17:13] kartik918 commented on #116
Closed in #142

[2020-05-25 17:13] #116 closed

[2020-05-26 06:54] kartik918 commented on #118
@aashutoshrathi are you still working on this? Thanks.

[2020-05-26 07:14] aashutoshrathi commented on #118
Will pick it, this week.

[2020-05-26 08:06] #133 closed

[2020-05-26 18:24] Abubakarmujahid opened #148 "I 'm beginner, facing issue in deployment, can you pls help me?"
![image](https://user-images.githubusercontent.com/65970121/82936160-9a948180-9fa7-11ea-8d49-5680378fa7e1.png)

![image](https://user-images.githubusercontent.com/65970121/82936220-b13ad880-9fa7-11ea-96ca-b29114195bcd.png)

![image](https://user-images.githubusercontent.com/65970121/82936259-bc8e0400-9fa7-11ea-82f5-c4f0ca767468.png)

[2020-05-27 07:11] naveen521kk commented on #148
This `package.json` doesn't belong to this repository. And it is more important that you use the same `package.json`. The file is available in the root of directory. I think that would solve your problem.

[2020-05-27 10:13] Abubakarmujahid commented on #148
Thank you, can you pls guide me about where will be root of directory?

[2020-05-27 10:16] naveen521kk commented on #148
Have you `cloned` the repository using git? Or just downloaded it. For your reference, I have added linked `package.json`.
https://github.com/saadpasta/developerFolio/blob/master/package.json
The same content should be there while deploying it.

[2020-05-27 12:56] Abubakarmujahid commented on #148
Thanks, Ye I cloned it.

[2020-05-27 13:09] naveen521kk commented on #148
Can this issue be closed?

[2020-05-27 13:33] Abubakarmujahid commented on #148
yes, thank you very much

[2020-05-27 13:33] #148 closed

[2020-05-28 10:05] saadpasta commented on #100
Fixed Vercel added and Github Action added to deploy to our Github pages domain.
Please check Github Action Tab

[2020-05-28 10:05] #100 closed

[2020-05-28 10:29] saadpasta commented on #100
@kartik918 @naveen521kk
Codacy has also been removed

[2020-05-28 15:39] naveen521kk opened #153 "Using Projects"
I think it would be good if start using [Github Project](https://github.com/saadpasta/developerFolio/projects). We can just our project goal ( maybe creating new *components* ) or organize issues. I just your opinion about this @saadpasta and @kartik918.

[2020-05-28 16:58] kartik918 commented on #153
While it's a good idea, it isn't ideal for small to medium scale "passion" projects. We don't have long term goals about the projects or any direction for it since it's something we all are creating together in our free time.
GH Projects are better suited for software or project development with teams working on different stuff together whereas we are loosely working and building on suggestions an

[2020-05-28 16:58] #153 closed

[2020-05-30 14:08] AkshayCHD opened #154 "Add subPoints section in workExperiences section"
First of all great work @saadpasta and all other contributors, really an awesome project.

## Summary
In the experience section, It would be great to have a functionality to add subpoints along with the general description.

### Motivation
Actually I was using the project to create my own portfolio, but some of my internships involved me working on several projects instead of one. The idea to keep

[2020-05-30 14:08] AkshayCHD commented on #154
@saadpasta If the issue seems valid I would like to make a PR for it

[2020-05-30 15:07] saadpasta commented on #154
@AkshayCHD It would be great to add bullet points but make sure you make that optional

[2020-05-30 17:55] AkshayCHD commented on #154
@saadpasta PR raised

[2020-05-31 06:39] abhishekashyap commented on #55
Can I take this up?

[2020-05-31 06:46] kartik918 commented on #55
Thanks for your interest @abhishekashyap but we already have an outstanding PR in progress by @MohammadHasham in #92.

I'll add him as an assignee to clear up further confusion.

[2020-05-31 06:47] kartik918 commented on #55
@MohammadHasham can you drop a comment here so I can assign this to you?

[2020-05-31 06:50] kartik918 commented on #154
@saadpasta this seems like a personal formatting choice, no? So I think the user can edit HTML to add bullets.

But this also simplifies the process more for the user and gives more options without touching the code under the hood so I'm conflicted on my opinion haha.

[2020-05-31 06:54] kartik918 commented on #88
Closing this, design has been updated in #90 and #32.

[2020-05-31 06:54] #88 closed

[2020-05-31 07:13] kartik918 opened #156 "Add "outward" transitions for button hover effects"
Current button hover animations work smoothly on the first half and return to their initial state instantly on the other half of the animation (i.e taking cursor off the buttons)

Adding complementary CSS `transition: ease-in 0.3s;` to the button component `.main-button` class should work.

[2020-05-31 07:56] naveen521kk opened #157 "Blog Section Bug"
**Describe the bug**
There is a bug out there in Blog Section, on smaller viewports line *mobiles*. This hides the title. (*See* the Screenshot). This needed to be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://developerfolio.js.org/#blogs in mobile or Dev *tools*.
2. Scroll down to *Blogs* Section.
4. See error in heading part.

**Expected behavior**
A proper title with

[2020-05-31 13:02] kartik918 commented on #157
Cards are off center too, so this should also be fixed in this.

[2020-05-31 13:10] #154 closed

[2020-05-31 15:23] aashutoshrathi commented on #118
@naveen521kk Should I convert them once and for all? Or we need an script?

[2020-05-31 15:51] naveen521kk commented on #118
Its enough to convert it all at once. We no need any script for that. @aashutoshrathi

[2020-05-31 16:11] MohammadHasham commented on #55
Yeah sure!

[2020-05-31 17:11] AkshayCHD opened #160 "Add functionality to load github token from env file"
## Summary
There should be an option to load the github token from env file as, generally users don't want to commit this information

### Motivation
While using the project I had to replace my token with some template string before commiting, so as to prevent it from being retrieved when and if the branch is pushed into some remote repository.

[2020-06-02 08:10] naveen521kk opened #162 "Github Repo Not Showing In Deployment"
While going to https://developerfolio.js.org/#opensource , I just found out that the section is not visible, possibly because tokens are not entered by the new CI. Check out @saadpasta .

[2020-06-02 08:42] saadpasta commented on #157
@naveen521kk ellipsis is being shown we have to just fix the height to hide extra content.
We can't show a title that exceeds more than 2 lines.

[2020-06-02 17:46] naveen521kk commented on #162
Also @saadpasta make Github Actions to automate releases.

[2020-06-02 17:50] saadpasta commented on #162
@naveen521kk yeah I am also thinking of doing so

[2020-06-02 17:51] saadpasta commented on #162
fix #164

[2020-06-02 17:51] #162 closed

[2020-06-02 17:53] kartik918 commented on #162
Let's add a test podcast or remove the component all together if there's nothing to show.

[2020-06-02 17:55] saadpasta commented on #162
@kartik918 A podcast is being shown in Podcast Section

[2020-06-02 17:56] kartik918 commented on #162
Is it? Oh then it must be my blocker. We should add a warning for that.

It used to show a while back though so it's weird.

[2020-06-02 17:58] kartik918 commented on #162
Also align the warning for Twitter component too.

Could you open an issue for it?

![image](https://user-images.githubusercontent.com/48270786/83553387-be684200-a528-11ea-9df3-d94453cb4ecc.png)

[2020-06-02 18:02] saadpasta commented on #162
@kartik918 both are Iframe I think we can't do anything in this case

[2020-06-02 18:03] kartik918 commented on #162
Let's just add a warning like the Twitter component @saadpasta ?

[2020-06-02 18:11] saadpasta opened #165 "Add a warning for podcast section"
## Summary
Add a warning if podcast section Iframe could not be loaded

### What's new?
It includes changes in the previous component

### Motivation
It will help the user to know that something has to stop Iframe Loading

### Additional context
![image](https://user-images.githubusercontent.com/48270786/83553387-be684200-a528-11ea-9df3-d94453cb4ecc.png)

[2020-06-02 18:13] naveen521kk commented on #162
I think aligning tw component is in #107

[2020-06-02 18:17] kartik918 commented on #162
Centered Twitter component looked "off", I tried it but I'm okay with it if you guys are okay with it too.

[2020-06-03 07:06] AkshayCHD opened #166 "Talks list renders vertically rather than horizontally"
**Describe the bug**
When multiple talks are added in the talks section of portfolio.js, the talks list is rendered vertically rather than horizontally

**To Reproduce**
Steps to reproduce the behavior:
1. Go to portfolio.js
2. In the talksSection add 2 talks instead of one
3. run npm start
4. Observe talks section

**Screenshots**
![talks](https://user-images.githubusercontent.com/25455546/836061

[2020-06-03 07:10] PulkitBanta opened #168 "Page refreshes 3 times"
**Describe the bug**
In the mobile view, clicking on the logo or refreshing the page refreshes it three times.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://developerfolio.js.org/'
2. Go to mobile view OR `ctrl + shift + m`
3. Click on 'Logo' or 'Refresh' the page
4. See error

**Expected behavior**
The page should refresh only once.

**Is this responsiveness Issue**
NO

**D

[2020-06-03 07:29] AkshayCHD opened #169 "Arrow Button in Blog Section not functional"
**Describe the bug**
In the blog section card when the button is clicked the user should be redirected to the url provided in the card info, but this does not happen

**To Reproduce**
Steps to reproduce the behavior:
1. Run the project
2. Go to blogs section
3. Click on the arrow button

**Expected behavior**
As per intuition when the arrow button is clicked the user should be redirected to the bl

[2020-06-03 07:54] #169 closed

[2020-06-03 08:23] #166 closed

[2020-06-04 12:13] saadpasta commented on #160
fixed in #164

[2020-06-04 12:13] #160 closed

[2020-06-05 18:49] kartik918 commented on #168
I tried to reproduce it and I can "semi" confirm it. Only 1 out of 4-5 times did I experience this. Also this seems to be a react problem and not the app itself.
As a fix we can put the header logo to `href="#"` but that isn't what it's supposed to. Need another opinion on how to go with this, @saadpasta ?

[2020-06-05 18:54] kartik918 commented on #62
So what do you think about going with this now @saadpasta ? Should we, or should we close it unless we need it.

[2020-06-05 18:59] saadpasta commented on #168
@kartik918 @PulkitBanta can't reproduce on my end can you screen record it or something

[2020-06-05 18:59] saadpasta commented on #62
@kartik918 don't think we need it.

[2020-06-05 18:59] #62 closed

[2020-06-05 19:04] kartik918 commented on #168
Yep, I can't reliably reproduce it either. So that would be great if you could.

[2020-06-06 05:09] PulkitBanta commented on #168
Here, I have attached a zip file with the screen recording.

[Dev Folio Error.zip](https://github.com/saadpasta/developerFolio/files/4739373/Dev.Folio.Error.zip)

[2020-06-06 06:23] kartik918 commented on #168
I've tried to reproduce this different ways but couldn't.

It's obvious it happens for you since you posted a video reproducing the bug.

We'll keep this bug in case we start observing it ourselves, for now I'm adding an unconfirmed tag to the issue.

[2020-06-07 06:35] kartikcho opened #174 "Use Headroom for header"
## Summary
Let's add [Headroom](https://github.com/KyleAMathews/react-headroom) to use for the header.

### What's new?
Header hides while scrolling but is stickied to top when you scroll back up.

### Motivation
H E A D E R

### Additional context
This is a good and simple issue for any first time contributors but we should add this if it doesn't get taken up in a week or two.

Also, if you're wo

[2020-06-07 09:12] naveen521kk opened #175 "Add loading Screen to Twitter Component, Github Profile and Github Repo"
## Summary
Need to add a loading Screen in Twitter Component, Github Profile and Github Repo just because they are taking time to load and leaves a bad impression on first look. A simple Loading Screen would do.

### What's new?
Adding loading Screen.

### Motivation
Just come up with it while visiting the site.

[2020-06-07 09:14] naveen521kk commented on #175
I am taking up this and will make a PR.

[2020-06-08 23:11] danial1021 opened #180 "token revoke"
The token in .env is destroyed when distributed on the githubpage.
In my opinion, for security reasons,
I think it's possible to delete static files from github in the process of uploading them to github page.

what should i do?

[2020-06-09 14:34] kartik918 commented on #175
Hey @naveen521kk , look into [Spinkit](https://tobiasahlin.com/spinkit/) to create a lightweight loader. I like the 9th one in particular, it would go well with the UI I think.

[2020-06-09 17:01] saadpasta commented on #180
@danial1021 I am using the token both for DeveloperFolio and saadpasta.github.io.
Github Must have reverted the token if you have pushed the end. Don't push the .env file

[2020-06-09 17:11] saadpasta opened #182 "Remove axios to fetch user data from Github"
## Summary
Currently, we are using Axios to fetch user Github Profile to view its contact section. The API call is returning a lot of unwanted data that we don't need.

### What's new?
We should remove Axios and use Github GraphQl V4 API to fetch user profile from Github using the below schema. You can test this on [GraphQl Api Explorer](https://developer.github.com/v4/explorer/)

[code]

### Moti

[2020-06-09 17:12] saadpasta commented on #182
I am taking this up ✌️

[2020-06-09 17:37] sparsh-99 commented on #156
Hey @kartik918, what you actually want with CSS hover?
Can you please give me a brief description?
It will be very helpful in contributing.
Thanks

[2020-06-09 17:46] kartik918 commented on #156
I'm sorry if I wasn't clear enough in the description, basically what Saad mentioned in your [PR](https://github.com/saadpasta/developerFolio/pull/179#pullrequestreview-427376605).
Check the link to his deployment of the portfolio and update the CSS transitions with it, adding `transform: translateY(-3px);` would be a plus.
Let me know if you need more information on this @sparsh-99 .

[2020-06-09 19:34] sparsh-99 commented on #174
I want to work on the issue, @kartik918

[2020-06-09 19:50] kartik918 commented on #174
Okay, this issue is your now @sparsh-99

[2020-06-10 03:22] sparsh-99 commented on #174
@kartik918 , for headroom tag, I want to change HTML file. Can you please tell me where all HTML work is saved so that I can review it for the change?

[2020-06-11 04:30] danial1021 commented on #180
need github_token to run the grapql.
Will the code run even if the .env file is excluded from distribution?

[2020-06-12 08:54] naveen521kk commented on #180
Yes @danial1021 , See [gh-pages](https://github.com/saadpasta/developerFolio/tree/gh-pages). It would work.

[2020-06-12 15:17] sparsh-99 commented on #165
Hey @saadpasta , I would love to work on this issue!!
Can you give me more description, actually what type of error should come up or something else?

[2020-06-13 11:09] #182 closed

[2020-06-14 17:15] JaveedIshaq commented on #180
please guide in detail how to not push .env, if i delete before depoy github repos and name image not appear,
if not deleted .env before if is revoked by github

[2020-06-15 07:56] kartik918 commented on #165
@sparsh-99 it would be similar to what is displayed when twitter component doesn't load for some reason.
Assigning this to you.

[2020-06-15 08:01] kartik918 commented on #165
I checked you already have 2 pending issues with PRs to be merged/submitted.

I'll re-assign this to you when they're merged successfully! Till then it's open for others to take up.

[2020-06-16 05:24] saadpasta commented on #180
@JaveedIshaq Please put .env file in .gitignore and then create build

[2020-06-18 05:38] #175 closed

[2020-06-19 12:52] #156 closed

[2020-06-20 14:26] sparsh-99 commented on #123
Closes #156

[2020-06-20 16:19] kartik918 commented on #123
Closed by #183

[2020-06-20 16:19] #123 closed

[2020-06-21 12:56] AyyanNiazi opened #189 "Resume Editable from live website"
## Summary
I think it should editable from live website like every should able to create its own resume as per its skills and Education and also resume should be download . Like if someone dont want whole portfolio and he/she want only resume and most of the cases it make sense

### What's new?
Templates for Resume
Resume Downloader  (PDF)

### Motivation
i am interesting to do this whole part wit

[2020-06-21 15:35] saadpasta commented on #189
@AyyanNiazi that's a great idea. But for this, we have to change our whole codebase and I think this is a complete project in itself. If you would like to create something like this you can take the DeveloperFolio code and start working on it and publish the project on your profile. We. would love to help and see how this turns out. ✌️

[2020-06-22 09:04] saadpasta opened #190 "Video for complete deployment of DeveloperFolio"
## Summary
I have received lots of messages that people are facing issues in deploying their portfolio to Github pages.

### What's new?
We would create a simple video on how to clone our project and change details and deploy it to Github pages.

### Motivation
It would help lots of newcomers to deploy their portfolio without any hassle.

[2020-06-22 15:42] #189 closed

[2020-06-23 18:39] naveen521kk commented on #174
@sparsh-99 Any updates?

[2020-06-23 18:44] kartik918 commented on #190
A video walkthrough seems too much (maybe a youtube link if we want to do it), maybe a page on the "demo" portfolio that would be a step by step instruction with images to help set it up for deployment. Open to discussion on this.

[2020-06-23 20:59] sparsh-99 commented on #174
@naveen521kk I started working on it. A PR will be opened within a few days.

[2020-06-24 04:38] naveen521kk commented on #190
The video if required should be a YouTube link and according to me is way too much for this project. Also, create a wiki page for Deploying step by step with pictures would help instead of doing it in Readme file or the demo portfolio. The demo portfolio is intended for people 👫 to check how it actually works.

[2020-06-24 05:54] saadpasta commented on #190
@naveen521kk @kartik918 so should we go with the readme with pictures.

[2020-06-24 06:15] naveen521kk commented on #190
According to me, Readme looks pretty filled up. Rather, we could use GitHub Wiki for it. With pictures.

[2020-06-25 09:32] naveen521kk commented on #174
@kartik918 Lets wait for few more days for any new contributor. If not, we could do it.

[2020-06-25 09:37] kartik918 commented on #174
Sure! You could invite someone you know to take this up as their first issue. You can mentor them through the issue and possibly grow a new contributor!
Or we could just finish it in a bit. Right now the dark mode PR is becoming a blocker for all existing PRs which needs more attention I think.

[2020-06-27 00:18] mcsheha opened #193 "Experience cards don't display properly on mobile browser"
On mobile browser, experience headings and logos stack at top of section.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot 2020-06-26 at 8 11 07 PM](https://user-images.githubusercontent.com/21299027/85909812-b3cc6000-b7e9-11ea-88a9-7ef955415693.png)

**Smartphone (please complete the following information):**
 - Device: iPhone Xs Max
 - OS: iOS 13
 - Bro

[2020-06-27 07:50] #118 closed

[2020-06-27 08:08] aashutoshrathi opened #195 "Audit Improvement"
## Summary
We have served images in next-gen-format, but there are widgets which are serving JPG and also tons of performance, best practices, and accessibility fixes that needed to be made

### Motivation

![image](https://user-images.githubusercontent.com/21199234/85917858-67c9fb80-b87b-11ea-8307-4bbe00658734.png)

Full Report: [Here](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url

[2020-06-27 18:49] naveenjujaray opened #196 "./src/components/talkCard/TalkCard.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/components/talkCard/TalkCard.css) Module not found: Can't resolve './...."
./src/components/talkCard/TalkCard.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/components/talkCard/TalkCard.css)
Module not found: Can't resolve './....

[2020-06-29 20:10] chaser2304 opened #197 "Doubt"

[2020-06-29 20:28] #197 closed

[2020-06-29 20:29] chaser2304 commented on #197
I solve it

[2020-06-30 03:37] naveen521kk commented on #196
Have you ran
[code]
Command? Also, see if `node_modules` directory is present in current working directory.

[2020-06-30 03:40] naveen521kk commented on #195
I just see that it is not possible until we actual get tweets and embed each one. I just checked that it uses Twitter's js lib which doesn't support it. Maybe just checking it is better.

[2020-06-30 03:45] naveen521kk commented on #157
Fixed in #161

[2020-06-30 03:45] #157 closed

[2020-06-30 13:21] #196 closed

[2020-06-30 17:35] aashutoshrathi commented on #195
@naveen521kk I think even if leave these images, there are tons of other stuff to be done.

[2020-06-30 17:44] naveen521kk commented on #195
If you can maybe list like below one.

- [ ] Like this

This would be helpful to know what to be done.

[2020-06-30 22:21] rapradiptya opened #198 "Crash"
On mobile version, img in card hasbeen crash.

![AF2F0993-C94B-4E98-9759-2BDBD0B6B0FF](https://user-images.githubusercontent.com/1493772/86182684-9fc28e80-bb5a-11ea-81fe-7de53a2f6a3e.png)

[2020-07-01 05:18] naveen521kk commented on #198
Looks same like #193. Will look into it.

[2020-07-01 05:18] #198 closed

[2020-07-01 17:09] tiagodenoronha commented on #193
Same issue happens on Mac. See attached screenshot:

<img width="1606" alt="image" src="https://user-images.githubusercontent.com/27889458/86272109-f6b17d80-bbc5-11ea-8937-c9a4a4c90473.png">

[2020-07-01 17:44] naveen521kk commented on #193
This is disturbing. Looks like a weird bug and I doubt `color theif` is the culprit. Maybe, I will try using lazy like I did for other sections if that works I will make a PR tomorrow if not I prefer reverting that Commit which added it. I need your comments on this @kartik918 and @saadpasta

[2020-07-01 18:03] saadpasta commented on #193
@naveen521kk I did not look into this much I think you are right about **color theif**. Try fixing this if possible otherwise, just remove the library and a key for the background color for now

[2020-07-01 18:06] kartik918 commented on #193
We certainly won't and shouldn't revert breaking commits. Instead we can look into the cause and patching it ASAP.

Still a weird bug because I remember testing for responsiveness issues. I doubt shifting to suspense would fix it. Regardless, we should look into this and open a PR fixing it.

I'll check it in depth later and share what I find

[2020-07-01 23:21] tiagodenoronha opened #199 "[Safari] Switched characters on Title"
**Describe the bug**
The username is getting the 2 last letters switched.

**To Reproduce**
Steps to reproduce the behavior:
1. Write your username
2. Start npm
3. Page loads with wrong name
**Expected behavior**
Same name as username

**Is this responsiveness Issue**
NO

**Screenshots**
<img width="585" alt="image" src="https://user-images.githubusercontent.com/27889458/86300032-9a685100-bbf9-11e

[2020-07-02 05:39] saadpasta commented on #199
That's a very weird issue I guess. Because we are just using font for the heading nothing much.

And for DeveloperFolio in my case, it's showing the name correctly.
<img width="164" alt="Screen Shot 2020-07-02 at 10 38 10 AM" src="https://user-images.githubusercontent.com/23307811/86320360-2a38ea00-bc50-11ea-9009-cdf053e78567.png">

[2020-07-02 06:41] kartik918 commented on #193
I checked on FF and Chrome, even on mobile to confirm but I can't reproduce the bug. It looks fine on smaller screens for me,

![Screen Shot](https://user-images.githubusercontent.com/48270786/86324208-d6340280-bc5b-11ea-93ba-c60d4796eb5c.png)

My theory judging from the screenshots above, it is caused by images not loading and `color-thief` complaining because it can't extract colors, thus the em

[2020-07-02 09:29] tiagodenoronha commented on #199
Strangely, only happens in safari 😄

This is on the latest version of chrome, on the same Mac.
<img width="551" alt="image" src="https://user-images.githubusercontent.com/27889458/86341900-cd88ff80-bc4e-11ea-9754-1b741c18413a.png">

[2020-07-02 11:38] mcsheha commented on #193
@kartik918 This occurs for me in iOS 13 in both Safari and Chrome. I disabled content/ad blockers and tried various networks including cellular and wifi and the problem persists.

[2020-07-02 16:53] naveen521kk commented on #193
@mcsheha @tiagodenoronha Can you check whether the same problem happens with https://mknaveen.netlify.app/ If not I found a fix for it.

[2020-07-02 17:03] mcsheha commented on #193
@naveen521kk Same issue with that site as well. I just tried it with Safari and Chrome on iOS and same results as before.
![IMG_0314a](https://user-images.githubusercontent.com/21299027/86389489-60806480-bc64-11ea-84b0-8460a688506d.png)

[2020-07-02 17:38] naveen521kk commented on #193
So `webp` is not the problem! Let me look into other things and try to fix it!

[2020-07-03 08:28] kartik918 commented on #193
I had suspicions that it could be the cause, right now kinda out of solutions in mind, do you have anything to try out in mind @naveen521kk? We could find a Mac to better debug and repro the issue.

[2020-07-03 09:01] abhishekashyap commented on #193
@naveen521kk  https://mknaveen.netlify.app/ works fine on safari 13.1 macOS

[2020-07-03 09:06] naveen521kk commented on #193
I tried it with many browsers on my phone. Specifically running the site on Samsung Internet had the same issue. So we should fix it.

Also, I don't really have any Idea. @kartik918

[2020-07-03 10:00] abhishekashyap commented on #193
The issue was caused due to CSS positioning. Position specification should be in both the elements, the parent and the container.
Since the position absolute was given only to the child, the elements were seen to be overlapped. Chrome and Firefox handled this but safari needed explicit specification.

The not loading of images was indeed due to webp format which is currently not supported on safar

[2020-07-03 10:20] kartik918 commented on #193
Fixed in #201

[2020-07-03 10:20] #193 closed

[2020-07-03 10:22] kartik918 commented on #199
We've had another recent report of a Safari issue, @tiagodenoronha if you could provide a fix for it, that'd be great!

[2020-07-03 10:25] kartik918 commented on #195
This was discussed before too, check #82 for more context.

[2020-07-03 10:33] tiagodenoronha commented on #199
I'm not quite skilled in react or even js... don't know if I can be of much use here besides testing... :/

[2020-07-03 11:02] naveen521kk commented on #193
Samsung Internet is weird. Still I get the same issue there even I get the issue on Achievement Section and talk section. So I think that browser is worst. Also just doubting is it fixed in Safari?

[2020-07-03 11:08] tiagodenoronha commented on #193
Yes, can confirm it is solved in Safari for iOS and MacOS.

[2020-07-03 11:34] kartik918 commented on #199
That's okay @tiagodenoronha, filing bugs is a pretty important contribution too!

@abhishekashyap do you want to take a look at this too since it's another Safari issue.

[2020-07-03 16:04] abhishekashyap commented on #199
I am able to reproduce the issue but will have to look at what exactly is causing this weird bug.

[2020-07-03 19:38] #199 closed

[2020-07-04 08:56] archit0210 commented on #174
I will work on this issue @kartik918

[2020-07-05 08:12] archit0210 commented on #174
@kartik918 need help!

[2020-07-05 08:13] kartik918 commented on #174
What's the problem?

[2020-07-05 08:49] archit0210 commented on #174
@kartik918 as i was just going through the workflow i want to know that you want changes in all pages header or only front page?

[2020-07-05 09:23] kartik918 commented on #174
The portfolio is a single page application and header is a separate component.

npm install the headroom dependency I mentioned in the issue and wrap the header component inside it. Look at their docs for more help.

This should help you out!

[2020-07-05 16:42] naveen521kk commented on #180
Issue closed due to no conversation.

[2020-07-05 16:42] #180 closed

[2020-07-06 08:23] archit0210 commented on #174
![Capture](https://user-images.githubusercontent.com/67779397/86571972-e9aed880-bf8f-11ea-8e96-9555df8c32ce.PNG)
@kartik918 i tried to do fix the header but he thing is the header is transparent so the text is there(behind the header)

[2020-07-06 08:25] kartik918 commented on #174
You can add necessary CSS to header's background.

Also why is the header so "low" from the top?

[2020-07-06 15:00] archit0210 commented on #174
that's the snapshot after scrolling

[2020-07-07 08:46] archit0210 commented on #174
![image](https://user-images.githubusercontent.com/67779397/86751456-4bd50f80-c05c-11ea-8cf8-68e3fd1cd3ce.png)
not able to import the headroom file, help me out in this

[2020-07-07 20:11] raflisboa opened #204 "Hide or Disable Section"
## Summary
A simple way to Hide or Disable Section

### What's new?
So, in my project, I don´t need Podcast section, for example. So, is there a simple way to hide or disable useless sections?

[2020-07-08 07:30] kartik918 commented on #174
Did you do `npm install react-headroom`?

After that, `import Headroom from 'Headroom'` should work.

Also, while importing modules you don't need to add '.js' at the end for es modules.

Can you open a draft PR so I can review your code and better help you out?

[2020-07-08 08:53] archit0210 commented on #174
yes i have already installed the module and also see this problem!!
![Capture](https://user-images.githubusercontent.com/67779397/86898583-86a37a00-c126-11ea-8f7a-e7b68237e566.PNG)

[2020-07-08 09:12] kartik918 commented on #174
Have you forked the repo to your account because I don't see a fork from you.

[2020-07-08 11:45] archit0210 commented on #174
yes, please check the code

[2020-07-08 12:06] kartik918 commented on #174
Can you open a draft PR with your changes please so I can give a direct review @archit0210?

[2020-07-08 12:12] archit0210 commented on #174
done

[2020-07-08 12:12] archit0210 commented on #174
check the code and help me

[2020-07-08 17:47] saadpasta commented on #204
Try `hidePodcastSection` key inside podcast section object

[2020-07-09 20:54] lakshaysharma14 opened #206 "colorthief not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Is this responsiveness Issue**
YES/NO

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-07-09 20:54] #206 closed

[2020-07-12 04:50] myounus96 opened #207 "working fine locally but got errors after pushed to <myusername>.github.io repo"
I've checked all the open and closed issues, but didn't found any issue similar to that.

**Describe the bug**
working fine locally but got errors after pushed to `<myusername>`.github.io repo

**To Reproduce**
Steps to reproduce the behavior:

1. Fork and clone the [repo](https://github.com/saadpasta/developerFolio).
2. change homepage value to https://myounus96.github.io/developerFolio.
3. creat

[2020-07-12 08:31] saadpasta commented on #207
@msayyaf1 make sure you have changed the URL of the homepage in package.json

[2020-07-12 08:33] myounus96 commented on #207
I did that, mentioned in point 8 in steps.
And you tagged the wrong person :D

[2020-07-12 08:34] saadpasta commented on #207
Can I have a look at your package.json

[2020-07-12 08:35] myounus96 commented on #207
here u go https://pastebin.com/iJUDxjpj

[2020-07-12 08:49] saadpasta commented on #207
Please change your homepage URL to `https://myounus96.github.io` and then npm deploy.

[2020-07-12 08:50] myounus96 commented on #207
you mean `npm run deploy`?

[2020-07-12 08:53] saadpasta commented on #207
yeah

[2020-07-12 08:53] myounus96 commented on #207
same :(
![image](https://user-images.githubusercontent.com/13608139/87242537-098a4480-c447-11ea-9a75-9c67ba5d720c.png)

[2020-07-12 08:56] saadpasta commented on #207
Works fine here  ✌️
<img width="1440" alt="Screen Shot 2020-07-12 at 1 55 49 PM" src="https://user-images.githubusercontent.com/23307811/87242575-70a7f900-c447-11ea-82eb-afc6a2db1264.png">

[2020-07-12 08:56] myounus96 commented on #207
here is .env, if any possibility of issue with that...
![image](https://user-images.githubusercontent.com/13608139/87242581-7ac9f780-c447-11ea-8ce9-e10f1da721ac.png)

[2020-07-12 08:57] saadpasta commented on #207
Hard Refresh @myounus96

[2020-07-12 08:57] myounus96 commented on #207
yeah working :D
Thanks

[2020-07-12 08:58] #207 closed

[2020-07-12 11:01] myounus96 commented on #204
I tried this but not working.
![image](https://user-images.githubusercontent.com/13608139/87244719-af927a80-c458-11ea-825d-c2cee412dda6.png)

@saadpasta

[2020-07-12 11:25] myounus96 commented on #204
BTW a workaround is, we can comment the unwanted sections in `src/containers/Main.js`
![image](https://user-images.githubusercontent.com/13608139/87245109-2ed57d80-c45c-11ea-9c12-8191c70d00f5.png)

@saadpasta  @raflisboa

[2020-07-12 11:28] raflisboa commented on #204
I've tried hidepodcast function, but it didn't work too. I'll try comment into main.js

[2020-07-12 11:29] naveen521kk commented on #204
Will be done in #138

[2020-07-12 18:46] myounus96 opened #208 "Guide about icons and images"
## Summary
Please add links or sources from where we can get images related to images already in the project
image like this
![image](https://user-images.githubusercontent.com/13608139/87254095-952cc100-c499-11ea-8e64-0f9ec4b7a484.png)
and icon in the title.

[2020-07-12 18:53] naveen521kk commented on #208
It's in [Readme.md](https://github.com/saadpasta/developerFolio#illustrations) also btw the one in title is not an icon it is just text with font changed.

[2020-07-12 19:48] kartikcho commented on #208
Closing since this seems resolved.

[2020-07-12 19:48] #208 closed

[2020-07-12 19:50] kartikcho commented on #204
Seems resolved.

[2020-07-12 19:50] #204 closed

[2020-07-13 09:01] archit0210 commented on #174
i just changed import headroom from "headroom" to "react-headroom", and it worked!

[2020-07-13 12:47] kartikcho commented on #174
That's great @archit0210 , I'm glad you figured out what was wrong!

[2020-07-13 12:49] archit0210 commented on #174
@kartikcho my bad!!

[2020-07-13 12:53] kartikcho commented on #174
It's alright, everyone's learning :)

[2020-07-13 13:07] #174 closed

[2020-07-15 10:39] kartikcho opened #212 "Add custom error messages for console"
We should add custom error messages to the console for components that depend on third party data like Twitter, Github projects and podcasts.
This would clear confusion for users and visitors both on why some components are missing.

Related to #165

[2020-07-15 11:14] naveen521kk opened #213 "Add Gravatar Profile as a Alternative for Github Profile Card"
## Summary
Using [Gravatar API ](https://en.gravatar.com/) we can get the profile of the user with their email address converted to MD5 hash very easily. This can be an alternative for users who don't have Github Account, also it needs no authorisation.

### What's new?
Add an option for Gravatar Profile of users

### Motivation
I see many sites use it.

### API Docs
https://en.gravatar.com/site/i

[2020-07-16 11:12] sartz18 commented on #55
can I also work on this?

[2020-07-16 11:14] oshinsaini commented on #55
can I also work on this?
If yes, please assign this to me

[2020-07-16 11:25] kartikcho commented on #55
Thanks for your interest @oshinsaini but we already have an outstanding PR in progress in #92. You can look into other open issues if you would like to contribute!

[2020-07-16 19:14] samuk190 opened #215 "Add Language Switch"
I'm from Brazil and I love the project, it would be nice to have Language Switch Feature where you can just write text in a file and make the user choose which language, If not possible to add in near future, I will work on this feature on the weekends and do a pull request for it ^^

[2020-07-16 19:57] raflisboa opened #216 "Do a Information Update (portfolio.js)"
## Summary
I need do an update into portfolio.js file after deploy.

### Additional context
Sorry, but I do a research and didn't find anything like this.

[2020-07-17 05:22] naveen521kk commented on #216
Could you explain more on this?

From what I understood, I think you meant that you need to do update some information on your portfolio after you have deployed?

[2020-07-17 05:27] naveen521kk commented on #215
AFAIK you can directly change portfolio.js with your language and this will appear on the site in that language.
If you meant something like changing the language dynamically then it is a good idea. But IMO nobody would have a language switch in their portfolio. What do you think @saadpasta ?

[2020-07-17 10:00] raflisboa commented on #216
Yeah. To be more clear: I did a project deploy, but, now, I need to update an information that is at portfolio.js.
My point is: which is correct thing that I'm suppose to do?

[2020-07-17 11:39] samuk190 commented on #215
Idk where you're from but I'm from brazil and people from HR like to read in portuguese while some others like english, or to be recruited by foreign company

[2020-07-17 14:02] naveen521kk commented on #216
You can simply update `portfolio.js` again, then again deploy by `npm run deploy`. Or manually update by pushing to `gh-pages` branch. And btw that is a easy way to do. And you do that how many times you want.

[2020-07-17 14:05] naveen521kk commented on #215
If you like to you can make a PR. But do find a good place to place the switch. 😀
I am assinging you the issue.

[2020-07-17 14:43] raflisboa commented on #216
Thanks foi your help, but I've been trying this (new deploy) and didn't working. Will I have to commit and push portfolio.js after do a deploy or not?
So, how could I do a mannualy update pushing to gh-pages?

[2020-07-19 17:29] naveen521kk commented on #216
No, you no need to push `portfolio.js` to your deploy branch.

You should use `npm build` after editing which will create a directory called `build` and you would have to push the content in the `build` directory to `gh-pages` and not other things. I you like to take a visit do see how our `gh-pages` branch is [here](https://github.com/saadpasta/developerFolio/tree/gh-pages).

[2020-07-20 14:32] kartikcho commented on #213
Do people still use Gravatar? It was big in like 2010 on forums I remember, but now most websites just use google OAuth to get all the usual data including profile pictures.
Also the GH profile card is dependent on user data from Github to fill the blanks, adding Gravatar would require manual setup which I think should be added regardless of Gravatar so everyone can use the new contact section and

[2020-07-20 19:07] raflisboa commented on #216
When I trying npm run deply command, this error message returns

fatal: destination path 'node_modules\gh-pages\.cache\github.com!raflisboa!developerFolio.git' already exists and is not an empty directory.

What's does mean? Should I delete this folder?

Sorry but I'm a newbee into React dev, and thanks for your help!

[2020-07-21 01:52] naveen521kk commented on #216
Did you do `npm install` before doing it? If yes, then does `npm run build` command works? Or, `npm start`?

[2020-07-21 04:39] ExpressHermes commented on #213
I would like to work on this issue.

[2020-07-21 11:21] naveen521kk commented on #213
Ok then, what can be done is to create a section in `portfolio.js` for adding these and dump the old one. I will change the title of the issue and let this issue be adding custom images and text for the contact section which for now uses GitHub Profile. @ExpressHermes you can work on this issue and I am assigning you.😀

[2020-07-21 13:32] raflisboa commented on #216
Yes, and it goes well, without failures.

Yes, and it goes well, too, without failures.

Yes, and it goes well, too, without failures (localhost show webpage with new implementations

But, now, when I do a `npm run deploy `, npm returns with this:

`Filename too long`
`fatal: Could not reset index file to revision 'origin/master'.`

[2020-07-21 13:42] naveen521kk commented on #216
A basic question did you clone this repository or your fork?
You should actually clone your fork. You could check whether any the following listed [here](https://create-react-app.dev/docs/deployment/#troubleshooting) happens for you. Also, try out afresh if this fails. :)

[2020-07-21 16:08] raflisboa commented on #216
Ok, I´ll try clone my fork. Thanks!

[2020-07-21 16:08] #216 closed

[2020-07-21 18:17] kartikcho commented on #213
Sounds awesome, it should also use the current Github implementation as it is already with the key to turn it on or off in `portfolio.js`.
But then they could also opt-in for the old contact section with no picture. Hmm, should we just remove the old one or create a choice between the two sections with the added choice of choosing Github data @naveen521kk?

[2020-07-22 03:56] naveen521kk commented on #213
We can have a option to select between the old and new one but whatever we do we need to document it. Like we need to tell about the switch in a comment or something so that the users understand it. Have the old contact section is better along with GitHub Profile and link to custom images.

[2020-07-28 10:40] FlyingBackdoor commented on #101
I am also facing this issue. It is not working even after deployment

Here is the log related to project section
`./src/containers/projects/Projects.js
  Line 18:6:  React Hook useEffect has a missing dependency: 'getRepoData'. Either include it or remove the dependency array  react-hooks/exhaustive-deps

./src/containers/profile/Profile.js
  Line 54:6:  React Hook useEffect has a missing dependen

[2020-07-29 11:15] FlyingBackdoor opened #218 "Open Source Project section is missing"
I am facing problem with Open source project section and github user data, might be related with #101
Issue is present in both development and final build
check the live page  ([here](https://flyingbackdoor.github.io))

I am getting the below warnings in log
[code]
[code]

When I deployed for the first time Github revoked my access token even after adding **.env** file in gitignore. So I used the

[2020-08-02 21:30] AdamLBS commented on #105
Hello, i also have the same issue on https://admlbs.fr on mobile and computer

[2020-08-02 21:34] AdamLBS opened #219 "CORS error while deploying with netlify"
![image](https://user-images.githubusercontent.com/30260219/89133003-9db46c80-d518-11ea-91b3-15e01c23e66f.png)

It's happening on smartphone and computer with Google Chrome

[2020-08-03 06:56] kartikcho commented on #218
Users seem to be facing multiple issues related to fetching data from Github (like the CORS issue in #219). Do you wanna look into this @naveen521kk @saadpasta ?

[2020-08-03 06:59] naveen521kk commented on #218
AFAIK, it raises CORS issue when the access tokens are invalid. So, checking the access tokens would fix the issue.

[2020-08-04 06:30] waqasnasir commented on #165
Hi @saadpasta , Can I take this issue?

[2020-08-04 06:39] naveen521kk commented on #165
Sure @waqasnasir , I will assign you.

[2020-08-05 14:13] jelonmusk commented on #218
same here....
the open source section isn't rendering.

Also the github profile card isn't showing up despite the value being set to true

[2020-08-05 16:42] kartikcho commented on #218
That would be because of not having a valid token which would fetch your GitHub data.

I've never tested these components with my token locally, I might take a look at this soon if it's still an issue.

[2020-08-05 17:08] naveen521kk commented on #218
If there is an issue how does this work in https://developerfolio.js.org .
Maybe we are lacking documentation for helping users to set this up. I will make a wiki page on this maybe later this week.

Quick questions: Does setting an environment variable named `REACT_APP_GITHUB_TOKEN` with the value as the GitHub token work instead of the `.env` file?
For example, in bash it would be
[code]
After,

[2020-08-05 19:38] FlyingBackdoor commented on #218
The issue might be on recent commit because one of the user also contacted me personally. I tried with 3 different tokens, both methods but nothing worked.

So I tried same tokens with masterportfolio (which is similar to this project) and they worked perfectly.

[2020-08-06 05:25] saadpasta commented on #218
@FlyingBackdoor can you show us your developerFolio repo.
We have changed the logic from Github Converted Token to .env file.
I am using the same logic for my portfolio [saadpasta.github.io](saadpasta.github.io). It works perfectly.
Make sure you generate a token without selecting any scope.

[2020-08-06 05:27] saadpasta commented on #218
@FlyingBackdoor Master Portfolio is using our previous that is converting the token and then using it which is not safe. So we have come up with solution.

[2020-08-06 06:39] naveen521kk commented on #218
@FlyingBackdoor It works perfectly for me.
I will explain what I did.
1. I cloned the master branch and ran `npm install`
2. I open PowerShell and type the below one.
[code]
3. Then I ran `npm run build` without closing the terminal.
4. After the profile section and GitHub section worked perfectly. PS. I cd into `build` folder and run `python -m http.server` and opened http://localhost:8000/#conta

[2020-08-06 08:05] FlyingBackdoor commented on #218
@naveen521kk Yes It worked, fetched profile and repo and render it for a second or two and after everything disappeared. Check below ss with console log

![image](https://user-images.githubusercontent.com/31269655/89506800-439dfa80-d7e9-11ea-852e-d8221cae4cf6.png)

[2020-08-06 08:15] FlyingBackdoor commented on #218
working on it locally. I will upload it soon.

whenever I followed readme, github revoked my token after deployment but the method @naveen521kk shows somehow worked but it is throwing errors.

[2020-08-06 08:31] naveen521kk commented on #218
So, Idk of what happened in the webpage. Maybe try a force refresh(CTRL+F5) and try again it may work. Or maybe your extension is malfunctioning. Try the same in a private tab.

I think the base64 option was the best. I mean we can ask the user to enter it in base64 format, that `btoa()` thing. So that GitHub doesn't revoke the commit. I need your suggestions @saadpasta

Also, I will be making a d

[2020-08-06 08:40] FlyingBackdoor commented on #218
@naveen521kk can you please check if https://flyingbackdoor.github.io/ working on your end or not.

I already tried different browsers, devices and private tabs.

[2020-08-06 08:43] naveen521kk commented on #218
No, it isn't can you try the same in-development version so that it says what is actually the error? by running `npm start.

Also, did you change any other thing in the code? It works perfectly for me.

[2020-08-06 09:48] saadpasta commented on #218
@naveen521kk I don't think so. It was still very confusing. Let's try to solve this.

[2020-08-06 10:57] FlyingBackdoor commented on #218
In development i got this error:
[code]

Tested with completely clean code, only thing changed is git username in _portfolio.js_
now the only way to revert this by typing _**$env:REACT_APP_GITHUB_TOKEN = ""**_ in powershell.

I guess this is happening because of different node/npm version, maybe some library used in this project is changed as I am using the most recent versions of everything. For

[2020-08-06 13:48] naveen521kk commented on #218
@FlyingBackdoor The problem was because of your profile. ON going through your profile I found it. See [this](https://github.com/FlyingBackdoor/ZTM-DSA-Kotlin). This repo has no content and been kept in profile. So Github can't get what the `primaryLanguage` for the repo is. And while requesting it is returned null. Please make a new issue on this and can be fixed very easily. :)

[2020-08-06 13:52] naveen521kk commented on #218
So, now @saadpasta I am working a wiki page for this and I am going to recommend using environment variables instead of `env` files. If that is ok, please react with :+1: .
Also, I will soon make a PR, on changing all with base64 string to prevent Github from Revoking the token.

[2020-08-06 14:28] FlyingBackdoor commented on #218
Finally!!
Updated my repo and now data is loading as expected. Thank you so much Naveen.

[2020-08-06 15:44] naveen521kk commented on #219
I think this is related to #222

[2020-08-08 19:31] KosratDAhmad opened #223 "Project card per row"
How to set 3 experiences card per row on the large screen?

[2020-08-09 09:15] Tanya-Goel opened #224 "How can I add waving hand symbol after my name?"
Hi,

Can anyone help me with this?

How can I add waving hand symbol in after my name?

Thanks in advance!

[2020-08-09 09:15] Tanya-Goel opened #225 "How can I add waving hand symbol after my name"
Hi,

Can anyone help me with this?

How can I add waving hand symbol after my name?

Thanks in advance!

[2020-08-09 09:20] saadpasta commented on #223
@KosratDAhmad You can change the styling of this grid to `.repo-cards-div-main` to get your desired grid view

[2020-08-09 09:22] saadpasta commented on #224
@Tanya-Goel Just add a wave hand emoji (👋) with these styling.

[code]

[2020-08-09 09:22] saadpasta commented on #225
closing duplicate issue

[2020-08-09 09:22] #225 closed

[2020-08-09 11:56] #223 closed

[2020-08-09 12:47] naveen521kk opened #226 "Use Template Repository"
## Summary
@saadpasta Can we make this repo a [Template Repository?](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository)
This would be useful to users, who don't contribute to this repo, can create a new repo instead of forking the repo.

### Refs
1. https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-te

[2020-08-09 12:57] #218 closed

[2020-08-09 14:39] Tanya-Goel commented on #224
@saadpasta  Thanks,Working now!

[2020-08-09 14:39] #224 closed

[2020-08-11 17:22] kartikcho commented on #226
I strongly agree with this! Great idea @naveen521kk. We would need to plan a few things though, like reaching a 'version 1' of our portfolio right now and then planning features to be released in future versions etc.

[2020-08-14 10:51] saadpasta commented on #226
@kartikcho @naveen521kk It a great idea. But I have a lot of future plans for DeveloperFolio and I don't want to make this a template right now.

@kartikcho I agree with you we need to strongly work on our versioning and releasing

[2020-08-14 12:37] kartikcho commented on #226
@saadpasta it would be great if you could write a roadmap (rough or final) so we can decide where to direct development from here.

[2020-08-15 06:21] naveen521kk commented on #219
Is this issue still happening?

[2020-08-15 07:56] saadpasta commented on #226
I'll do that

[2020-08-16 08:18] naveen521kk opened #230 "Issue: Saad Pasta name should not break in medium size viewport."
**Issue**: `Saad Pasta` name should not break in medium size viewport.
![image](https://user-images.githubusercontent.com/49693820/89712828-fd939300-d9b0-11ea-8a15-5f6de9ecd3ce.png)

_Originally posted by @naveen521kk in https://github.com/saadpasta/developerFolio/pull/92#issuecomment-670935058_

[2020-08-17 01:46] zekinah commented on #230
I just created a PR #233 for this, a small change is applied.

[2020-08-17 04:56] saadpasta commented on #230
fix in #233

[2020-08-17 04:56] #230 closed

[2020-08-19 04:34] zekinah commented on #4
Did some tweaks for the said card. PR #235

[2020-08-28 13:23] guilyx opened #237 "Just a heads up"
I felt free to add your project here : https://github.com/guilyx/awesome-github-pages-portfolios
It's just a heads up, if you want to remove it/don't want it featured there, do tell.

[2020-08-30 05:03] kartikcho commented on #237
Thanks for adding it to the list @guilyx!

[2020-08-30 05:03] #237 closed

[2020-08-30 05:08] kartikcho commented on #190
Pinging @saadpasta @naveen521kk for status on this issue. Anyone up for technical writing in the Wiki?

[2020-08-30 05:20] naveen521kk commented on #190
Currently very busy for rest of year :(( Sorry.

[2020-09-06 10:36] kartikcho opened #239 "Add 'Table of Contents' to readme"
Taking a look at our current README can be daunting to starters due to the size of it. Also, there's no easy way to navigate to a section of the documentation.

Adding something similar to how most projects with long docs should be a good start.
[Example](https://github.com/axios/axios/blob/master/README.md)

[2020-09-06 17:35] anshdhinhgra47 commented on #239
I would like to work on this issue. Could you please let me know your requirements.

[2020-09-07 07:57] kartikcho commented on #239
Hi @anshdhinhgra47, thanks for offering your help!

I don't have any specific layout of the content in mind so feel free to change the order of sections as you see fit. The documentation is already pretty uniform, some changes that could benefit from a reorder would be for example, moving project license section to the end of the readme.

[2020-09-07 12:47] anshdhinhgra47 commented on #239
Alright. I will make the necessary changes required.

[2020-09-07 17:10] anshdhinhgra47 commented on #239
Seems like you have already accepted a PR. Should I make changes or not ?

[2020-09-08 05:36] kartikcho commented on #239
@anshdhinhgra47 #240 only changed position of license section in the readme, you can still add an index to the readme from the example I linked in the description.

Something like this,

![image](https://user-images.githubusercontent.com/48270786/92436880-58442880-f1c3-11ea-9e2a-dcbc53abef21.png)

[2020-09-10 18:05] kartikcho commented on #215
Due to inactivity I'm unassigning this. Also, closing this for now since we don't intend to have localization added, at least for the distant future.

[2020-09-10 18:05] #215 closed

[2020-09-17 01:54] Ergouzii opened #246 "Eductation Section"
### Summary
Add a section "Education" below the first section.

### What's new?
A new section that has owner's education background (college / university, degree, diploma, etc.)

### Motivation
Education background has always been a vital part of one's professional webpage. It gives the viewers of your website a better undertstanding of your capabilities and skills.

[2020-09-17 01:55] Ergouzii commented on #246
By the way, if you think it is a good idea, I will be more than happy to work on this new feature!

[2020-09-17 05:25] saadpasta commented on #246
@Ergouzii That's a great idea. ✌ I am assigning you this issue.

[2020-09-17 13:24] Tasin5541 opened #248 "Docker commands result in error"
**Describe the bug**
`docker build -t developerfolio:latest .` results in no such file or directory in the `npm install` step. Deleting package-lock.json seems to fix that problem

Running `docker run -p 3000:3000 developerfolio:latest` results in exiting the container immediately after starting. The webpage doesn't show up on http://localhost:3000/

**Expected behavior**
`docker build -t develope

[2020-09-18 06:39] kartikcho commented on #246
Hey @Ergouzii that could be a really nice addition!
If possible, drop some mocks or screenshots of the new component's design before opening a PR. That way, we can iterate and review before you start coding.
Thanks!

[2020-09-18 07:57] saadpasta commented on #248
@kartikcho can you look into this. I don't have a docker on my PC right now.

[2020-09-18 17:04] kartikcho commented on #248
Same 😅, I'll try reproducing it over the weekend.
CC @naveen521kk

[2020-09-18 17:15] naveen521kk commented on #248
Same for me also. ( I have never installed it).😂

[2020-09-19 04:48] Ergouzii commented on #246
Hey @saadpasta @kartikcho I have created the new component in my forked repository.

Deployed it [here](https://developer-folio-with-education.netlify.app).

A quick preview:
![screenshot](https://i.ibb.co/qBGYLKY/education.png)

Feel free to play around the test build and please let me know if you have any feedback :)

[2020-09-19 09:38] naveen521kk commented on #246
That test deploy isn't yet mobile optimised. It enables vertical scrolling which should not happen. @Ergouzii

[2020-09-19 11:09] kartikcho commented on #246
Hey @Ergouzii the illustration looks great but I think we should update the card to be a bit different and original than the work experience card, maybe something that takes less space too?
If I can find any inspo, I'll post it here but we should look for a different design!

[2020-09-20 03:45] Ergouzii commented on #246
Thank you all for bringing up these valuable feedback!

Updated my code and please see the test application [here](https://developer-folio-with-education.netlify.app/)

@naveen521kk Now the component is reponsive and mobile-friendly.

@kartikcho Can you please look at the new design and let me know you have suggestions/example designs? (I'm really bad at designing stuff lol).

[2020-09-20 07:10] kartikcho commented on #246
Hey again @Ergouzii , I really like this new layout!

Some ideas I had after looking at it,

- Maybe we can remove the on hover 'card-like' effects for these since they don't fit the card aesthetic here exactly.

- We can either extend the education column to full screen (to fit design hierarchy) which would look better imo, or have the illustration scroll down along the page (which could make it

[2020-09-20 21:35] Ergouzii commented on #246
@kartikcho Hey thanks for these great points!

Again, the updated version is [here](https://developer-folio-with-education.netlify.app/).

My response:
1. Hover effects are removed
2. Not sure if I get this, do you mean that we can discard the illustration and give the education section full width like this:
![no illustration](https://i.ibb.co/7KGJSbP/none.png)
3. Please see the deployed site and

[2020-09-21 03:03] Singh-Roshan opened #249 "How to get rid of a podcast section?"
## Summary
A brief explanation of the feature.

### What's new?
If the proposal involves a new component or a redesign of a previous component.

### Motivation
Why are we doing this? What use cases does it support? What is the expected outcome?

### Additional context
Add any other context or screenshots about the feature request here.

[2020-09-21 03:27] #249 closed

[2020-09-21 06:20] kartikcho commented on #246
The mobile layout looks great!

I was playing around with your deployment and tested a few things.

An illustration that equally covers the section height looks good but on adding more 'cards' it suffers from the same problem.
![image](https://user-images.githubusercontent.com/48270786/93736682-b4b13a00-fbfe-11ea-9629-6c93de0695d8.png)

Yes, I tweaked around a bit from your deployment and removed

[2020-09-22 04:49] Ergouzii commented on #246
@kartikcho Sounds good! Just created the PR :)

[2020-09-23 13:52] kartikcho commented on #239
Are you still working on this @anshdhinhgra47 ?

[2020-09-24 05:48] kartikcho commented on #168
Closing this because this has never been observed again.

[2020-09-24 05:48] #168 closed

[2020-09-24 17:44] abhishekashyap commented on #248
Can I take this up?

[2020-09-24 17:45] saadpasta commented on #248
Sure Go Ahead ☺️

On Thu, 24 Sep 2020, 10:44 pm Abhishek Kashyap, <notifications@github.com>
wrote:

[2020-09-24 18:11] kartikcho commented on #248
Great! Were you able to repro it successfully @abhishekashyap ?

[2020-09-24 18:42] kartikcho opened #252 "Move every section behind a toggle-able preference"
Currently only some of the sections can be toggled like `work experience` or `education`. We should allow almost every displayed section to be toggled through a boolean preference.

[2020-09-24 18:47] naveen521kk commented on #252
Isn't it already implemented in #138 ?

[2020-09-25 05:47] kartikcho commented on #252
Ah, you're right @naveen521kk! My bad.

[2020-09-25 05:47] #252 closed

[2020-09-26 18:48] #4 closed

[2020-09-27 08:05] #246 closed

[2020-09-27 17:07] abhishekashyap commented on #248
yes

[2020-10-01 15:21] kartikcho commented on #239
Due to lack of activity, I'm unassigning this.

[2020-10-01 15:22] palak-sethi commented on #239
Hi, I'd like to work on this issue

[2020-10-01 15:26] naveen521kk commented on #239
Sure. I will assign you @palak-sethi

[2020-10-01 15:27] kartikcho commented on #239
lol that was fast, assigning this to you!

[2020-10-01 15:42] naveen521kk commented on #165
@waqasnasir I am unassigning you due to lack of activity.

[2020-10-02 16:20] SamratDe commented on #212
Hi. I would like to work on this issue.

[2020-10-02 18:18] kartikcho commented on #212
Alright, assigning this to you @SamratDe !

[2020-10-03 16:05] SamratDe commented on #212
@kartikcho I am fixing the warning messages in console first, because I think if there are too many messages in the console, users will have difficult time in finding the error message for components not loading. Is it ok to do so?
Most of the warning of messages are not adding key prop or misspelling prop or classNames etc.

[2020-10-03 16:12] kartikcho commented on #212
@SamratDe they don't show up in the production deployment so custom messages would still be on top. #138 has fixed these errors but we haven't merged it in yet because of the dark mode PR.
Maybe you can follow up in another PR if there are still any messages left after that PR gets in, I appreciate the help!

[2020-10-03 16:16] SamratDe commented on #212
Ok. Then I will only concentrate on the error messages in the components.

[2020-10-04 15:52] #248 closed

[2020-10-04 16:17] kartikcho opened #257 "Add Lottie illustrations behind a preference"
The current illustrations, although look good with the current aesthetic, are static and don't sit right with the recent 'interactive' animations added.
We can add a switch to use [Lottie illustrations](https://github.com/airbnb/lottie-web) instead of the current ones based on what the user decides in `portfolio.js`.
This does have a downfall, Lottie is pretty performant but still might have perfo

[2020-10-05 08:20] SamratDe commented on #212
@kartikcho I have created a PR.

[2020-10-07 05:57] naveen521kk commented on #239
Fixed in #256

[2020-10-07 05:57] #239 closed

[2020-10-09 16:27] saadpasta commented on #257
@kartikcho Look's great can you add a gif or provide a video or something that would be great. ✌️
And I guess we should also keep simple illustration if someone needs them and add a key for that in portfolio.js``

[2020-10-09 16:43] naveen521kk commented on #257
Look great!
A gif or a test deployment would help a lot.

PS. Just a thing which hurt me on first look is the small letter `i` in `What I do`.

[2020-10-11 16:47] naveen521kk commented on #55
Fixed in #92

[2020-10-11 16:47] #55 closed

[2020-10-14 16:55] fabianchua6 opened #262 "Add options to set color theme globally"
## Summary
Would be cool if we were able to change the accent or the colour of the theme somewhere!

### Motivation
That way it makes it more customisable and maybe unique for each individual.

[2020-10-14 16:59] fabianchua6 opened #263 "Dark mode slider looking weird"
**Describe the bug**
Dark mode slider is fine when it's in dark mode but when toggled to light mode, the toggle leaves a weird gap in the slider itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on dark mode toggle to light mode.
2. See error where there is a gap between the toggle and the slider

**Screenshots**
![image](https://user-images.githubusercontent.com/57614749/9602108

[2020-10-14 18:58] kartikcho commented on #263
Ah, I noticed this too but it might've slipped through. Would you like to open a PR for this @fabianchua6 ?

[2020-10-14 18:59] kartikcho commented on #262
This was something on my mind too but would require a bit of rework. I'll add it to the list though. Thanks!

[2020-10-15 02:01] WarenGonzaga commented on #263
@kartikcho can I take this issue?

[2020-10-15 04:54] fabianchua6 commented on #263
Sure please!

[2020-10-15 06:22] kartikcho commented on #263
@fabianchua6 just confirming if you wanted to take the issue or are okay with someone else making a PR for it?

[2020-10-15 06:24] WarenGonzaga commented on #263
I'm working on it @kartikcho @fabianchua6

[2020-10-15 07:01] fabianchua6 commented on #263
I’m fine with it! Thanks for asking 👍🏻

[2020-10-16 08:06] WarenGonzaga commented on #263
Hi @saadpasta done with this issue kindly review it I add additional update which is Vulnerability fixes on your npm packages.

[2020-10-16 08:08] WarenGonzaga commented on #213
Hi guys! I'm willing to work on it... can someone assign it to me? Also, I understand you guys want to use gravatar as an option for devs to use their profile card.

[2020-10-16 08:08] WarenGonzaga commented on #213
Tagging @kartikcho

[2020-10-16 08:12] WarenGonzaga commented on #190
@kartikcho I'm a technical writer at Vultr and I guess you could use my help.... also If you guys need a video for it I can create one but it is needed to be uploaded to my YouTube channel is it good for you? @kartikcho if it is good assign this task to me.

[2020-10-16 08:44] WarenGonzaga commented on #213
Awesome! @naveen521kk cheers!

[2020-10-16 08:46] WarenGonzaga commented on #195
hi @kartikcho how about creating a new issue for Performance Update? I love to work on it... I have skills in optimization.

[2020-10-16 08:48] WarenGonzaga commented on #165
Alright.. a fallback error I got this... can you assign it to me @naveen521kk?

[2020-10-16 10:34] kartikcho commented on #190
Hey @WarenGonzaga that's awesome!
I think a video would be unconventional and a bit overkill. A detailed step by step guide for setup + deployment, with some tips in customizing the portfolio for the user would be really great! Thanks for offering your help, assigning this to you.

[2020-10-16 10:39] kartikcho commented on #213
Hey @WarenGonzaga , just to make the objectives a bit clear, we don't intend to integrate Gravatar anymore. Instead, we want to use the **Github Contact Card** to create a manual setup card.
This would involve adding a switch to use custom info for the card, link to a custom picture in place of the now fetched GitHub image and using custom content for the fields, all from `portfolio.js`.
Lemme kno

[2020-10-16 10:40] WarenGonzaga commented on #190
Alright thank you @kartikcho the documentation should be on Github wiki right?

[2020-10-16 10:42] kartikcho commented on #195
Hi again, I would suggest waiting for this because our PR backlog has built up a bit. The plan is to get all the new features in and then stabilize the codebase a bit after with tweaks and bug fixes here and there.
I think this issue resolved at that time would be optimal. Hope you'd still be interested then to help in optimizations!

[2020-10-16 10:45] kartikcho commented on #165
There seems to be no activity on #258 that was supposed to resolve this. I'm pinging the author and wait for a few days for their reply. Otherwise, I'll assign it to you.
I'd suggest you can also cover the scope of that PR too in your work along with the original issue.

[2020-10-16 10:46] WarenGonzaga commented on #195
@kartikcho yes... I'll be using this for my Github page... and I want my github page load fast as possible and SEO friendly. Just assign it to me once the task is ready. Also, if you don't mind me asking I'm a core developer of animate.css and it is good to have some animation in developerFolio?

[2020-10-16 10:47] WarenGonzaga commented on #165
Got it! Let me know when all the PRs merge so I can update mine too...

[2020-10-16 10:47] kartikcho commented on #165
There seems to be no activity on #258 that was supposed to resolve this. I'm pinging the author and wait for a few days for their reply. Otherwise, I'll assign it to you.
I'd suggest you can also cover the scope of that PR too in your work along with the original issue.

Edit: resent this because I messed up the edits a bit.

[2020-10-16 11:00] kartikcho commented on #190
Yes. I don't have experience using GitHub Wiki for writing docs before so let me know if there's an access issue or something.

[2020-10-16 11:03] kartikcho commented on #195
Ah, that's great to hear! I hope you like all the new stuff we are adding into this soon.

I like your suggestion and I've been working on adding a bit of __interactivity__ in the experience too. My work on #260 will add animated illustrations and we are already using `react-reveal` for on scroll effects. If you could propose anything that could make things more interesting or a new interactive co

[2020-10-16 11:03] WarenGonzaga commented on #190
Cool @kartikcho I'll let you know.

[2020-10-17 09:43] WarenGonzaga commented on #213
hi @kartikcho the setting in portfolio.js should be a raw link for the image?

[2020-10-17 09:44] WarenGonzaga commented on #213
As additional, @kartikcho what are the needed information to be show in the Github Profile Card?

[2020-10-17 09:49] kartikcho commented on #213
Local link sounds good. For a placeholder you can link to any existing image in assets with a comment

All the existing fields displayed in the GH card should be available to tweak manually, ideally with a switch to not display some fields.

I apologize for not providing enough information like a wireframe or something to make the issue a bit more clear. Hope my comment helps!

[2020-10-18 07:35] WarenGonzaga commented on #213
@kartikcho thanks I got this hehe

[2020-10-19 05:21] saadpasta opened #267 "Production Crashing due to spelling mistake in Achievement Card"
**Describe the bug**
Production Crashing due to spelling mistake in Achievement Card

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'developerFolio.js.org'
2. Open Console

**Is this responsiveness Issue**
NO

**Screenshots**
![Capture213](https://user-images.githubusercontent.com/23307811/96404626-d220f600-11f4-11eb-93fa-373b8fe0a3cd.PNG)

[2020-10-19 05:24] #267 closed

[2020-11-01 11:12] MuhammadHasham23 commented on #212
@kartikcho I have made a [PR](https://github.com/saadpasta/developerFolio/pull/270) that will close this issue, feel free to look into it and let me know if that is fine.
Thanks.

[2020-11-02 05:07] WarenGonzaga commented on #263
@saadpasta I guess this is done? you can close now.

[2020-11-02 05:23] saadpasta commented on #263
@WarenGonzaga We can close the issue only after the PR is merged.

[2020-11-10 00:36] TheIsrael1 opened #271 "Nice portfolio"

[2020-11-12 10:22] kartikcho commented on #271
We're glad you liked it @TheIsrael1! Although you didn't have to open an issue for the same 😅

[2020-11-12 10:22] #271 closed

[2020-11-27 05:58] digantamisra98 opened #277 "Achievements Section breaking"
**Describe the bug**
`achievementSection` is making the rendered page go blank for some reason. I had to disable it in the `Main.js` by commenting out `{/*<Achievement />*/}`

**To Reproduce**
Please check my [repository](https://github.com/digantamisra98/digantamisra98.github.io) and the subsequent [portfolio.js](https://github.com/digantamisra98/digantamisra98.github.io/blob/master/src/portfolio

[2020-11-27 06:04] digantamisra98 commented on #277
Fixed. Apparently Footer link needed to be present and empty

[2020-11-27 06:04] #277 closed

[2020-12-09 10:53] kartikcho opened #280 "Redesign 'Big Projects' section"
The `Big Projects` section feels out of context as of current portfolio standards and I believe could use an overhaul.

Maybe we could build this into a `Case Studies` section for projects with more information about the user's work on it or implementation.

We could,

 - add a 'Read more' button that would open a big modal with a placeholder page (user can change it accordingly)
 - or add dynamic

[2020-12-09 14:03] kaustubhai opened #282 "Storing view mode in localStorage"
## Summary
Dark mode resets on a refresh of the page. I want to store it in the local storage so that it can stick there even on my next visit to the page

[2020-12-11 09:39] kartikcho commented on #282
Thanks for the idea @kaustubhai! I think that's a bit of overkill and I believe we're currently using system preference for choosing the theme and it seems to work perfectly.

[2020-12-11 09:39] #282 closed

[2020-12-16 13:03] WarenGonzaga commented on #190
Hi guys... sorry I'm a bit busy but still working on this.

[2020-12-16 13:04] WarenGonzaga commented on #213
Still working on this guys... thanks.

[2020-12-17 12:07] kartikcho commented on #213
No worries, thanks for picking it up!

[2020-12-20 16:37] jatindhar opened #287 "How can I set the website default in dark mode?"
While opening the site, it should be default in dark mode and with toggle switch we can change it to light mode.

[2020-12-20 20:39] WarenGonzaga commented on #287
Is this kind of default mode to setup?

[2020-12-21 13:07] saadpasta commented on #287
The website would open in the dark mode as default if your mac/windows theme is dark.

[2020-12-22 08:10] kartikcho commented on #287
Can we setup GitHub Discussions to handle these usage issues? I've never tried it and it seems more appropriate to handle these responses.

[2020-12-22 08:49] saadpasta commented on #287
@kartikcho I don't think we need open Github Discussions for this issue.

[2020-12-22 10:46] kartikcho commented on #287
Not for this issue, for further queries maybe. But it's just a suggestion, no strong feelings.

[2020-12-22 10:46] #287 closed

[2020-12-22 16:11] saadpasta commented on #287
@kartikcho No problem mate. But good suggestion. 👍

[2020-12-27 15:31] #257 closed

[2020-12-30 10:49] kartikcho opened #292 "Update README with a new captured gif"
Current screen captured gif is outdated and doesn't include many of the new additions since. A PR updating it would be a great first contribution for newcomers.

[2021-01-02 21:12] rasam-hossain opened #294 "ContactInfo Section is not loading the title,number or email address correctly"
**Issue**: ContactInfo title/phone number/email is not showing up the correct data.

**Details**:
'contactInfo' section keeps showing "Reach out to me" and no data about phone number or email address. I can change the subtitle to anything else and it works just fine but not the title, phone number, email address, or lottie.
![image](https://user-images.githubusercontent.com/10996219/103466152-4eb1

[2021-01-03 17:50] rasam-hossain commented on #218
I am trying to understand what's the correct way of getting your github profile into the portfolio now? Should we use .env file or use the powershell technique to save the token? Powershell technique works as of now, but building it and deploying it creates a privacy issue with the token exposure on github.

[2021-01-03 18:10] rasam-hossain commented on #294
Just a note on the issue [#293](https://github.com/saadpasta/developerFolio/pull/293) - Changing the emailAddress field doesn't solve the issue with contactInfo

[2021-01-04 07:22] BourgeoisBenjamin opened #296 "Display option for StartupProject, Greeting, Talks and twitter doesn't work"
### Summary

When set display option to false for StartupProject, Greeting, Talks and twitter in portfolio.js file, sections remain displayed.

### Expected behavior

Hide section when display option is set to false

[2021-01-04 07:39] saadpasta commented on #296
fixed in #295

[2021-01-04 07:39] #296 closed

[2021-01-04 07:41] saadpasta commented on #294
@rasam-hossain it's because you don't have an email in your GitHub profile add an email in your GitHub profile and then check again

[2021-01-04 07:43] saadpasta commented on #294
@rasam-hossain if you want to get your contact info from portfolio.js then set `showGithubProfile `to "false"

[code]

[2021-01-04 07:55] rasam-hossain commented on #294
@saadpasta - I see. The _contact info_ is working now. Thanks a lot!

[2021-01-04 07:57] saadpasta commented on #294
@rasam-hossain Welcome. Thanks for using DeveloperFolio ❤️

[2021-01-04 07:57] #294 closed

[2021-01-07 19:12] Odonno opened #299 "Connect to Medium blog articles"
## Summary

I don't know if it's possible but it could be great to have an auto link to our last Medium articles, the same way we do with our GitHub repositories.

[2021-01-08 08:02] saadpasta commented on #299
@Odonno Do you mean like a medium article or do you want to link your last medium articles. I am confused

[2021-01-08 08:05] saadpasta commented on #299
Nice Thought.
https://medium.com/@alekrumkamp/how-to-fetch-your-medium-feed-in-17ms-using-cloudflare-workers-63a9c49c6c19
I think this would help.

[2021-01-08 10:33] kartikcho commented on #299
Hmm, this could be an interesting component. I wonder if we could create something flexible enough to support other platforms like Dev.to and hardcoded blog links too.

[2021-01-15 06:47] 1hanzla100 commented on #280
I want to redesign big projects section

[2021-01-15 06:57] kartikcho commented on #280
Sure, that sounds great. Could you come up with a mock for a design you might have in mind?
That way the team can decide upon it and you can have a finalized design to start writing code for.

[2021-01-18 07:11] 1hanzla100 commented on #280
### Something Like That

On Hover Effect Card Shadow Increases

![Capture](https://user-images.githubusercontent.com/59178380/104883151-22d7f480-5986-11eb-84ec-0de265e6ae95.PNG)

[2021-01-18 08:45] kartikcho commented on #280
Although the design looks nice, introducing a completely new dependency, i.e Bootstrap, isn't worth it just for a card component.
If you can write the CSS for a simple card, I believe that would be best.

Also, you should allow the user to add an image inside the card yet still keep it flexible enough to look great when an image isn't provided.

Something like this for reference,
![image](https://

[2021-01-19 04:52] 1hanzla100 commented on #280
Sure i can use css for redesign big projects section. Design would be quite similar to achievements section.
Layout will be 2 in row in large screen
1 in row in small screen

[2021-01-19 16:05] kartikcho commented on #280
I think 2 or 3 in a row for larger screens would be great, no strong preference as long as its responsive.
Everything sounds good, you can start working on it unless you need some more information.

[2021-01-19 16:07] kartikcho commented on #280
Taking inspo from your proposed design, the card can have space in the left of the card below to have a square image.

![image](https://user-images.githubusercontent.com/48270786/105060433-6a51a400-5a9e-11eb-94e0-a58acf1fe363.png)

This could be flexible to revert to the upper design if no image is provided.

[2021-01-19 17:28] 1hanzla100 commented on #280
ok i am going to  to work on it.

[2021-01-19 19:39] 1hanzla100 commented on #280
@saadpasta @kartikcho  Successfully Redesigned Big Projects Section. Kindly Review the Pull Request

[2021-01-20 13:38] kartikcho commented on #280
Hey @1hanzla100 you can also use the 'Request review' button on your PR to save you the trouble of pinging people in issues for a review in the future!

[2021-01-20 16:38] 1hanzla100 commented on #280
@kartikcho ok

[2021-01-21 10:15] kartikcho opened #306 "Add shadow on hover transition effects to all cards"
Just like the title says, all cards in projects section, achievements and github repos don't have on hover shadow transitions. Adding some to make the card experience smoother would be great.

[2021-01-22 08:06] 1hanzla100 commented on #306
@kartikcho All Cards in project have hover effect in light mode but not in dark mode

[2021-01-28 12:29] jatindhar opened #309 "How to remove some section from the site?"
I want to remove bigProjects, Talks & Podcast section, how to do that?

[2021-01-29 07:09] saadpasta commented on #309
There is a Key **`display`** for every section in `portfolio.js` set that to false to hide that section.

Thanks ✌️

[2021-01-30 05:59] jatindhar commented on #309
Sorry to bother you again but I'm not getting any **display** keyword in **portfolio.js** or in there particular js code? Can you tell me exactly where to change the code?

And thanks in advance :+1:

[2021-01-30 06:05] 1hanzla100 commented on #309
@jatindhar In ```containers\Main.js```
Comment Those Components out which you want to exclude like this.
![Capture](https://user-images.githubusercontent.com/59178380/106348820-f22f7d80-62ea-11eb-9e67-4b8fe2273091.PNG)

[2021-01-30 06:09] jatindhar commented on #309
Thank you soo much!! :+1:

[2021-01-30 19:11] darkhorse-coder opened #310 "Github personal access token is always expiring :("
Hi @saadpasta
Thank you for your great project. I really love this portfolio template.

How can I avoid expiring of github personal access token when publish to vercel?
Already I've created really basic token without any selection of scope. but when I deploy to vercel, token has removed.

Thank you in advance.

[2021-01-30 19:41] tamojit-123 commented on #310
@darkhorse-coder You need to check all the boxes for GitHub access token to get full-time access. vercel Issue will get resolve. Check all the boxes while generating the token.

[2021-01-30 21:46] darkhorse-coder commented on #310
@tamojit-123 I've tried with lots of case, also I've tried with https://d.pr/v/cQXAGD, but not working.

[2021-02-01 19:08] darkhorse-coder commented on #310
Hi @saadpasta @tamojit-123
any news? please help me.

[2021-02-01 19:10] saadpasta commented on #310
Are you putting the token in environment file.
.env

On Tue, 2 Feb 2021, 12:08 am DarkHorse, <notifications@github.com> wrote:

[2021-02-01 19:11] darkhorse-coder commented on #310
yes, write on .env file to REACT_APP_GITHUB_TOKEN

[2021-02-01 19:13] darkhorse-coder commented on #310
I've created token as simple without any selection of scope.

[2021-02-02 06:24] robolox785 opened #312 "How to embed link in the paragraph of skillsSection?"
I want to showcase my yt channel in skills section but I'm unable to add link with html code how to do that?

[2021-02-02 08:18] #309 closed

[2021-02-04 07:32] #292 closed

[2021-02-04 08:04] jatindhar opened #317 "It's showing error while running npm run deploy"
![error](https://user-images.githubusercontent.com/56015460/106862811-a36c5400-66ed-11eb-9af6-6b5341462461.JPG)

[2021-02-04 08:08] saadpasta commented on #317
Please change your remote origin URL to your personal repo. Hope this helps.
https://docs.github.com/en/github/using-git/changing-a-remotes-url

[2021-02-04 08:27] jatindhar commented on #317
Thankx alot :+1:

[2021-02-04 08:28] #317 closed

[2021-02-04 12:26] jatindhar opened #319 "How to edit the website after hosting?"
I've hosted the website through react application on GitHub pages but now I want to remove some section but now repo have totally different source codes! How to make change in the website now?

[2021-02-04 12:56] saadpasta commented on #319
@jatindhar I see you have deployed your website on the main GitHub page and your build folder is now on your master branch. You need to create a branch and deploy from there.
have a look at [https://github.com/saadpasta/saadpasta.github.io/ ](https://github.com/saadpasta/saadpasta.github.io/ ) branch structure

[2021-02-04 13:40] kartikcho commented on #312
You'll need to create a custom component for that. Alternatively, you can use other components from the app like the blog section card or something to link to your channel.
I assume you're not experienced with React right now so building your own component could be a great opportunity to learn!

[2021-02-04 14:42] jatindhar commented on #319
Got it, Thanks a lot :+1:

[2021-02-04 14:43] #319 closed

[2021-02-04 14:46] naveen521kk commented on #299
I would rather like to have a Github Action CRON which will be updating say a JSON file parsing RSS feeds(pretty much every blog has this support). This will be triggered as and when the site is being built. Finally, the blog section will load from this JSON file generated. Thoughts?

[2021-02-04 18:12] kartikcho commented on #299
Nice idea, we can scrape like top 3 latest links and show those from the portfolio, or we can create a page with infinite scroll to accommodate all the blog posts from the user (not so nice idea imo & no longer SPA status).

[2021-02-04 18:20] naveen521kk commented on #299
3 should be fine but that should be configurable though. I don't like infinite scroll though, it is just a portfolio and nothing else.

[2021-02-05 09:23] martiriera opened #320 "Token revoked when deploying to gh-pages"
Hello Saad and the rest of contributors. First of all congratulations for this work, very fancy stuff!

I have a master branch with a source code and a gh-pages one for the deployment. The thing is that when I execute the `npm run deploy` from master branch, GitHub detects the access token on a commit and revokes the token.

As stated on issue #180 I have the .env file on the .gitignore of the mas

[2021-02-07 02:48] Matesanz commented on #320
It is also happening to me. If I use the **token while developing there's no problem**, everything works fine.
If I run the `npm run deploy` and before entering the credentials I run `serve -s build` everything is ok.
BUT, **when deploying to gh-pages** the problem faces: the **token disappears...**

[2021-02-08 08:55] kartikcho opened #321 "Add different variations of similar components"
I've received a lot of feedback regarding portfolios generated from our app looking too similar. To tackle this problem for users, I think we can build different 'versions' of a component to provide even more flexibility in design and how data is displayed.

This is a broader issue that would require some time to work so we can use a checklist to track different component versions.

- [ ] Landing

[2021-02-08 08:58] saadpasta commented on #320
@martiriera make sure your .env file is in .gitignore. Try to generate a new token and try again or use another method of converting the token to base64 and then converting it back to normal when using so Github doesn't detect it

[2021-02-08 09:00] saadpasta commented on #321
@kartikcho good one. I think the first thing we can work on is that make the color scheme dynamic.

[2021-02-08 09:06] kartikcho commented on #321
Definitely +1 on that, we can probably handle that through CSS global variable config.

I was planning to cover it under a different issue since that is more about refactoring.

[2021-02-08 09:27] saadpasta commented on #321
Sure let's make another issue for that.

[2021-02-08 09:27] saadpasta commented on #321
@kartikcho I'll create that.

[2021-02-08 09:28] saadpasta opened #322 "Dynamic Color Scheme"
## Summary
Currently, we are only one single color scheme in DeveloperFolio. We need to make it dynamic.

### What's new?
We need to create a global CSS variable or something like that portfolio,js so we can get the same color across all components

### Motivation
So a user could change the color scheme to their own preference

[2021-02-08 10:27] jayhawk24 opened #323 "Security Vulnerabilities - 5 vulnerabilities (1 low, 4 high) - npm audit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run `npm i`
2. `npm audit`

**Expected behavior**
No vulnerabilities detected after running npm install.

**Is this responsiveness Issue**
No

**Screenshots**
If applicable, add screenshots to help explain your problem.
`
❯ npm i

added 1696 packages, and audited 1697 pack

[2021-02-08 11:37] jayhawk24 commented on #306
working on this !

[2021-02-08 12:14] martiriera commented on #320
@saadpasta thanks for your answer.

I am sure that my .env is not pushed. What is really happening is that the token appears in plain text on a file commited in "gh-pages", here an example: [https://github.com/martiriera/martiriera.github.io/blob/8a7caed452fca1217a9c11f1eed8c772eb196cd9/static/js/main.be129e4c.chunk.js ](url)
I tried to encrypt the token when using it on the app but it continues a

[2021-02-08 18:06] kartikcho commented on #323
Hi, thanks for reporting this. I'll open a PR soon fixing this after some crucial PRs are in. Thinking of doing a bunch of code cleanup PRs.

[2021-02-08 18:08] #312 closed

[2021-02-08 18:10] kartikcho commented on #280
Addressed in #305

[2021-02-08 18:10] #280 closed

[2021-02-08 18:11] kartikcho commented on #263
fixed in #264

[2021-02-08 18:11] #263 closed

[2021-02-08 18:12] kartikcho commented on #262
Closing this as it is a duplicate of #322 (although this is the original)
This is still definitely on the list!

[2021-02-08 18:12] #262 closed

[2021-02-08 18:16] kartikcho commented on #165
Closing this since #212 covers this issue too

[2021-02-08 18:16] #165 closed

[2021-02-09 15:13] #306 closed

[2021-02-10 19:23] kartikcho commented on #323
Fixed in #326

[2021-02-10 19:23] #323 closed

[2021-02-10 19:25] kartikcho commented on #213
@WarenGonzaga are you still on this? It's alright if you're busy.

[2021-02-10 19:29] WarenGonzaga commented on #213
hi @kartikcho sorry I'm currently busy if you're about to work on it its all good. I'm going to back to open source by March again.

[2021-02-10 19:32] kartikcho commented on #213
Oh it's alright @WarenGonzaga, hope you're doing okay 💜.

I'm not planning to pick this up myself, just make it available for someone else if they want to.

See you back in action soon!

[2021-02-13 22:53] ismailalabou opened #327 "I was trying to build the docker image based on the existed Dockerfile until this happened !!"
**Describe the bug**
the bug is related to Docker Commands section (first command):
1) BUILD IMAGE : ```docker build -t developerfolio:latest .```

**To Reproduce**
Steps to reproduce the behavior:
1. cd to the project root folder
2. run : ```code .```
3. in the terminal run : ```docker build -t developerfolio:latest .```
4. See error: ```ERROR [4/6] RUN npm install```

**Expected behavior**
build

[2021-02-20 10:19] vatsaldaveVD opened #329 "Email Address not appearing in contact section"
**Describe the bug**
The email address in the contact section is not visible but it is accepting value in the portfolio.js file

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `src/portfolio.js`
2. Scroll down to contactInfo section
3. Fill emailAddress value
4. Will not be visible in contact me section

**Expected behaviour**
It should display the email address in the contact section

[2021-02-20 10:56] #329 closed

[2021-02-21 22:29] ismailalabou commented on #327
FROM node:12.18.1-alpine
ENV NODE_ENV=production

WORKDIR /app

COPY ["package.json", "package-lock.json*", "./"]

RUN npm install --production
RUN npm audit fix

COPY . .

EXPOSE 3000

CMD ["npm", "start"]

[2021-02-21 22:33] ismailalabou commented on #327
i even

i even tried this dockerfile version, but without any luck

[2021-02-23 18:48] harikesh409 commented on #320
As stated in the [create-react-app](https://create-react-app.dev/docs/adding-custom-environment-variables/) the token will be visible in the static files once it is builded, that is the reason github is removing it.

[code]

[2021-02-24 09:15] martiriera commented on #320
@harikesh409 thanks for your answer.

As stated [here](https://stackoverflow.com/a/57103663/14983877) the only way to do so is making a request to a back-end API. Is there a way to do it with the tools used on this portfolio (GitHub Actions, repo secrets)?

[2021-02-24 14:13] naveen521kk commented on #327
WSL is used, so I think `npm start` won't work...
never tried it but I can help if you paste the logs instead of taking a screenshot.

[2021-02-24 14:18] ismailalabou commented on #327
@naveen521kk what makes you think WSL was used...

[2021-02-24 14:19] naveen521kk commented on #320
You would need a server, which isn't the aim of this project, so something must be done by maintainers to fix this, possibly the best I can think is to do something while building the site itself, say a script to fetch things from GitHub API and save it in a JSON file which will be build while deploying and use it to show the needed contents instead of querying the Github API client-side. Any idea

[2021-02-24 14:20] ismailalabou commented on #327
the logs files are inside my image, which was never been build.
so i can't access them xD

[2021-02-24 14:20] naveen521kk commented on #327
because there isn't any windows target in https://hub.docker.com/_/node and I was reading https://docs.microsoft.com/en-us/windows/nodejs/containers

[2021-02-24 14:21] naveen521kk commented on #327
so i can't access them xD

I was asking for the logs which were printed on the screen,

[2021-02-24 14:40] ismailalabou commented on #327
i will send theme to you once i got theme again.
thanks

[2021-02-24 14:49] naveen521kk commented on #327
wdymb `theme`?

[2021-02-24 17:24] ismailalabou commented on #327
i mean them not "theme" mb

[2021-02-25 05:55] kartikcho commented on #320
That is a better idea than what we're currently doing but the current solution _should_ work.

Storing token in Github repo env variables should have no problem while building but it seems like the people who are facing this issue are the ones who are using gh pages to host their site which hosts from a branch with the prebuilt react app that has access to the env variable locally during build tim

[2021-02-25 13:44] naveen521kk commented on #320
Any how anybody can inspect the request and the token can be leaked. The idea I told could possibly fix this, and I will be working this week implementing it.

[2021-02-26 07:11] harikesh409 commented on #320
@naveen521kk But if you do this then the content coming from the GitHub will be static and if you have new contributions from GitHub you need to rebuild your project and redeploy it. Correct me if I am wrong.

[2021-02-26 08:20] naveen521kk commented on #320
Yeah, it should be static, maybe we can set up Github Action, using the scheduled workflow so that users can use that to redeploy their site automatically every week or so. Or rather use [workflow_dispatch](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/) so that users can redeploy their site in one click whenever they edited their information on Git

[2021-02-26 08:53] martiriera commented on #320
@kartikcho I can confirm that the token was not revoked by GitHub when I deployed with Netlify, but I'm not sure if it is still exposed.

[2021-03-05 11:22] martiriera commented on #320
The #333 feature works for me. Great work @naveen521kk. You guys can close this issue if you want. Thanks, bye!

[2021-03-05 12:09] kartikcho commented on #320
Great to hear that @martiriera but did you test the changes in that PR in your fork locally as they're not in main yet.
Regardless, good stuff Naveen!

[2021-03-06 16:22] kartikcho commented on #226
Any thoughts on making this happen now. I think we've reached a good enough 'version 1' of our app.
Maybe after #333 gets in @naveen521kk @saadpasta ?

[2021-03-06 17:19] naveen521kk commented on #226
Seems like a good idea :)

[2021-03-06 17:27] kartikcho commented on #226
Don't give me credit, it was your suggestion in the first place 😄

[2021-03-07 12:21] #320 closed

[2021-03-07 14:34] elvisciuffetelli opened #337 "Can't load properly .env variables"
**Description**
The .env variables resolved in undefined running the fetch.js file

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app with the Open Source section enabled

**Expected behavior**
The .env variables are undefined causing the section to not be displayed.

**Desktop:**
 - OS: MacOs Big Sur 11.2.1
 - Browser: Chrome

**Smartphone (please complete the following information

[2021-03-07 15:11] #337 closed

[2021-03-07 15:36] naveen521kk commented on #327
@ismailalabou any updates?

[2021-03-07 16:53] JavaidAhmadKhan opened #339 "Projects not shown when using on mobile"
Hey, this is one of the best portfolios which I have seen till now, thanks for your valuable time. I m not able to see the prjoects screen on my mobile, is this an issue.

[2021-03-07 17:11] naveen521kk commented on #339
Could you try it now? A few hours back there was a problem with deployment so it didn't show on both mobile and also PC.

[2021-03-08 20:23] Lemorz56 opened #340 "Images src gets set to [object Module]"
**Describe the bug**
Image src in for example educationInfo gets set to
`<img crossorigin="anonymous" class="experience-roundedimg" src="[object Module]" alt="Hitachi ABB">`

My guess looking online is something to do with file-loader.

**To Reproduce**
Steps to reproduce the behavior:
1. Update npm modules (otherwise npm start will not run)
2. Start the app
3. Scroll down to image
4. Image not lo

[2021-03-09 19:10] ismailalabou commented on #327
I'm experiencing some issues/problems with my docker, that's why i didn't leave any feedback/updates on this issue.

[2021-03-09 19:11] #327 closed

[2021-03-09 19:14] ismailalabou commented on #327
feels bad man

[2021-03-09 19:19] naveen521kk commented on #327
for me, it works here. So, I would simply say "can't reproduce". :)

[2021-03-09 19:22] ismailalabou commented on #327
I think your environment either macOS or Linux.

[2021-03-09 19:47] naveen521kk commented on #340
Can you show me what have you changed? Because I don't see that happen in https://developerfolio.js.org/#education

Can you explain why it doesn't? It works here.

Does the image exists in `src/assets/images/hitachiABBlogo.png`?

I would appreciate if you give can a web deploy where it happens say on Vercel or Pages.

[2021-03-09 23:48] ismailalabou commented on #327
Building the docker image FINISHED successfully.

[2021-03-10 03:17] byteyoo commented on #340
Hello @Lemorz56 and @naveen521kk,

I was able to fix this problem by accessing the string value through the 'default' property:
`require('./assets/images/logo-1.png').default`

Have a great day!

[2021-03-15 09:12] Lemorz56 commented on #340
Thanks alot, it worked. Guess something changed in the file-loader updates?

[2021-03-15 09:13] #340 closed

[2021-03-17 21:27] shoebsd31 opened #341 "Supporting dark theme"
## Summary
It would be great if we could simply invert the colors and have a dark theme

### What's new?
We can add a css Component which can simply turn on and off the dark theme

### Motivation
It will help people having concern with bright screen

[2021-03-17 21:30] shoebsd31 commented on #341
Just noticed it's already there

[2021-03-17 21:30] #341 closed

[2021-03-19 11:50] naveen521kk opened #342 "Document about change in loading Profile"
Document things changed from https://github.com/saadpasta/developerFolio/pull/333

[2021-03-21 18:05] kartikcho commented on #339
Can you confirm @JavaidAhmadKhan? If it's okay now, you can close the issue.

[2021-03-21 18:07] kartikcho commented on #342
If we're looking for external contributors to help improve documentation for this, I think they'll need a bit more context to work with it @naveen521kk.
Also, add labels too so contributors can figure out difficulty or status of the task.

[2021-03-21 18:10] naveen521kk commented on #342
It was an issue for me to do it. :)
essentially I still get to it, but soon will.

[2021-03-26 08:04] young-hun-jo opened #344 "After 'npm start' command line, About the Github Username problem."
**Describe the bug**
I want to use your awesome developerFolio project. but I encountered the problem. I was doing your tutorial on readme.md and I finish your npm install. but when I enter 'npm start' command line, I got a error message "throw "Github Username was found to be undefined. Please set an Environment variable." Why the error is occurred? I am novice in Node.js.. So I really need your

[2021-03-26 08:22] naveen521kk commented on #344
It is in the process of documentation https://github.com/saadpasta/developerFolio/pull/343

[2021-03-26 09:06] #344 closed

[2021-03-26 09:10] young-hun-jo opened #345 "React scripts module Problem."
**Describe the bug**
I almost have done clone... but I encountered module problem. I definitely installed Node.js and npm but this problem is occurred. How I solve this problem? Thanks!

<img width="676" alt="스크린샷 2021-03-26 오후 6 09 41" src="https://user-images.githubusercontent.com/54783194/112609079-70794d80-8e5e-11eb-87a7-e7d691b1a4f3.png">

[2021-03-26 09:26] naveen521kk commented on #345
did you run `npm install` first?

[2021-03-26 09:31] #342 closed

[2021-03-26 10:18] young-hun-jo commented on #345
Yes. I already installed it.

<img width="676" alt="스크린샷 2021-03-26 오후 7 18 06" src="https://user-images.githubusercontent.com/54783194/112617193-fea60180-8e67-11eb-8142-42d71a9aa386.png">

[2021-03-26 10:32] young-hun-jo commented on #345
the result of ``npm start`` is equal to the former(``npm run deploy``). Should I remove the existing npm, Node.js and reinstall them?

[2021-03-26 11:06] young-hun-jo commented on #345
I resolved this problem to refer #139 !

[2021-03-26 11:07] #345 closed

[2021-03-26 12:14] young-hun-jo opened #346 ""npm run deploy" command Error : [403] Request Error"
**Describe the bug**
1. After finishing ``npm start``, I could get my own github pages(DNS is localhost:0000) cloning your awesome portfolio template.  But when I command ``npm run deploy``, I encountered final problem..

<img width="702" alt="스크린샷 2021-03-26 오후 9 10 21" src="https://user-images.githubusercontent.com/54783194/112629434-ad9e0980-8e77-11eb-8a25-3d674e1a0e5e.png">

2. And I h

[2021-03-29 10:56] sadapasta commented on #346
@young-hun-jo you need to change the remote to your repo. Hope this help

https://docs.github.com/en/github/getting-started-with-github/managing-remote-repositories

[2021-03-29 11:01] young-hun-jo commented on #346
Oh I resolve my problem by myself! Thank you for your comment. I can use your awesome template. Definitely I always refer your copyright. Thanks again!

[2021-03-29 11:22] naveen521kk commented on #346
Hope it's fixed. Closing.

[2021-03-29 11:22] #346 closed

[2021-03-29 11:22] naveen521kk commented on #339
Closing the issue because of no response.

[2021-03-29 11:22] #339 closed

[2021-03-29 11:23] naveen521kk commented on #310
Have a look at the new documentation, and see if it is fixed there. https://github.com/saadpasta/developerFolio/pull/343

[2021-03-29 11:23] #310 closed

[2021-04-03 04:41] jatindhar opened #348 "My website was working fine till yesterday but now its showing blank white page"
I uploaded my website through Gh Pages and it was working fine but since yesterday night its showing white blank page. I didn't made any change in the repository. What can be the issue?
My repo link - https://github.com/jatindhar/jatindhar.github.io

[2021-04-03 14:30] #348 closed

[2021-04-04 10:14] shoebsd31 opened #349 "npm run test is failing"
**Describe the bug**
when tests are run, select all, the test suite for App.test.js fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to command line
2. install all dependencies by running 'npm install'
3. run the following command 'npm run test'
4. select all test cases
5. See error " Cannot set property 'fillStyle' of null"

**Expected behavior**
the test should pass

**Is this resp

[2021-04-07 06:54] kartikcho commented on #349
@shoebsd31 have you turned off lottie (animated illustrations) in `portfolio.js` for your app

[2021-04-07 06:57] shoebsd31 commented on #349
Hi @kartikcho ,

I just followed the steps in the documentation and executed

 npm run test.

[2021-04-07 06:58] kartikcho commented on #349
Alright, I'll take a look at this and see what's up. Thanks for reporting this!

[2021-04-08 10:52] young-hun-jo opened #350 "GA(Google Analytics) can be applied to this template?"
Hi. I have using your template well! I have a question about yours.

I want to use GA(Goole Analytics) analysis in my github pages(applied to your template) and want to analyze how many people visit my page.
Is there a way to use GA in my page?

Thank you!

[2021-04-08 10:57] naveen521kk commented on #350
You can edit
https://github.com/saadpasta/developerFolio/blob/04bfd7df470209ff6935271ce57b418db16e022c/public/index.html#L28-L36
accordingly and GA should work.

[2021-04-08 12:39] young-hun-jo commented on #350
Thanks!

[2021-04-08 12:39] #350 closed

[2021-04-11 05:47] pgyogesh opened #351 "How can I add custom icons"
## Summary
Need to add custom icon in skills sections

### What's new?
There are few icon not available for font-awesome for example icon for PostgreSQL

### Motivation
By doing this, I'll be able to add png icons and not limited to font-awesome

[2021-04-12 04:43] Anshluthra1 commented on #349
unable to run npm start. elifice error. pls help.

<img width="1440" alt="Screenshot 2021-04-12 at 12 27 10 AM" src="https://user-images.githubusercontent.com/76260663/114341517-98afbe80-9b77-11eb-9bd7-d23044b37df8.png">

[2021-04-12 06:30] kartikcho commented on #349
Did you create a `.env` file with your gh access token as mentioned in the docs and the error logs @Anshluthra1?

[2021-04-12 06:31] Anshluthra1 commented on #349
No sir i didnt

[2021-04-12 06:31] Anshluthra1 commented on #349
Can you do me a favor?

[2021-04-12 06:33] Anshluthra1 commented on #349
Can you send me a normal zipped folder of this developer folio, I'll edit that according to my own! Pls

[2021-04-12 06:52] Anshluthra1 commented on #349
??

[2021-04-12 07:34] kartikcho commented on #349
You can do that for any repositories from here but you should fork it first imo

![image](https://user-images.githubusercontent.com/48270786/114357544-7aee5380-9b8f-11eb-8ec8-6bf22f7cc6c0.png)

[2021-04-14 17:03] willwalsh96 opened #353 "More Documentation for ease of user/programmer"
## Summary
I think this project would benefit from more documentation to teach the user what each line of code does. Maybe not every single line, but certainly more could be done. I understand this is a free project made with some intent of helping people build websites. Possible because they don't have the skills yet to do so alone?
Would you guys post what sections you want explained or commente

[2021-04-15 12:13] aravindvnair99 opened #354 "High CPU usage"
Opening https://developerfolio.js.org results in very high CPU usage even when the tab is idle.

[2021-04-18 07:05] kartikcho commented on #354
Could you provide screenshots of high CPU usage and other relevant information?
If the dev server is the one resulting in heavy usage then that is expected and normal.

[2021-04-18 08:42] kartikcho commented on #322
Assigning this to @SJellen

[2021-04-18 08:58] kartikcho commented on #353
Hey @willwalsh96, I understand your point and it would make sense to create an explanation doc if it were built as a sort of teaching project.
While the React patterns and code used isn't that complex, it can still be overwhelming to programmers new to React. However, I don't think we plan to create docs explaining components and the structure anytime soon as maintenance and adding new features ca

[2021-04-18 08:58] #353 closed

[2021-04-18 09:00] kartikcho commented on #351
You could use your own icons by tweaking with the current implementation of the icons to use custom icons.

[2021-04-18 09:00] #351 closed

[2021-04-18 17:43] aravindvnair99 commented on #354
@kartikcho the issue is reproducible by opening the link I provided (taken from the repository's about section) and checking in the operating system's task manager which says the browser is having heavy CPU usage and then opening the browser's task manager shows the tab consuming heavily on the CPU.

[2021-04-19 06:14] kartikcho commented on #354
I don't see any unusually high activity in my processes. Speculating on this, I think it could be caused by Lottie animations being run on GPU (or CPU if you don't have one) thus causing high usage.

On running Lighthouse performance tests, there's much we can improve on assets and code (although unrelated to this issue)

[2021-04-19 07:42] kartikcho commented on #349
I dug around this issue over the weekend and the reason is we're missing a test module dependency as discussed [here](https://github.com/chenqingspring/react-lottie/issues/66).

The default react-scripts test config doesn't support the `setupFiles` property that we need. We could eject from CRA to use manual configs (although it will introduce a bunch of configs and increase complexity of the proj

[2021-04-19 09:08] sadapasta commented on #353
@willwalsh96 Hope this helps

https://www.youtube.com/watch?v=86F11Y56wmI&fbclid=IwAR1aL6zUQuW57G-I0FFwWKD2HAx09M2IvwuhyrR71MazUVqOd315i6u6JSU

[2021-04-21 04:23] zizopixels opened #356 "npm ERR! git dep preparation failed"
After running npm install I'm getting this error :

npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command D:\nodejs\node.exe C:\Users\zizo-pixels\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js install --force --cache=C:\Users\zizo-pixels\AppData\Local\npm-cache --prefer-offline=false --prefer-online=false --offline=false --no-progress --no-save --no-audit
npm ERR! npm WARN usin

[2021-04-21 08:02] VedanthB commented on #356
Hey, i get this error too

[2021-04-21 10:37] kartikcho commented on #356
This seems like a user ended issue and not specific to the project. You could try looking it up for solutions and also provide steps to reproduce the issue if it's still not fixed.

[2021-04-21 11:37] pritishbarabde opened #357 "Add a Preloader Screen"
Add a pre loader screen which looks super cool like this one
Link: https://ashutoshhathidara.com/

[2021-04-23 10:45] Anshluthra1 commented on #356
hello kartik bhaiya. while hosting the devloperFolio , im getting a issue pls help
![Screenshot 2021-04-23 at 4 09 17 PM](https://user-images.githubusercontent.com/76260663/115860387-09e05300-a44f-11eb-9e57-d4b32f42647e.png). pls help asap

[2021-04-23 13:47] kartikcho commented on #356
You probably haven't added your username in the project environment variables @Anshluthra1. Check [this section](https://github.com/saadpasta/developerFolio#linking-portfolio-to-github) out of the readme for more instructions.

[2021-04-23 13:48] Anshluthra1 commented on #356
Done bhaiya already

[2021-04-23 13:49] Anshluthra1 commented on #356
![image](https://user-images.githubusercontent.com/76260663/115880797-bd097600-a468-11eb-9a80-b0163e3bc414.jpeg)![image](https://user-images.githubusercontent.com/76260663/115880798-bd097600-a468-11eb-9213-741cd9b78899.jpeg)

[2021-04-23 13:52] kartikcho commented on #356
You should not push your access token to public or private repositories. Since you're using Netlify for deployment, they have their own build time env variable.

Check this https://docs.netlify.com/configure-builds/environment-variables/

[2021-04-23 13:56] naveen521kk commented on #356
@Anshluthra1 I have deleted your previous post because it leaks your secrets.

[2021-04-23 13:57] Anshluthra1 commented on #356
Okay thanks a lot , so kind but pls help me with this

[2021-04-23 13:58] kartikcho commented on #357
Cool idea, do you have any design in mind? We can add something minimalistic from [Spinkit](https://tobiasahlin.com/spinkit/).

Or my own [spinner](https://github.com/tobiasahlin/SpinKit/pull/149) that @tobiasahlin never approved :(

[2021-04-23 14:24] pritishbarabde commented on #357
I did select this one but was unable to implement it successfully.
Link: https://lottiefiles.com/58266-quad-cube-shifter-1

[2021-04-23 14:40] kartikcho commented on #357
Looks neat!
We already have a `LottiePlayer` component (although I think we'll have to extend it for this), all you need to do is plug the JSON for this into it.

Are you working on this? So I can assign this to you

[2021-04-23 14:48] pritishbarabde commented on #357
Sorry I am a newbie, I just wanted to suggest an improvement.

[2021-04-23 14:52] kartikcho commented on #357
Ah, no problem!
Thanks for the suggestion.

[2021-04-23 15:21] pritishbarabde commented on #357
I hope the feature will be added soon!!

[2021-04-24 12:40] jelonmusk opened #358 "Open for Opportunities shows "No" even if the value is true"
**Describe the bug**
The github profile card field for "Open for Opportunities "shows "No" even if the value is "true"

**Expected behavior**
The field must display YES rather than a No.

**Is this responsiveness Issue**
NO
**Screenshots**
![Screenshot (56)](https://user-images.githubusercontent.com/33628350/115959035-cefe1e00-a527-11eb-9aee-ad4f3254d85f.png)
![Screenshot (57)](https://user-images

[2021-04-24 12:53] naveen521kk commented on #358
Looks like it was broken in https://github.com/saadpasta/developerFolio/pull/333
Found a fix.

[2021-04-24 13:00] naveen521kk commented on #358
@jelonmusk can you check if #359 fixes your issue?

[2021-04-24 13:23] #358 closed

[2021-04-24 14:32] jelonmusk commented on #358
Thanks!
This works perfectly fine.

[2021-04-24 18:30] SJellen commented on #357
The example link loads on page # the after the animation the homepage loads as /#/home
Thats not really possible without changing the website location. Instead it would have to be a component that loads as a useEffect then after the animation Main.js loads.
If all goes well I'll try to have a very basic demo video up in a day or so.

[2021-04-25 17:36] jelonmusk commented on #358
Hi,
It's been a while since I have used Github pages.
I tried deploying it on "https://username.github.io/"
and turns out the site shows readme content instead of the portfolio.
Any help would be appreciated.

[2021-04-25 17:41] naveen521kk commented on #358
@jelonmusk you should either deploy the contents of the build page locally or add with the `.github` folder which has actions which will automatically deploy on push.

[2021-04-25 18:27] jelonmusk commented on #358
Thanks! It's all fixed now.

[2021-05-02 07:47] #349 closed

[2021-05-07 16:04] SJellen opened #363 "Convert Main.js into a functional component"
## Summary
Convert Main.js into a functional component

### What's new?
Convert Main.js into a functional component

### Motivation
As far as I can tell, almost all the components are functional components except for Main.js. For consistency it would be better if Main.js was also a functional component.

### Additional context
Main.js is intertwined with the theme changer so thats the main hangup

[2021-05-18 16:38] #356 closed

[2021-05-18 18:10] kartikcho opened #367 "Extra landing space from header on smaller screens"
**Describe the bug**
On smaller screens, switching app theme with the header expanded adds extra space to the landing as visible in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://developerfolio.js.org/
2. Use a smaller viewport, around 375 pixels wide.
3. Click on header menu and switch theme.
4. Observe the extra 'padding' on top of the lander section.

**Expe

[2021-05-19 02:25] DuanLeeWatkins commented on #367
Hello, I do not see the issue when using chrome.

[2021-05-19 16:13] kartikcho commented on #367
I tried it on Chrome and am still experiencing it. Can you provide the steps that you tried to check this @DuanLeeWatkins?
![image](https://user-images.githubusercontent.com/48270786/118847139-0d9ab480-b8eb-11eb-86fc-4c253ae9504c.png)

[2021-05-20 03:54] ashutosh1297 commented on #367
I was able to replicate this using the steps from the issue on Chrome and Firefox as well. Looks like the whole thing is re-rendered when the theme is changed the first time and the greetings section is pushed down. It just stays there after the menu is closed.

There is a 20px static top padding being given for every component container. We can maybe switch this to bootstrap based/dynamic padding

[2021-06-04 11:41] prsmahajan commented on #367
Hi, I would like to work on this issue, can you suggest me ways to get started?

[2021-06-04 17:19] kartikcho commented on #367
Sure @prsmahajan, take a look at the CSS for [header](https://github.com/saadpasta/developerFolio/blob/master/src/components/header/Header.js) and the [landing component](https://github.com/saadpasta/developerFolio/blob/master/src/containers/greeting/Greeting.js). Try to figure out why this is being caused, also read the discussion above for more context.

Hope this helps you get started on it.

[2021-06-06 01:37] mhowell11 opened #373 "Change Tab Title on a Fork"
Hello,

Thank you for creating this wonderful template. How do you change the metadata for the text next to the favicon on the tab? Even though I have changed my name in the JSON file you specified and the favicon, that text next to the favicon still says 'Saad Pasta Portfolio'. What file is that in? Thank you!

[2021-06-06 03:25] naveen521kk commented on #373
You can simply edit https://github.com/saadpasta/developerFolio/blob/master/public/index.html#L51 and possibly other metadata's also.

[2021-06-06 03:42] mhowell11 commented on #373
Well that did the trick. Thank you @naveen521kk !

[2021-06-06 03:42] #373 closed

[2021-06-10 18:27] mizzunet opened #377 "Error while npm start"
**Describe the bug**
Error when running `npm start`

Logs found by the output
http://transfer.sh/1e9clP7/2021-06-10T18_21_11_219Z-debug.log

[code]
**To Reproduce**
Steps to reproduce the behavior:
Run following
[code]

**Expected behavior**
Work as expected

**Is this responsiveness Issue**
YES

**Desktop (please complete the following information):**
 - OS: Ubuntu

[2021-06-10 18:33] #377 closed

[2021-06-23 04:59] gajanandh commented on #367
Hi,
 I was able to solve the issue by providing max-height to the React headroom wrapper, Please suggest if this can cause any issue

[2021-06-23 05:12] zainkhalid91 opened #381 "Codersrank username issue"
I get the coders rank badge check to true but can't find the code where I have to write my coders rank username. It says you have to make changes in "src/containers/skillProgress/skillProgress.js:17:62".
In skillProgress class I can't find the related code.
For reference I am attaching the image.
![Screenshot 2021-06-23 101138](https://user-images.githubusercontent.com/43206893/123039399-7d7ced00-

[2021-06-24 15:40] #367 closed

[2021-06-25 12:24] ashwink-tech commented on #351
In which file is this implementation present?

[2021-06-27 07:25] kartikcho commented on #351
[This](https://github.com/saadpasta/developerFolio/blob/master/src/portfolio.js#L56) is where the icons are being defined and they're being rendered [here](https://github.com/saadpasta/developerFolio/blob/master/src/components/softwareSkills/SoftwareSkill.js).

[2021-06-27 09:19] RasenGUY opened #384 "Image not loading"
Hey guys so i tried this project out, but it seems the logo's don't seem to be loading
It appears that the link to the image "/static/....../logo" is read as undefined,

When logging the school object, it appears that the link rests in `school.logo.default` instead of `school.logo`

The same occurs when loading the images on workExperience card, the link to the company rests in an object called lo

[2021-06-29 06:30] #381 closed

[2021-06-30 07:37] ashwink-tech commented on #351
Thanks @kartikcho

[2021-07-03 05:12] LilCrispyVal opened #387 "Github Pages Deploys README.md"
I've tried so hard to find out what the bloody hell is the problem with this, but I can't seem to find the source of why whenever I deploy a github, it always deploys the README.md do you have a video or can you give a detailed description to why it's doing this?

[2021-07-03 12:22] naveen521kk commented on #387
Didn't Github Actions deploy it?

[2021-07-03 12:24] naveen521kk commented on #387
Hmm, ok that action is missing, and I removed it by mistake sorry, will add it back.

[2021-07-03 20:32] LilCrispyVal commented on #387
Do I need to git clone again?

[2021-07-03 20:47] LilCrispyVal commented on #387
Cause cloning it leads me to remote: Permission to saadpasta/developerFolio.git denied to LilCrispyVal. Etc etc. So I downloaded it via zip folder.

[2021-07-04 01:26] kartikcho commented on #387
Hey @LilCrispyVal, you should fork it to your own account first and then clone that fork to your environment. You may also update your fork from this repo from time to time to stay up-to-date with the new changes here.

Also, wait for the linked PR to get merged before you do so to have the issue fixed in your version of the repo.

[2021-07-05 10:57] #387 closed

[2021-07-05 16:01] LilCrispyVal opened #389 "Video Background Request"
Is there a way to add in a video background? I know there is global color css but if there is any way to change the background not just color, that would be very helpful thank you!

[2021-07-09 15:17] kartikcho commented on #389
Hey @LilCrispyVal that's a nice suggestion but for that we need to write CSS for it and find a place where we can insert the video background.
If you can design how it would look and find a nice place for it somewhere on your local environment, you can add a screenshot here for discussion. If everyone else agrees, we'll make it a part of main branch!

I'll keep this issue open in case anyone else

[2021-07-09 15:22] kartikcho commented on #384
Hey @RasenGUY , sorry for the late reply. Yes I see it on the deployed version too, even the color picker javascript for the cards seems to be broken. There's also some CSS issues like the logo font and stuff.

This is a concerning issue because the portfolio looks broken without it.
@naveen521kk I think I reported this before too and iirc you mentioned the PR that caused these breaking changes. M

[2021-07-09 15:24] kartikcho commented on #322
This has been delivered in #355

[2021-07-09 15:24] #322 closed

[2021-07-09 15:32] RasenGUY commented on #384
Ok I'm on it. I can look at the other issues, as well. don't know where to find it though so if you link it here I will take a look at the other things and fix them.

[2021-07-09 16:54] kartikcho commented on #384
Sure, I'll tag you on other issues too once you're done with this one or if you find anything interesting, you can ask to take them up yourself!

[2021-07-10 17:25] RasenGUY commented on #384
hey kartikcho, I've tried to reproduce the bugs, but it seems the issues were already addressed. I tried to push this website on a Vercel server but I kept getting into an error. During the build, I noticed I got compilation errors that didn't allow the app to build. I'm suspecting that these errors were/are playing a role in the current build @https://developerfolio.js.org/

so I fixed the errors

[2021-07-10 17:50] kartikcho commented on #384
Hey @RasenGUY, I don't see any open PR that you're referring to. Could you link to it?

[2021-07-10 18:04] RasenGUY commented on #384
One sec, submitting the PR as we speak

[2021-07-10 20:34] RasenGUY commented on #384
just submitted the PR

[2021-07-11 04:54] naveen521kk commented on #384
I think the problem starts from https://github.com/saadpasta/developerFolio/commit/6aefe2a6e0372f28ca6109dc59b7417089a94944

Let me revert it and see whether it fixes things.

[2021-07-11 05:46] #384 closed

[2021-07-11 22:56] LilCrispyVal opened #393 "Can't deploy Netlify"
This is rather confusing, for my github, (as you can click on my profile to check), I'm not able to deploy it on netlify, I'm trying every single thing to do.

[2021-07-11 23:02] LilCrispyVal commented on #393
Is it possible to make a tutorial as well? This is really complicated as I rather not do gh-pages anymore, I'm scared since my website is public sourced, anyone can join in.

[2021-07-16 18:43] kartikcho commented on #393
Hey it's actually quite simple and would only take like 5 mins. Check [this](https://www.netlify.com/blog/2016/09/29/a-step-by-step-guide-deploying-on-netlify/) guide out, it's very descriptive. If you still can't figure it out, reach out to me through mail and I can guide you on Discord or something.

[2021-07-25 07:26] #393 closed

[2021-07-27 13:08] AsavariA commented on #299
Hey, if this is of any help, you can fetch Medium and Dev.to article information using the following links:

- Medium: https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@username [with the '@']
- Dev.to : https://dev.to/api/articles?username=username

[2021-07-28 06:11] njau58 opened #394 "Deployment with netlify"
**Describe the bug**
@saadpasta
Starting the application works fine on local machine. Deploying it with netlify works, however, the style used for the logo is lost.
And cannot access data from github eg profile avatar and open source projects, thus not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected b

[2021-07-28 10:48] #394 closed

[2021-07-28 10:49] njau58 commented on #394
Resolved. Adding profile.json fixed the issue

[2021-08-16 04:34] AbhishekBhatt072003 opened #395 "Add a "Buy me a coffee" button to portfolio"
What if we add a "Buy me a coffee" button at the end of the folio near the contact-me sections. Using this feature we can redirect users to an external website where users can donate a sum of money (whatever they wanted ) for the hard and good work by the folio owner.

If you want you can check this feature over here:-
[https://abhishekbhatt072003.github.io/Portfolio/#contact](url)

[2021-08-19 18:14] AbhipsaGuru1012 commented on #357
@kartikcho can I work on this issue?

[2021-08-20 05:19] kartikcho commented on #357
There's an already open PR #366 on this although the author, @ashutosh1297, hasn't been active for a while.
Maybe you can pick up their work and carry it to the finish line, starting with #365 since it's related to #366.
Otherwise you can pick up a different issue altogether, whichever is more comfortable for you.

[2021-08-20 15:47] saadpasta commented on #395
That's really great but I don't think that’s necessary now.
Thanks @AbhishekBhatt072003

[2021-08-20 15:47] #395 closed

[2021-08-20 17:06] AbhipsaGuru1012 commented on #357
@kartikcho I have made a PR. Please review and suggest if any changes are needed.

[2021-08-20 19:40] srishti3418 opened #397 "Regarding not working of open source option mentioned in header of portfolio"
When I made change in portfolio.js to make my custom portfolio and forked and pushed the changes to github and after deploying it on netlify. Open source section is not visible. Can you tell me why is this happening??

[2021-08-25 13:54] arghyadeep99 commented on #397
It's possible you didn't the .env file step properly. Can you check and verify?

[2021-08-30 16:38] kartikcho opened #399 "Allow users to tweak SEO"
Our current application has pretty much non-existent SEO and no option to help users tweak it either.
We should look into making this accessible for new folks with proper documentation explaining its importance and use too.

[2021-08-30 17:54] sungyeonu opened #400 "Font variant ligature in logo-name is broken"
font-variant-ligatures is broken.

**Expected behavior**
font ligature should work with nice cursive style

**Is this responsiveness Issue**
NO

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/47223114/131382933-394096f5-321d-4e5e-aa9f-1eaf616bc7c1.png)

should look like
![image](https://user-images.githubusercontent.c

[2021-08-30 18:04] naveen521kk commented on #400
This exists on the main project page also. I remember fixing it in https://github.com/saadpasta/developerFolio/commit/18c1a9fd72f89bf91d5e45bf31d7c36b5df88e6c but not sure what happened.

[2021-08-31 06:03] kartikcho commented on #400
@naveen521kk probably happened in https://github.com/saadpasta/developerFolio/commit/18c1a9fd72f89bf91d5e45bf31d7c36b5df88e6c, I see the font file has been touched.

[2021-08-31 06:05] kartikcho commented on #397
@srishti3418 is your issue resolved?
Thanks for helping out Arghyadeep!

[2021-08-31 06:13] naveen521kk commented on #400
I think https://github.com/saadpasta/developerFolio/commit/189dab9155929d360e21218b24a06d94fa2a5e9b, I could see it touched the font file.

[2021-08-31 07:51] #400 closed

[2021-08-31 07:53] #397 closed

[2021-08-31 07:53] #363 closed

[2021-08-31 07:54] kartikcho commented on #363
Changed in https://github.com/saadpasta/developerFolio/commit/189dab9155929d360e21218b24a06d94fa2a5e9b

[2021-09-01 17:43] Amoghtech commented on #357
Is this issue open?

[2021-09-03 23:57] ariel-frischer opened #403 "Can't Deploy Without Access Token Being Revoked"
**Describe the bug**
When I follow instructions, somehow the access token from my `.env` file gets added to git remote repo, causing github to revoke the access token. My `.gitignore` definitely has `.env` added to it, so I'm not sure how this is happening, perhaps the build/deploy stage is somehow adding the token to the remote repo.
Email:
"We noticed that a valid OAuth, GitHub App or Personal A

[2021-09-05 19:21] MrAsimZahid opened #404 "Add instructions to customize Lottie animations in the docs"
Hi,

I want to change SVGs/image appearing on the right side of screen. How can I do it?

Secondly, on the top left corner, I want to keep the old signature look of the name like [here](https://developerfolio.js.org/). How can I do it?

![portfolio screen](https://user-images.githubusercontent.com/23510373/132138790-7224f53e-7e74-43d2-a10d-87241beeea26.png)

[2021-09-05 19:37] MrAsimZahid opened #405 "Kaggle profile"
In social connections, please add [kaggle](https://www.kaggle.com/) profile attachment like github.

It's like a GitHub profile for data scientists and AI engineers.

Thanks.

[2021-09-12 16:54] kartikcho commented on #404
Sorry for the late answer, I hope this helps if you haven't already figured this out.

1) The SVG animations are displayed using Lottie. Checkout https://lottiefiles.com/ to find more animations and add them in `src/assets/lottie`. Then replace them wherever the existing ones are being used in the components.

2) This was an old bug that has been fixed in the recent versions. Pull the latest chang

[2021-09-12 17:11] kartikcho commented on #405
Sounds like a great addition but unfortunately I haven't used it personally so I don't have much ideas on how we could add it.
Do you know if they provide userdata through an API or something?

Also we would need to finalize a design for the component before proceeding with any PRs.

[2021-09-12 18:18] MrAsimZahid commented on #405
For starting, we can do is add a kaggle button in socials.
https://mrasimzahid.github.io/

[2021-09-12 18:21] MrAsimZahid commented on #404
I have changed it. I found the animated boolean option in portfolio.js. Although, what you have defined is also important.

[2021-09-13 07:47] kartikcho commented on #405
I don't see it in your deployed version, unless you were suggesting to add it there. This sounds like a good start, I'll add the option for a Kaggle profile to social links.
We should still continue discussion on adding a component for displaying user's Kaggle data and stats.

[2021-09-13 13:36] kartikcho commented on #403
It is hard to debug this without more information.
A bunch of users have faced this problem while deploying this project and we have extensive docs and wiki just to help with this. I would suggest read the docs and the past issues again to see if you can resolve your issue.

[2021-09-13 13:36] #403 closed

[2021-09-14 05:21] #405 closed

[2021-09-14 14:09] kartikcho commented on #399
Welp, this is concerning

![image](https://user-images.githubusercontent.com/48270786/133273238-a5edec57-a83e-4570-ac01-157b2b9d1ec6.png)

[2021-09-16 08:31] #399 closed

[2021-09-17 11:02] MrAsimZahid commented on #190
https://mrasimzahid.medium.com/how-to-deploy-developer-folio-on-github-pages-29c282f56749

If this is good, and the right way then I can convert it into the wiki.
This works for me. So, I wrote it
Thanks.

[2021-09-17 11:20] MrAsimZahid opened #412 "Header Logo Title Font Agustina Not Working"
**Describe the bug**
Agustina font in the header logo is not working properly which is located in the top left corner in the brackets </>.
https://mrasimzahid.github.io/

![not_working](https://user-images.githubusercontent.com/23510373/133773977-21c9f8ab-6d36-40ab-9273-bfe39042ed4d.png)

**To Reproduce**
I just cloned the repo,
run it as instructed in the documentation but simple text is showing.

[2021-09-17 13:52] naveen521kk commented on #412
It works in https://developerfolio.js.org and seems like a duplicate of https://github.com/saadpasta/developerFolio/issues/400

[2021-09-17 13:52] #412 closed

[2021-09-18 14:47] kartikcho commented on #190
Hey @MrAsimZahid thanks for writing a blog to help people out! I took a look and it seems good for the wiki (although we could improve it by simplifying the terminal commands section and further explaining it for beginners).

The wiki should contain steps on deploying to <username>.github.io and if possible, explaining how to deal with `.env` file secrets so users stop accidentally pushing them to

[2021-09-18 14:59] kartikcho opened #413 "Lotties/graphics should be centered in all sections"
The illustrations or Lotties look off in their respective section layouts and should be center aligned to blend well with the rest of the page.

**Screenshots**

The new layout should have the lotties centered instead of being left aligned as in screenshot below.

![image](https://user-images.githubusercontent.com/48270786/133893025-9fd6f4a4-35e3-429d-b0a0-d2162da15d27.png)

[2021-09-18 20:55] MrAsimZahid opened #414 "Leet Code profile social link"
## Summary
Leet code is one of the developer's profiles that shows proficiency in DSA.

### What's new?
Request for leetcode profile link in socials. It's a gem in developer's profile and recruiters do look for it. Even Google recruiter's explicitly mentions to add leet code profile on the resume.

Please add leet code social link.
Thanks.

Example profile link:
https://leetcode.com/mrasimzahid/

[2021-09-19 08:03] saadpasta commented on #413
@kartikcho can you provide example of what you mean

[2021-09-19 08:08] saadpasta commented on #357
@Amoghtech yes you can work on this one but try to use the above Lottie file provided by @pritishbarabde

[2021-09-19 08:10] saadpasta commented on #389
@kartikcho we are following a minimalists design for now I guess background video is not something we need. I am open to adding your Videos as a component similar to blog component something like that

[2021-09-19 08:50] kartikcho commented on #389
You're right, that is why I kept it up for discussion since adding video background can be tricky to fit with the rest of the design.
You may close this or keep it open if someday a designer decides to contribute to the project, I'm okay either way.

[2021-09-19 10:44] kartikcho commented on #413
My previous screenshot doesn't exactly describe the issue clearly but the graphics look more 'off' in other sections like the example below:

(The blue is the center of the layout)

![image](https://user-images.githubusercontent.com/48270786/133921425-52363eb8-a13f-4d16-ac06-d67a3aa407a9.png)

Looking at the CSS, it does have equal margin horizontally but it doesn't look that way (might be overthi

[2021-09-19 18:38] MrAsimZahid commented on #190
@kartikcho How can I push the wiki to the repository. I have completed writing it. Need to publish it.

[2021-09-19 20:58] sadapasta commented on #413
ahhhh okay 👌 ✅

[2021-09-19 21:06] saadpasta opened #415 "Add carousel slider in work experience and achievement section"
## Summary
We can add a Carousel slider in the work experience and Achievement & certificate section so that more experience and certificates can be added without just increasing the length of the portfolio. I found that if we add more achievements, the cards are increasing on the same page instead of the slider can do better for adding more than cards.

## Additional context
Looks at the followin

[2021-09-20 08:54] iamgk808 opened #416 "added card images are small in size , is there anyways to adjust it ???"
![Screenshot_20210920_142101](https://user-images.githubusercontent.com/83769743/133977518-939e1cc6-6523-4dc5-9929-d44d2794f45b.png)

[2021-09-20 10:13] MrAsimZahid commented on #412
@naveen521kk I have cloned the new repo. Working well locally, Redeployed it but no success.

[2021-09-20 10:41] iamgk808 commented on #416
problem solved by changing  image height & width to 250 * 250

[2021-09-20 10:41] #416 closed

[2021-09-20 14:26] kartikcho commented on #190
@MrAsimZahid [this guide](https://gist.github.com/omaraboumrad/35654da0a376c57a2e0ab4d92ad0c339) should have everything you need to know.
Let me know if there are any issues or if you're having trouble with this guide, I can publish the page to the wiki on your behalf (with proper attribution of course) and add you to contributors.

[2021-09-21 17:15] nayabatir1 commented on #413
@saadpasta may I help

[2021-09-21 19:24] saadpasta commented on #413
Yeah man go for it

On Tue, 21 Sep 2021, 10:15 pm nayabatir1, ***@***.***> wrote:

[2021-09-22 00:35] tabassum2507 commented on #414
Would love to work on it!

[2021-09-22 06:27] priyanshk20 commented on #415
Hey! I want to take up this task @saadpasta